section.box-section.block-content-tourlist.background-body
    .container 
        .box-content-main.pt-20.pb-0
            .content-right
                include ../../elements/box-filters.pug

                .box-grid-property.wow.fadeIn
                    .row
                        -
                            const propertyLists = [
                                {
                                    image: "assets/imgs/page/homepage9/real1.png",
                                    title: 'Regal North Hills',
                                    location: 'New South Wales, Australia',
                                    price: '$48.25',
                                    link: 'property-detail.html'
                                },
                                {
                                    image: "assets/imgs/page/homepage9/real2.png",
                                    title: 'Majestic Ridge Estates',
                                    location: 'New South Wales, Australia',
                                    price: '$17.32',
                                    link: 'property-detail.html'
                                },
                                {
                                    image: "assets/imgs/page/homepage9/real3.png",
                                    title: 'Crownstone Meadows',
                                    location: 'New South Wales, Australia',
                                    price: '$15.63',
                                    link: 'property-detail.html'
                                },
                                {
                                    image: "assets/imgs/page/homepage9/real4.png",
                                    title: 'Sovereign  Residences',
                                    location: 'New South Wales, Australia',
                                    price: '$48.25',
                                    link: 'property-detail.html'

                                },
                                {
                                    image: "assets/imgs/page/homepage9/real5.png",
                                    title: 'Noble Crest Gardens',
                                    location: 'New South Wales, Australia',
                                    price: '$17.32',
                                    link: 'property-detail.html'
                                },
                                {
                                    image: "assets/imgs/page/homepage9/real6.png",
                                    title: 'Grandview Highlands',
                                    location: 'New South Wales, Australia',
                                    price: '$15.63',
                                    link: 'property-detail.html'
                                },
                                {
                                    image: "assets/imgs/page/homepage9/real1.png",
                                    title: 'Regal North Hills',
                                    location: 'New South Wales, Australia',
                                    price: '$48.25',
                                    link: 'property-detail.html'
                                },
                                {
                                    image: "assets/imgs/page/homepage9/real2.png",
                                    title: 'Majestic Ridge Estates',
                                    location: 'New South Wales, Australia',
                                    price: '$17.32',
                                    link: 'property-detail.html'
                                },
                                {
                                    image: "assets/imgs/page/homepage9/real3.png",
                                    title: 'Crownstone Meadows',
                                    location: 'New South Wales, Australia',
                                    price: '$15.63',
                                    link: 'property-detail.html'
                                },
                                {
                                    image: "assets/imgs/page/homepage9/real4.png",
                                    title: 'Sovereign  Residences',
                                    location: 'New South Wales, Australia',
                                    price: '$48.25',
                                    link: 'property-detail.html'
                                },
                                {
                                    image: "assets/imgs/page/homepage9/real5.png",
                                    title: 'Noble Crest Gardens',
                                    location: 'New South Wales, Australia',
                                    price: '$17.32',
                                    link: 'property-detail.html'
                                },
                                {
                                    image: "assets/imgs/page/homepage9/real6.png",
                                    title: 'Grandview Highlands',
                                    location: 'New South Wales, Australia',
                                    price: '$15.63',
                                    link: 'property-detail.html'
                                },
                                {
                                    image: "assets/imgs/page/homepage9/real4.png",
                                    title: 'Sovereign  Residences',
                                    location: 'New South Wales, Australia',
                                    price: '$48.25',
                                    link: 'property-detail.html'
                                },
                                {
                                    image: "assets/imgs/page/homepage9/real5.png",
                                    title: 'Noble Crest Gardens',
                                    location: 'New South Wales, Australia',
                                    price: '$17.32',
                                    link: 'property-detail.html'
                                },
                                {
                                    image: "assets/imgs/page/homepage9/real6.png",
                                    title: 'Grandview Highlands',
                                    location: 'New South Wales, Australia',
                                    price: '$15.63',
                                    link: 'property-detail.html'
                                },
                                {
                                    image: "assets/imgs/page/homepage9/real5.png",
                                    title: 'Noble Crest Gardens',
                                    location: 'New South Wales, Australia',
                                    price: '$17.32',
                                    link: 'property-detail.html'
                                }
                            ]
                        each item in propertyLists
                            .col-xl-3.col-lg-4.col-md-6.wow.fadeInUp  
                                .card-journey-small.card-grid-real.background-card 
                                    .card-image 
                                        a.wish(href="#")
                                            svg(width='20', height='18', viewbox='0 0 20 18', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                path(d='M17.071 10.1422L11.4141 15.7991C10.6331 16.5801 9.36672 16.5801 8.58568 15.7991L2.92882 10.1422C0.9762 8.1896 0.9762 5.02378 2.92882 3.07116C4.88144 1.11853 8.04727 1.11853 9.99989 3.07116C11.9525 1.11853 15.1183 1.11853 17.071 3.07116C19.0236 5.02378 19.0236 8.1896 17.071 10.1422Z', stroke='', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
                                        img(src= item.image, alt="Travila")
                                    .card-info 
                                        .card-rating 
                                            .card-left 
                                            .card-right 
                                                span.rating 4.96 
                                                    span.text-sm-medium.neutral-500 (672 reviews)

                                        .card-title 
                                            a.text-lg-bold.neutral-1000(href= item.link)= item.title 
                                        .card-program 
                                            .card-location 
                                                p.text-location.text-sm-medium.neutral-500= item.location
                                            .card-facilities 
                                                .item-facilities 
                                                    p.room.text-md-medium.neutral-1000 4 rooms
                                                .item-facilities 
                                                    p.size.text-md-medium.neutral-1000 168 m2
                                                .item-facilities 
                                                    p.bed.text-md-medium.neutral-1000 5 Beds
                                                .item-facilities 
                                                    p.bathroom.text-md-medium.neutral-1000 2 Bathrooms
                                            .endtime 
                                                .card-price 
                                                    h6.heading-6.neutral-1000= item.price
                                                    p.text-md-medium.neutral-500 / night
                                                .card-button 
                                                    a.btn.btn-gray(href="property-detail.html") Book Now

                include ../../elements/pagination.pug
