section.section-box.box-banner-hotel-detai-2
    .box-banner-hotel-detai-2-inner
        .container 
            .d-flex.justify-content-center.mb-20 
                a.btn.btn-brand-secondary(href="#") Luxury Hotel Experience
            h2.color-white.mb-20 Our Rooms & Suites
            h6.color-white Experience the Epitome of Parisian Luxury at Le Meurice Hotel: Where Timeless Elegance and Unmatched Sophistication Await Your Arrival.