section.section-box.box-payments.box-payments-hotel.background-body
    .container 
        .box-payment-style-2.background-4
            .row.align-items-center 
                .col-lg-6.mb-30
                    .box-left-payment
                        span.btn.btn-tag-white Easy payment
                        h4.mb-25.mt-20.neutral-1000 Luxury Travel Redefined: Your Passport to Global Glamour
                        p.text-xl-medium.neutral-500.mb-35 Discover how you can offset your adventure's carbon emissions and support the sustainable initiatives practiced by our operators worldwide.
                        
                .col-lg-6
                    .box-image-payment-2
                        .row.align-items-center  
                            .col-sm-4.mb-30
                                img.bdrd8.w-100(src="assets/imgs/page/homepage2/payment.png", alt="Travila")
                            .col-sm-4.mb-30
                                img.bdrd8.w-100.mb-15(src="assets/imgs/page/homepage2/payment2.png", alt="Travila")
                                img.bdrd8.w-100.mb-15(src="assets/imgs/page/homepage2/payment3.png", alt="Travila")
                            .col-sm-4.mb-30
                                img.bdrd8.w-100(src="assets/imgs/page/homepage2/payment4.png", alt="Travila")
                                img.bdrd8.w-100(src="assets/imgs/page/homepage2/payment5.png", alt="Travila")