.section-box
    .container 
        .box-grid-tours.tour-list-dashboard.wow.fadeIn
            .box-button-search 
                a.btn.btn-sort(href="#")
                    svg(width='18', height='18', viewbox='0 0 18 18', fill='none', xmlns='http://www.w3.org/2000/svg')
                        g(clip-path='url(#clip0_1288_24203)')
                            path(d='M8.25 6L5.25 3M5.25 3L2.25 6M5.25 3L5.25 15', stroke='', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
                            path(d='M9.75 12L12.75 15M12.75 15L15.75 12M12.75 15L12.75 3', stroke='', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
                        defs
                            clippath#clip0_1288_24203
                                rect(width='18', height='18', fill='white')
                .dropdown
                    a.btn.btn-search#dropdownCountry(type='button', data-bs-toggle='dropdown', aria-expanded='false', data-bs-display='static') 
                        span Country
                        svg(width='12', height='7', viewbox='0 0 12 7', fill='none', xmlns='http://www.w3.org/2000/svg')
                            path(d='M1 1L6 6L11 1', stroke='', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
                    ul.dropdown-menu.dropdown-menu-light(aria-labelledby='dropdownCountry')
                        li
                            a.dropdown-item.active(href='#') Vietnam
                        li
                            a.dropdown-item(href='#') Korea
                        li
                            a.dropdown-item(href='#') Japan
                        li
                            a.dropdown-item(href='#') United State
                .dropdown
                    a.btn.btn-search#dropdownProvince(type='button', data-bs-toggle='dropdown', aria-expanded='false', data-bs-display='static')  
                        span State/Province/Region
                        svg(width='12', height='7', viewbox='0 0 12 7', fill='none', xmlns='http://www.w3.org/2000/svg')
                            path(d='M1 1L6 6L11 1', stroke='', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
                    ul.dropdown-menu.dropdown-menu-light(aria-labelledby='dropdownProvince')
                        li
                            a.dropdown-item.active(href='#') Vietnam
                        li
                            a.dropdown-item(href='#') Korea
                        li
                            a.dropdown-item(href='#') Japan
                        li
                            a.dropdown-item(href='#') United State
                .dropdown
                    a.btn.btn-search#dropdownStatus(type='button', data-bs-toggle='dropdown', aria-expanded='false', data-bs-display='static')  
                        span Tour Status
                        svg(width='12', height='7', viewbox='0 0 12 7', fill='none', xmlns='http://www.w3.org/2000/svg')
                            path(d='M1 1L6 6L11 1', stroke='', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
                    ul.dropdown-menu.dropdown-menu-light(aria-labelledby='dropdownStatus')
                        li
                            a.dropdown-item.active(href='#') Complete
                        li
                            a.dropdown-item(href='#') Pending
                        li
                            a.dropdown-item(href='#') Processing
                        li
                            a.dropdown-item(href='#') Cancel
                .dropdown
                    a.btn.btn-search#dropdownCity(type='button', data-bs-toggle='dropdown', aria-expanded='false', data-bs-display='static')  
                        span City/Town
                        svg(width='12', height='7', viewbox='0 0 12 7', fill='none', xmlns='http://www.w3.org/2000/svg')
                            path(d='M1 1L6 6L11 1', stroke='', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
                    ul.dropdown-menu.dropdown-menu-light(aria-labelledby='dropdownCity')
                        li
                            a.dropdown-item.active(href='#') London
                        li
                            a.dropdown-item(href='#') New York
                        li
                            a.dropdown-item(href='#') Tokyo
                        li
                            a.dropdown-item(href='#') Toronto
                .dropdown
                    a.btn.btn-search#dropdownDifficulty(type='button', data-bs-toggle='dropdown', aria-expanded='false', data-bs-display='static')  
                        span Difficulty
                        svg(width='12', height='7', viewbox='0 0 12 7', fill='none', xmlns='http://www.w3.org/2000/svg')
                            path(d='M1 1L6 6L11 1', stroke='', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
                    ul.dropdown-menu.dropdown-menu-light(aria-labelledby='dropdownDifficulty')
                        li
                            a.dropdown-item.active(href='#') Hard
                        li
                            a.dropdown-item(href='#') Medium
                        li
                            a.dropdown-item(href='#') Easy
                        li
                            a.dropdown-item(href='#') Standard
                .box-form-search 
                    form.form-search(action="#") 
                        input.form-control(type="text")
                        button.btn.btn-black-sm Search
            .row
                -
                    const itemLists = [
                        {
                            index: "1",
                            image: "assets/imgs/page/tours/tour3.png",
                            title: '1-Hour Bay Cruise by Boat in San Francisco ',
                            duration: '2 days, 3 nights',
                            passenger: '6-8 guest',
                            price: '$48.25',
                            link: '#'
                        },
                        {
                            index: "2",
                            image: "assets/imgs/page/tours/tour4.png",
                            title: 'New York City: Manhattan Island Helicopter Tour',
                            duration: '2 days, 3 nights',
                            passenger: '6-8 guest',
                            price: '$48.25',
                            link: '#'
                        },
                        {
                            index: "3",
                            image: "assets/imgs/page/tours/tour5.png",
                            title: 'Oahu: Private Surfing Lesson in Waikiki Beach',
                            duration: '2 days, 3 nights',
                            passenger: '6-8 guest',
                            price: '$48.25',
                            link: '#'
                        },
                        {
                            index: "4",
                            image: "assets/imgs/page/tours/tour6.png",
                            title: 'Top of the Rock Observation Deck Ticket',
                            duration: '2 days, 3 nights',
                            passenger: '6-8 guest',
                            price: '$48.25',
                            link: '#'
                        },
                        {
                            index: "5",
                            image: "assets/imgs/page/tours/tour7.png",
                            title: 'Honolulu: Diamond Head Cruise with Drinks ',
                            duration: '2 days, 3 nights',
                            passenger: '6-8 guest',
                            price: '$48.25',
                            link: '#'
                        },
                        {
                            index: "6",
                            image: "assets/imgs/page/tours/tour8.png",
                            title: 'From Paris: Day Trip to Champagne with 8 Tastings & Lunch',
                            duration: '2 days, 3 nights',
                            passenger: '6-8 guest',
                            price: '$48.25',
                            link: '#'
                        },
                        {
                            index: "7",
                            image: "assets/imgs/page/tours/tour9.png",
                            title: 'From Paris: Day Trip to Champagne with 8 Tastings & Lunch',
                            duration: '2 days, 3 nights',
                            passenger: '6-8 guest',
                            price: '$48.25',
                            link: '#'
                        },
                        {
                            index: "8",
                            image: "assets/imgs/page/tours/tour10.png",
                            title: 'From Paris: Day Trip to Champagne with 8 Tastings & Lunch',
                            duration: '2 days, 3 nights',
                            passenger: '6-8 guest',
                            price: '$48.25',
                            link: '#'
                        },
                        {
                            index: "9",
                            image: "assets/imgs/page/tours/tour11.png",
                            title: 'From Paris: Day Trip to Champagne with 8 Tastings & Lunch',
                            duration: '2 days, 3 nights',
                            passenger: '6-8 guest',
                            price: '$48.25',
                            link: '#'
                        },
                        {
                            index: "10",
                            image: "assets/imgs/page/tours/tour12.png",
                            title: 'From Paris: Day Trip to Champagne with 8 Tastings & Lunch',
                            duration: '2 days, 3 nights',
                            passenger: '6-8 guest',
                            price: '$48.25',
                            link: '#'
                        },
                        {
                            index: "11",
                            image: "assets/imgs/page/tours/tour13.png",
                            title: 'From Paris: Day Trip to Champagne with 8 Tastings & Lunch',
                            duration: '2 days, 3 nights',
                            passenger: '6-8 guest',
                            price: '$48.25',
                            link: '#'
                        },
                        {
                            index: "12",
                            image: "assets/imgs/page/tours/tour14.png",
                            title: 'From Paris: Day Trip to Champagne with 8 Tastings & Lunch',
                            duration: '2 days, 3 nights',
                            passenger: '6-8 guest',
                            price: '$48.25',
                            link: '#'
                        },
                        {
                            index: "13",
                            image: "assets/imgs/page/tours/tour15.png",
                            title: 'From Paris: Day Trip to Champagne with 8 Tastings & Lunch',
                            duration: '2 days, 3 nights',
                            passenger: '6-8 guest',
                            price: '$48.25',
                            link: '#'
                        },
                        {
                            index: "14",
                            image: "assets/imgs/page/tours/tour16.png",
                            title: 'From Paris: Day Trip to Champagne with 8 Tastings & Lunch',
                            duration: '2 days, 3 nights',
                            passenger: '6-8 guest',
                            price: '$48.25',
                            link: '#'
                        },
                        {
                            index: "15",
                            image: "assets/imgs/page/tours/tour17.png",
                            title: 'From Paris: Day Trip to Champagne with 8 Tastings & Lunch',
                            duration: '2 days, 3 nights',
                            passenger: '6-8 guest',
                            price: '$48.25',
                            link: '#'
                        },
                        {
                            index: "16",
                            image: "assets/imgs/page/tours/tour3.png",
                            title: 'From Paris: Day Trip to Champagne with 8 Tastings & Lunch',
                            duration: '2 days, 3 nights',
                            passenger: '6-8 guest',
                            price: '$48.25',
                            link: '#'
                        },
                        {
                            index: "13",
                            image: "assets/imgs/page/tours/tour4.png",
                            title: 'From Paris: Day Trip to Champagne with 8 Tastings & Lunch',
                            duration: '2 days, 3 nights',
                            passenger: '6-8 guest',
                            price: '$48.25',
                            link: '#'
                        },
                        {
                            index: "14",
                            image: "assets/imgs/page/tours/tour5.png",
                            title: 'From Paris: Day Trip to Champagne with 8 Tastings & Lunch',
                            duration: '2 days, 3 nights',
                            passenger: '6-8 guest',
                            price: '$48.25',
                            link: '#'
                        },
                        {
                            index: "15",
                            image: "assets/imgs/page/tours/tour6.png",
                            title: 'From Paris: Day Trip to Champagne with 8 Tastings & Lunch',
                            duration: '2 days, 3 nights',
                            passenger: '6-8 guest',
                            price: '$48.25',
                            link: '#'
                        },
                        {
                            index: "16",
                            image: "assets/imgs/page/tours/tour7.png",
                            title: 'From Paris: Day Trip to Champagne with 8 Tastings & Lunch',
                            duration: '2 days, 3 nights',
                            passenger: '6-8 guest',
                            price: '$48.25',
                            link: '#'
                        }
                    ]
                each item in itemLists
                    .col-xxl-3.col-xl-4.col-lg-4.col-md-6
                        .card-journey-small.background-card 
                            .card-image 
                                if item.index == 1
                                    span.label.saleoff 25% Off
                                a.wish(href="#")
                                    svg(width='20', height='18', viewbox='0 0 20 18', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M17.071 10.1422L11.4141 15.7991C10.6331 16.5801 9.36672 16.5801 8.58568 15.7991L2.92882 10.1422C0.9762 8.1896 0.9762 5.02378 2.92882 3.07116C4.88144 1.11853 8.04727 1.11853 9.99989 3.07116C11.9525 1.11853 15.1183 1.11853 17.071 3.07116C19.0236 5.02378 19.0236 8.1896 17.071 10.1422Z', stroke='', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
                                img(src= item.image, alt="Travila")
                            .card-info.background-card 
                                .card-rating 
                                    .card-left 
                                    .card-right 
                                        span.rating 4.96 
                                            span.text-sm-medium.neutral-500 (672 reviews)
                                .card-title 
                                    a.text-lg-bold.neutral-1000(href= item.link)= item.title 
                                .card-program 
                                    .card-duration-tour 
                                        p.icon-duration.text-sm-medium.neutral-500= item.duration
                                        p.icon-guest.text-sm-medium.neutral-500= item.passenger
                                    .endtime 
                                        .card-price 
                                            h6.heading-6.neutral-1000= item.price
                                        .card-button 
                                            a.btn.btn-gray(href="#") Book Now
        include ../../elements/pagination.pug