section.section-box.box-about-video.background-body
    .container 
        .box-image-video.mb-0 
            img.bdrd-16(src="assets/imgs/page/pages/banner.png", alt="Travilla")
            a.btn-play-video.popup-youtube(href="https://www.youtube.com/watch?v=JXMWOmuR1hU")