section.section-box.box-about-1.background-body
    .container 
        .row
            .col-lg-6.wow.fadeInUp 
                span.btn.btn-brand-secondary 
                    img.mr-10(src="assets/imgs/page/homepage9/real.svg", alt="Travila") 
                    | Resort Real Estate
                h1.neutral-1000.mt-15.mb-15 
                    span Discover a 
                    | Place 
                    span You’ll 
                    | Love 
                    span To Live
                h6.neutral-500 Buy and sell properties in a fastest way