section.section-box.box-2-banner.background-body
    .container 
        .row    
            .col-lg-6.mb-30
                .card-banner 
                    .card-image 
                        img(src="assets/imgs/page/homepage2/banner1.png", alt="Travila")
                    .card-info
                        h4 Waking up 
                            br.d-none.d-md-block 
                            | in a far 
                            br.d-none.d-md-block 
                            | away place
                        a.btn.btn-brand-secondary(href="#") View More 
                            svg(width='16', height='16', viewbox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(d='M8 15L15 8L8 1M15 8L1 8', stroke='black', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
            .col-lg-6.mb-30
                .card-banner 
                    .card-image 
                        img(src="assets/imgs/page/homepage2/banner2.png", alt="Travila")
                    .card-info
                        h5 Big promotion 
                            br.d-none.d-md-block 
                            | at the end of 
                            br.d-none.d-md-block 
                            | the year
                        a.btn.btn-brand-secondary(href="#") View More 
                            svg(width='16', height='16', viewbox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(d='M8 15L15 8L8 1M15 8L1 8', stroke='black', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')