section.section-box.box-recent-lauched-car.background-2
    .container 
        .row.align-items-end
            .col-md-9
                h2.neutral-1000 Recent Launched Car
                p.text-xl-medium.neutral-500 The world's leading car brands
            .col-md-3.position-relative.mb-30
                .box-button-slider.box-button-slider-team.justify-content-end
                    .swiper-button-prev.swiper-button-prev-style-1.swiper-button-prev-animate
                        svg(xmlns='http://www.w3.org/2000/svg', width='16', height='16', viewbox='0 0 16 16', fill='none')
                            path(d='M7.99992 3.33325L3.33325 7.99992M3.33325 7.99992L7.99992 12.6666M3.33325 7.99992H12.6666', stroke='', stroke-linecap='round', stroke-linejoin='round')
                    .swiper-button-next.swiper-button-next-style-1.swiper-button-next-animate
                        svg(xmlns='http://www.w3.org/2000/svg', width='16', height='16', viewbox='0 0 16 16', fill='none')
                            path(d='M7.99992 12.6666L12.6666 7.99992L7.99992 3.33325M12.6666 7.99992L3.33325 7.99992', stroke='', stroke-linecap='round', stroke-linejoin='round')

    .container-slider.box-swiper-padding
        .box-swiper.mt-30
            .swiper-container.swiper-group-animate.swiper-group-journey
                .swiper-wrapper
                    -
                        const itemRecentLists = [
                            {
                                image: "assets/imgs/page/homepage2/car.png",
                                title: 'Audi A3 1.6 TDI S line',
                                location: 'Manchester, England',
                                price: '$498.25',
                                link: 'rental-detail.html'

                            },
                            {
                                image: "assets/imgs/page/homepage2/car2.png",
                                title: 'Audi A3 1.6 TDI S line',
                                location: 'Manchester, England',
                                price: '$498.25',
                                link: 'rental-detail.html'
                            },
                            {
                                image: "assets/imgs/page/homepage2/car3.png",
                                title: 'Audi A3 1.6 TDI S line',
                                location: 'Manchester, England',
                                price: '$498.25',
                                link: 'rental-detail.html'
                            },
                            {
                                image: "assets/imgs/page/homepage2/car4.png",
                                title: 'Audi A3 1.6 TDI S line',
                                location: 'New South Wales, Australia',
                                price: '$498.25',
                                link: 'rental-detail.html'
                            }
                        ]
                    each item in itemRecentLists
                        .swiper-slide
                            .card-journey-small.background-card 
                                .card-image 
                                    a.wish(href="#")
                                        svg(width='20', height='18', viewbox='0 0 20 18', fill='none', xmlns='http://www.w3.org/2000/svg')
                                            path(d='M17.071 10.1422L11.4141 15.7991C10.6331 16.5801 9.36672 16.5801 8.58568 15.7991L2.92882 10.1422C0.9762 8.1896 0.9762 5.02378 2.92882 3.07116C4.88144 1.11853 8.04727 1.11853 9.99989 3.07116C11.9525 1.11853 15.1183 1.11853 17.071 3.07116C19.0236 5.02378 19.0236 8.1896 17.071 10.1422Z', stroke='', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
                                    img(src= item.image, alt="Travila")
                                .card-info 
                                    .card-rating 
                                        .card-left 
                                        .card-right 
                                            span.rating 4.96 
                                                span.text-sm-medium.neutral-500 (672 reviews)

                                    .card-title 
                                        a.heading-6.neutral-1000(href= item.link)= item.title 
                                    .card-program 
                                        .card-location 
                                            p.text-location.text-md-medium.neutral-500= item.location
                                        .card-facitlities 
                                            p.card-miles.text-md-medium 25,100 miles
                                            p.card-gear.text-md-medium Automatic
                                            p.card-fuel.text-md-medium Diesel
                                            p.card-seat.text-md-medium 7 seats
                                        .endtime 
                                            .card-price 
                                                h6.heading-6.neutral-1000= item.price
                                                p.text-md-medium.neutral-500 / person
                                            .card-button 
                                                a.btn.btn-gray(href="rental-detail.html") Book Now
    .container
        .box-search-category 
            h4.heading-4.mb-16.neutral-1000 Search by category
            p.text-xl-medium.neutral-500 There has 30+ Brand Category Available
            .box-list-brand-car 
                .item-brand 
                    img.light-mode(src="assets/imgs/page/homepage2/lexus.png", alt="Travila")
                    img.dark-mode(src="assets/imgs/page/homepage2/lexus-w.png", alt="Travila")
                .item-brand 
                    img.light-mode(src="assets/imgs/page/homepage2/mer.png", alt="Travila")
                    img.dark-mode(src="assets/imgs/page/homepage2/mer-w.png", alt="Travila")
                .item-brand 
                    img.light-mode(src="assets/imgs/page/homepage2/bugatti.png", alt="Travila")
                    img.dark-mode(src="assets/imgs/page/homepage2/bugatti-w.png", alt="Travila")
                .item-brand 
                    img.light-mode(src="assets/imgs/page/homepage2/jaguar.png", alt="Travila")
                    img.dark-mode(src="assets/imgs/page/homepage2/jaguar-w.png", alt="Travila")
                .item-brand 
                    img.light-mode(src="assets/imgs/page/homepage2/honda.png", alt="Travila")
                    img.dark-mode(src="assets/imgs/page/homepage2/honda-w.png", alt="Travila")
                .item-brand 
                    img.light-mode(src="assets/imgs/page/homepage2/chevrolet.png", alt="Travila")
                    img.dark-mode(src="assets/imgs/page/homepage2/chevrolet-w.png", alt="Travila")
                .item-brand 
                    img.light-mode(src="assets/imgs/page/homepage2/acura.png", alt="Travila")
                    img.dark-mode(src="assets/imgs/page/homepage2/acura-w.png", alt="Travila")
                .item-brand 
                    img.light-mode(src="assets/imgs/page/homepage2/bmw.png", alt="Travila")
                    img.dark-mode(src="assets/imgs/page/homepage2/bmw-w.png", alt="Travila")
                .item-brand 
                    img.light-mode(src="assets/imgs/page/homepage2/toyota.png", alt="Travila")
                    img.dark-mode(src="assets/imgs/page/homepage2/toyota-w.png", alt="Travila")