footer.footer.mt-20.background-body
  .container
    .box-footer
      .row
        .col-md-6.col-sm-12.mb-25.text-center.text-md-start
          p.text-xs-medium.neutral-500 © 2024  
            a.neutral-1000(href="#") Travila 
            span Inc. All rights reserved.
        .col-md-6.col-sm-12.text-center.text-md-end.mb-25
          ul.menu-footer
            li
              a(href='#') Terms
            li
              a(href='#') Privacy policy
            li
              a(href='#') Legal notice
            li
              a(href='#') Accessibility
            li
              a(href='#') Contact