nav.nav-main-menu
    ul.main-menu
        li.has-children
            a.dashboard2(href='index.html') 
                img(src='assets/imgs/template/icons/dashboard.svg', alt='Travilla') 
                span 
                    | Dashboard
        li
            a.candidates2(href='#') 
                img(src='assets/imgs/template/icons/tour.svg', alt='Travilla') 
                span 
                    | Tours 
            ul.sub-menu 
                li  
                    a(href="add-tour.html") Add New
                li  
                    a(href="tour-list.html") All Destination
                li  
                    a(href="my-booking.html") View Booking
        li
            a.recruiters2(href='#') 
                img(src='assets/imgs/template/icons/hotel.svg', alt='Travilla') 
                span 
                    | Hotels
        li
            a.jobs2(href='#') 
                img(src='assets/imgs/template/icons/destination.svg', alt='Travilla') 
                span 
                    | Destination
            ul.sub-menu 
                li  
                    a(href="#") Add New
                li  
                    a(href="#") All Destination
                li  
                    a(href="#") View Booking
        li
            a.tasks2(href='my-comment.html') 
                img(src='assets/imgs/template/icons/activities.svg', alt='Travilla') 
                span 
                    | Activities
        li
            a.myprofiles2(href='profile.html') 
                img(src='assets/imgs/template/icons/car.svg', alt='Travilla') 
                span 
                    | Cars Rental
        li
            a.cvmanage2(href='my-resume.html') 
                img(src='assets/imgs/template/icons/property.svg', alt='Travilla') 
                span 
                    | Properties
        li
            a.settings2(href='my-booking.html') 
                img(src='assets/imgs/template/icons/ticket.svg', alt='Travilla') 
                span 
                    | Tickets
        li
            a.authentication2(href='#') 
                img(src='assets/imgs/template/icons/vendor.svg', alt='Travilla') 
                span 
                    | Vendors
        li.divider
        li
            a.logout2(href='#') 
                img(src='assets/imgs/template/icons/blog.svg', alt='Travilla') 
                span 
                    | News & Blog
        li
            a.authentication2(href='#') 
                img(src='assets/imgs/template/icons/review.svg', alt='Travilla') 
                span 
                    | Review
        li
            a.authentication2(href='#') 
                img(src='assets/imgs/template/icons/message.svg', alt='Travilla') 
                span 
                    | Message
        li
            a.authentication2(href='#') 
                img(src='assets/imgs/template/icons/page.svg', alt='Travilla') 
                span 
                    | Pages
        li.divider
        li
            a.authentication2(href='my-profile.html') 
                img(src='assets/imgs/template/icons/profile.svg', alt='Travilla') 
                span 
                    | My Profile
        li
            a.authentication2(href='my-comment.html') 
                img(src='assets/imgs/template/icons/message.svg', alt='Travilla') 
                span 
                    | My Comments
        li
            a.authentication2(href='#') 
                img(src='assets/imgs/template/icons/setting.svg', alt='Travilla') 
                span 
                    | Setting
        li
            a.authentication2(href='login.html') 
                img(src='assets/imgs/template/icons/logout.svg', alt='Travilla') 
                span 
                    | Logout