section.section-box.box-next-trips.pb-65.background-body
    .container 
        .row.align-items-end 
            .col-lg-7.mb-30
                h1.text-86-bold.neutral-1000 Inspiration 
                h2.text-64-medium.neutral-1000 for Your Next Trips
                h6.neutral-500 Discover the World's Treasures with Travila 
            .col-lg-5.mb-30
                .box-subscriber-blog-3
                    p.text-md-bold.neutral-1000 Subscribe to see secret deals prices drop the moment you sign up!
                    .footer-type-3
                        .d-flex.align-items-center
                            form.form-newsletter(action="#") 
                                input.form-control(type="text", placeholder="Enter your email")
                                input.btn.btn-brand-secondary(type="submit", value="Subscribe")