section.section-box.box-recent-posts.background-body
    .container 
        .row 
            .col-lg-8
                h2.neutral-1000 Recent Posts
                p.text-xl-medium.neutral-500 Favorite destinations based on customer reviews
                .box-grid-hotels.box-grid-news.mt-60.mb-50.wow.fadeIn
                    -
                        const itemLists = [
                            {
                                index: 1,
                                image: "assets/imgs/page/blog/news.png",
                                title: 'The Art of Living: A Stylish Tech Odyssey',
                                tag: 'Adventure',
                                link: 'blog-detail.html'

                            },
                            {
                                index: 2,
                                image: "assets/imgs/page/blog/news2.png",
                                title: 'Brushstrokes of Life: A Creative Journey Unveiled',
                                tag: 'Luxury',
                                link: 'blog-detail.html'
                            }
                        ]
                    each item in itemLists
                        .card-flight.card-news.background-card 
                            .card-image 
                                a.wish(href="#")
                                    svg(width='20', height='18', viewbox='0 0 20 18', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M17.071 10.1422L11.4141 15.7991C10.6331 16.5801 9.36672 16.5801 8.58568 15.7991L2.92882 10.1422C0.9762 8.1896 0.9762 5.02378 2.92882 3.07116C4.88144 1.11853 8.04727 1.11853 9.99989 3.07116C11.9525 1.11853 15.1183 1.11853 17.071 3.07116C19.0236 5.02378 19.0236 8.1896 17.071 10.1422Z', stroke='', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
                                a(href= item.link)
                                    img(src= item.image, alt="Travila")
                            .card-info 
                                a.btn.btn-label-tag.background-1(href="#")= item.tag
                                .card-title 
                                    a.heading-6.neutral-1000(href= item.link)= item.title
                                .card-meta 
                                    span.post-date.neutral-1000 18 Sep 2024
                                    span.post-time.neutral-1000 6 mins
                                    span.post-comment.neutral-1000 38 comments
                                .card-desc 
                                    p.text-md-medium.neutral-500 The dark wood paneling and furnishings, deluxe red-draped four-poster bed, and magnificent black
                                 
                                .card-program 
                                    .endtime 
                                        .card-button 
                                            a.btn.btn-gray(href="blog-detail.html") Keep Reading

                include ../../elements/pagination.pug
            .col-lg-4
                .box-search-style-2 
                    form(action="#")
                        input(type="text", placeholder="Search")
                        input.btn-search-submit(type="submit",value="")
                .box-sidebar-border 
                    .box-head-sidebar 
                        p.text-xl-bold Trending Now
                    .box-content-sidebar 
                        ul.list-posts 
                            li
                                .card-post 
                                    .card-image 
                                        a(href="blog-detail.html")
                                            img(src="assets/imgs/page/blog/trending.png", alt="Travila")
                                    .card-info 
                                        a.text-md-bold.neutral-1000(href="blog-detail.html") Beyond the Pixels: My Art-Tech Lifestyle Journey
                                        p.text-sm-medium.date-post.neutral-500 18 Sep 2024
                            li
                                .card-post 
                                    .card-image 
                                        a(href="blog-detail.html")
                                            img(src="assets/imgs/page/blog/trending2.png", alt="Travila")
                                    .card-info 
                                        a.text-md-bold.neutral-1000(href="blog-detail.html") Beyond the Pixels: My Art-Tech Lifestyle Journey
                                        p.text-sm-medium.date-post.neutral-500 18 Sep 2024
                            li
                                .card-post 
                                    .card-image 
                                        a(href="blog-detail.html")
                                            img(src="assets/imgs/page/blog/trending3.png", alt="Travila")
                                    .card-info 
                                        a.text-md-bold.neutral-1000(href="blog-detail.html") Beyond the Pixels: My Art-Tech Lifestyle Journey
                                        p.text-sm-medium.date-post.neutral-500 18 Sep 2024
                            li
                                .card-post 
                                    .card-image 
                                        a(href="blog-detail.html")
                                            img(src="assets/imgs/page/blog/trending4.png", alt="Travila")
                                    .card-info 
                                        a.text-md-bold.neutral-1000(href="blog-detail.html") Beyond the Pixels: My Art-Tech Lifestyle Journey
                                        p.text-sm-medium.date-post.neutral-500 18 Sep 2024
                            li
                                .card-post 
                                    .card-image 
                                        a(href="blog-detail.html")
                                            img(src="assets/imgs/page/blog/trending5.png", alt="Travila")
                                    .card-info 
                                        a.text-md-bold.neutral-1000(href="blog-detail.html") Beyond the Pixels: My Art-Tech Lifestyle Journey
                                        p.text-sm-medium.date-post.neutral-500 18 Sep 2024

                .box-sidebar-none-border.box-banner-ads-recent-2 
                    p.text-md-bold.mb-5 Save your time!
                    h6 Explore, Book, Soar: Your Journey Awaits!
                    a.btn.btn-brand-secondary(href="#") View More 
                        svg(width='16', height='16', viewbox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                            path(d='M8 15L15 8L8 1M15 8L1 8', stroke='black', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round') 