section.box-section.block-banner-tourlist 
    .container 
        .text-center 
            h3 Journey with Travila - Begin Your Story!
            h6.heading-6-medium Easily search for top tours offered by our professional network

        include ../../elements/box-search-3.pug