section.box-section.box-contact-form.background-body
    .container 
        .row 
            .col-lg-7.mb-30
                h2.neutral-1000.mb-25 Get in Touch
                .form-contact 
                    .row 
                        .col-lg-6
                            .form-group 
                                label.text-sm-medium.neutral-1000 First Name
                                input.form-control.username(type="text", placeholder="First Name")
                        .col-lg-6
                            .form-group 
                                label.text-sm-medium.neutral-1000 Last Name
                                input.form-control.username(type="text", placeholder="Last Name")
                        .col-lg-12
                            .form-group 
                                label.text-sm-medium.neutral-1000 Email Adress
                                input.form-control.email(type="email", placeholder="email@domain.com")
                        .col-lg-12
                            .form-group 
                                label.text-sm-medium.neutral-1000 Phone Number
                                input.form-control.phone(type="text", placeholder="Phone number")
                        .col-lg-12
                            .form-group 
                                label.text-sm-medium.neutral-1000 Your Message
                                textarea.form-control(rows="6", placeholder="Leave us a message...")
                        .box-remember-forgot    
                            .form-group 
                                .remeber-me
                                    label.text-sm-medium.neutral-500 
                                        input.cb-remember(type="checkbox")
                                        | Agree to our 
                                        a.text-sm-bold(href="term.html") Terms of service 
                                        | and 
                                        a.text-sm-bold(href="privacy.html") Privacy Policy
                        .col-lg-12 
                            button.btn.btn-book Send message
                                svg(width='17', height='16', viewbox='0 0 17 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                                    path(d='M8.5 15L15.5 8L8.5 1M15.5 8L1.5 8', stroke='', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
            .col-lg-5.mb-30 
                .banner-contact 
                    .row 
                        .col-lg-12
                            .banner-img-contact 
                                img.bdrd-16(src="assets/imgs/page/pages/banner-contact.png", alt="Travilla")
                        .col-sm-6
                            .banner-img-contact 
                                .box-traveled-in 
                                    p.text-xl-medium.mb-20 1684 people used 
                                        strong Travila 
                                        | in the last 
                                        strong 24 hours
                                    .box-authors-partner.wow.fadeInUp 
                                        .authors-partner-left
                                            img(src="assets/imgs/page/homepage5/author.png", alt="Travila")
                                            img(src="assets/imgs/page/homepage5/author2.png", alt="Travila")
                                            img(src="assets/imgs/page/homepage5/author3.png", alt="Travila")
                                            span.item-author 
                                                svg(width='18', height='18', viewbox='0 0 18 18', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                    rect(x='0.5', y='7.448', width='17', height='2.31818', fill='black')
                                                    rect(x='7.84082', y='17.1072', width='17', height='2.31818', transform='rotate(-90 7.84082 17.1072)', fill='black')
                            .banner-img-contact 
                                img.bdrd-16(src="assets/imgs/page/pages/banner-contact3.png", alt="Travilla")
                        .col-sm-6
                            .banner-img-contact 
                                img.bdrd-16(src="assets/imgs/page/pages/banner-contact2.png", alt="Travilla")
                            .banner-img-contact 
                                img.bdrd-16(src="assets/imgs/page/pages/banner-contact4.png", alt="Travilla")