section.section-box.block-banner-book-tickets.background-card 
    .container 
        .box-image-book 
            img(src="assets/imgs/page/tickets/banner-booking.png", alt="Travila")
            a.btn-logo(href="#")
                img(src="assets/imgs/page/tickets/cathay.png", alt="Travila")