.box-heading
    .box-heading-left
        .box-title 
            h4.neutral-1000.mb-15 Add Tour
        .box-breadcrumb 
            .breadcrumbs
                ul 
                    li 
                        a.icon-home(href='index.html') Home
                    li
                        a.icon-home(href='#') Tours
                    li
                        span Add new tour