section.box-section.block-banner-9.box-banner-home5-search.background-body
    .block-banner-9-inner
        .container 
            .row
                .col-lg-6.wow.fadeInUp 
                    span.btn.btn-brand-secondary 
                        img.mr-10(src="assets/imgs/page/homepage9/real.svg", alt="Travila") 
                        | Resort Real Estate
                    h1.neutral-1000.mt-15.mb-15 
                        span Discover a 
                        | Place 
                        span You’ll 
                        | Love 
                        span To Live
                    h6.neutral-500 Buy and sell properties in a fastest way
                    .box-numbers-home9
                        .list-numbers.wow.fadeInUp 
                            .item-number 
                                h3.neutral-1000 145k+
                                p.text-lg-bold.neutral-500 Real Estate
                            .item-number 
                                h3.neutral-1000 20+
                                p.text-lg-bold.neutral-500 Years Experience
                            .item-number 
                                h3.neutral-1000 168K
                                p.text-lg-bold.neutral-500 Happy Customers
        .image-banner-bottom 
            img(src="assets/imgs/page/homepage9/banner-sm.png", alt="Travila")
        .image-banner-top-left 
            img(src="assets/imgs/page/homepage9/banner-sm2.png", alt="Travila")
        .block-right-banner(style="background-image: url(assets/imgs/page/homepage9/banner.png)") 
            .item-support.border-1.background-body 
                img.light-mode(src="assets/imgs/page/homepage9/support.png", alt="Travila")
                img.dark-mode(src="assets/imgs/page/homepage9/support-dark.png", alt="Travila")
                .text-support 
                    p.text-sm-bold.neutral-1000 Customer Service
                    h6.neutral-1000 +01 235 368
            .item-people-used 
                .box-authors-partner.background-body.wow.fadeInUp 
                    .authors-partner-left
                        img(src="assets/imgs/page/homepage5/author.png", alt="Travila")
                        img(src="assets/imgs/page/homepage5/author2.png", alt="Travila")
                        img(src="assets/imgs/page/homepage5/author3.png", alt="Travila")
                        span.item-author 
                            svg(width='18', height='18', viewbox='0 0 18 18', fill='none', xmlns='http://www.w3.org/2000/svg')
                                rect(x='0.5', y='7.448', width='17', height='2.31818', fill='black')
                                rect(x='7.84082', y='17.1072', width='17', height='2.31818', transform='rotate(-90 7.84082 17.1072)', fill='black')
                    .authors-partner-right
                        p.text-sm.neutral-1000 1684 people used 
                            strong Travila 
                            | in the last 
                            strong 24 hours
    .container 
        include ../../elements/box-search-1.pug