section.section-box.box-explore.background-body
    .container 
        .text-center.wow.fadeInUp
            h2.neutral-1000.mb-15 Explore by Property Type
            p.text-xl-medium.neutral-500 Hand-Picked selection of quality places

        .box-list-populars 
            .row 
                -
                    const item2Lists = [
                        {
                            image: "assets/imgs/page/homepage6/destination.png",
                            title: 'Apartment',
                            link: 'rental-property.html'

                        },
                        {
                            image: "assets/imgs/page/homepage6/destination2.png",
                            title: 'Condominiums',
                            link: 'rental-property.html'
                        },
                        {
                            image: "assets/imgs/page/homepage6/destination3.png",
                            title: 'Townhouses',
                            link: 'rental-property.html'
                        },
                        {
                            image: "assets/imgs/page/homepage6/destination4.png",
                            title: 'Office Spaces',
                            link: 'rental-property.html'
                        },
                        {
                            image: "assets/imgs/page/homepage6/destination5.png",
                            title: 'Campers',
                            link: 'rental-property.html'
                        },
                        {
                            image: "assets/imgs/page/homepage6/destination6.png",
                            title: 'A-Frames',
                            link: 'rental-property.html'
                        },
                        {
                            image: "assets/imgs/page/homepage6/destination7.png",
                            title: 'Treehouses',
                            link: 'rental-property.html'
                        },
                        {
                            image: "assets/imgs/page/homepage6/destination8.png",
                            title: 'Land/Plots',
                            link: 'rental-property.html'
                        }
                    ]
                each item2 in item2Lists
                    .col-xl-3.col-lg-4.col-sm-6 
                        .card-popular.card-top-destination.background-card.wow.fadeInUp 
                            .card-image 
                                img(src= item2.image, alt="Travila")
                            .card-info 
                                a.card-title(href= item2.link)= item2.title
                                .card-meta 
                                    .meta-links 
                                        a.text-property(href="rental-property.html") 35 Properties
                                    .card-button 
                                        a(href= item2.link) 
                                            svg(width='10', height='10', viewbox='0 0 10 10', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                path(d='M5.00011 9.08347L9.08347 5.00011L5.00011 0.916748M9.08347 5.00011L0.916748 5.00011', stroke='', stroke-linecap='round', stroke-linejoin='round')