section.section-box.box-subscriber.box-subscriber-2.background-body
    .container 
        .block-subscriber.background-4 
            .subscriber-left.wow.fadeInUp
                span.btn.btn-brand-secondary Join our newsletter
                h5.mt-15.mb-30.neutral-1000 Subscribe to see secret deals prices drop the moment you sign up!
                form.form-subscriber(action="#")
                    input.form-control(type="text", placeholder="Your Email")
                    input.btn.btn-submit(type="submit", value="Subscribe") 
                p.text-sm-medium.neutral-500.mt-15 No ads. No trails. No commitments
            .subscriber-right.wow.fadeInUp