section.box-section.box-buttons-destination.box-buttons-property-detail.background-card.pt-40
    .container-fluid
        .box-button-faq.wow.fadeInRight 
            a.btn.btn-border-1(href="#") 
                img.light-mode(src="assets/imgs/page/room/airport.svg", alt="Travile")
                img.dark-mode(src="assets/imgs/page/room/airport-w.svg", alt="Travile")
                | Airport Transfer
            a.btn.btn-border-1(href="#") 
                img.light-mode(src="assets/imgs/page/room/safety-box.svg", alt="Travile")
                img.dark-mode(src="assets/imgs/page/room/safety-box-w.svg", alt="Travile")
                | Safety Box
            a.btn.btn-border-1(href="#") 
                img.light-mode(src="assets/imgs/page/room/coffee-shop.svg", alt="Travile")
                img.dark-mode(src="assets/imgs/page/room/coffee-shop-w.svg", alt="Travile")
                | Balcony
            a.btn.btn-border-1(href="#") 
                img.light-mode(src="assets/imgs/page/room/massage.svg", alt="Travile")
                img.dark-mode(src="assets/imgs/page/room/massage-w.svg", alt="Travile")
                | Spa Sauna
            a.btn.btn-border-1(href="#") 
                img.light-mode(src="assets/imgs/page/room/animal.svg", alt="Travile")
                img.dark-mode(src="assets/imgs/page/room/animal-w.svg", alt="Travile")
                | Pet Allowed
            a.btn.btn-border-1(href="#") 
                img.light-mode(src="assets/imgs/page/room/wifi.svg", alt="Travile")
                img.dark-mode(src="assets/imgs/page/room/wifi-w.svg", alt="Travile")
                | Free Wifi
            a.btn.btn-border-1(href="#") 
                img.light-mode(src="assets/imgs/page/room/hairdryer.svg", alt="Travile")
                img.dark-mode(src="assets/imgs/page/room/hairdryer-w.svg", alt="Travile")
                | Air Dryer
            a.btn.btn-border-1(href="#") 
                img.light-mode(src="assets/imgs/page/room/air-conditioner.svg", alt="Travile")
                img.dark-mode(src="assets/imgs/page/room/air-conditioner-w.svg", alt="Travile")
                | Air Condition
            a.btn.btn-border-1(href="#") 
                img.light-mode(src="assets/imgs/page/room/loundry.svg", alt="Travile")
                img.dark-mode(src="assets/imgs/page/room/loundry-w.svg", alt="Travile")
                | Loundry Service
            a.btn.btn-border-1(href="#") 
                img.light-mode(src="assets/imgs/page/room/bed.svg", alt="Travile")
                img.dark-mode(src="assets/imgs/page/room/bed-w.svg", alt="Travile")
                | King Size Bed
            a.btn.btn-border-1(href="#") 
                img.light-mode(src="assets/imgs/page/room/food.svg", alt="Travile")
                img.dark-mode(src="assets/imgs/page/room/food-w.svg", alt="Travile")
                | Front desk
            a.btn.btn-border-1(href="#") 
                img.light-mode(src="assets/imgs/page/room/living.svg", alt="Travile")
                img.dark-mode(src="assets/imgs/page/room/living-w.svg", alt="Travile")
                | Living Area
            a.btn.btn-border-1(href="#") 
                img.light-mode(src="assets/imgs/page/room/living.svg", alt="Travile")
                img.dark-mode(src="assets/imgs/page/room/living-w.svg", alt="Travile")
                | Living Area