nav(aria-label='Page navigation example')
    ul.pagination
        li.page-item
            a.page-link(href='#', aria-label='Previous')
                span(aria-hidden='true') 
                    svg(width='12', height='12', viewbox='0 0 12 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M6.00016 1.33325L1.3335 5.99992M1.3335 5.99992L6.00016 10.6666M1.3335 5.99992H10.6668', stroke='', stroke-linecap='round', stroke-linejoin='round')
        li.page-item
            a.page-link(href='#') 1
        li.page-item
            a.page-link.active(href='#') 2
        li.page-item
            a.page-link(href='#') 3
        li.page-item
            a.page-link(href='#') 4
        li.page-item
            a.page-link(href='#') 5
        li.page-item
            a.page-link(href='#') ...
        li.page-item
            a.page-link(href='#', aria-label='Next')
                span(aria-hidden='true') 
                    svg(width='12', height='12', viewbox='0 0 12 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M5.99967 10.6666L10.6663 5.99992L5.99968 1.33325M10.6663 5.99992L1.33301 5.99992', stroke='', stroke-linecap='round', stroke-linejoin='round')
