header.header.header-commingsoon.sticky-bar
    .container
        .main-header
            .header-left
                .header-logo
                    a.d-flex(href='index.html')
                        img.light-mode(alt='Travila', src='assets/imgs/template/logo.svg')
                        img.dark-mode(alt='Travila', src='assets/imgs/template/logo-w.svg')
                    p.text-md-bold.neutral-500.text-slogan Your Journey, Your Way.
            .header-right
                .header-nav 
                    ul.main-menu 
                        li 
                            a(href="#") About Us
                        li 
                            a(href="#") News
                        li 
                            a(href="#") Become Expert
                        li 
                            a(href="#") Contact Us