.follower
.cursor
    span.dot
    span.play
        img(src="assets/imgs/template/icons/cursor-play.svg", alt='Travila')
        span Play
    span.drag
        img(src="assets/imgs/template/icons/cursor-drag.svg", alt='Travila')
        span Drag
    span.view
        img(src="assets/imgs/template/icons/cursor-view.svg", alt='Travila')
        span View