.sidebar-canvas-wrapper.perfect-scrollbar.button-bg-2
    .sidebar-canvas-container 
        .sidebar-canvas-head
            .sidebar-canvas-logo 
                a.d-flex(href='index.html')
                    img.light-mode(alt='Travila', src='assets/imgs/template/logo.svg')
                    img.dark-mode(alt='Travila', src='assets/imgs/template/logo-w.svg')
            .sidebar-canvas-lang 
                .d-inline-block.box-dropdown-cart.align-middle.ml-15
                    span.text-14-medium.icon-list.icon-account.icon-lang
                        span.text-14-medium.arrow-down EN
                    .dropdown-account
                        ul
                            li
                                a.text-sm-medium(href='#')
                                    | English
                            li
                                a.text-sm-medium(href='#')
                                    | French
                            li
                                a.text-sm-medium(href='#')
                                    | Chiness

                .d-inline-block.box-dropdown-cart.align-middle.ml-15
                    span.text-14-medium.icon-list.icon-cart
                        span.text-14-medium.arrow-down USD
                    .dropdown-cart
                        ul
                            li
                                a.text-sm-medium(href='#')
                                    | USD
                            li
                                a.text-sm-medium(href='#')
                                    | EUR
                            li
                                a.text-sm-medium(href='#')
                                    | SGP
                a.close-canvas(href="#") 
                    img(alt='Travila', src='assets/imgs/template/icons/close.png')

        .sidebar-canvas-content
            .box-author-profile 
                .card-author 
                    .card-image 
                        img(src="assets/imgs/page/homepage1/author2.png", alt="Travila")
                    .card-info 
                        p.text-md-bold.neutral-1000 Alice Roses
                        p.text-xs.neutral-1000 London, England

                a.btn.btn-black(href="#") Logout

            .box-quicklinks 
                h6.title-quicklinks.neutral-1000 Quick Links
                .box-list-quicklinks 
                    .item-quicklinks 
                        .item-icon 
                            img(src="assets/imgs/template/icons/notify.svg", alt="Travila")
                        .item-info 
                            a(href="#") 
                                h6.text-md-bold.neutral-1000 Notifications
                            p.text-xs.neutral-500.online 2 new messages
                    .item-quicklinks 
                        .item-icon 
                            img(src="assets/imgs/template/icons/bookmark.svg", alt="Travila")
                        .item-info 
                            a(href="#") 
                                h6.text-md-bold.neutral-1000 Bookmark
                            p.text-xs.neutral-500 7 tours, 2 rooms
                    .item-quicklinks 
                        .item-icon 
                            img(src="assets/imgs/template/icons/wallet.svg", alt="Travila")
                        .item-info 
                            a(href="#") 
                                h6.text-md-bold.neutral-1000 My Wallet
                            p.text-xs.neutral-500 $4500
                    .item-quicklinks 
                        .item-icon 
                            img(src="assets/imgs/template/icons/discount.svg", alt="Travila")
                        .item-info 
                            a(href="#") 
                                h6.text-md-bold.neutral-1000 Discount
                            p.text-xs.neutral-500 Only today
                    .item-quicklinks 
                        .item-icon 
                            img(src="assets/imgs/template/icons/friends.svg", alt="Travila")
                        .item-info 
                            a(href="#") 
                                h6.text-md-bold.neutral-1000 Friends
                            p.text-xs.neutral-500 Your team
                    .item-quicklinks 
                        .item-icon 
                            img(src="assets/imgs/template/icons/tickets.svg", alt="Travila")
                        .item-info 
                            a(href="#") 
                                h6.text-md-bold.neutral-1000 Tickets
                            p.text-xs.neutral-500.resolved 3 resolved tickets
                    .item-quicklinks 
                        .item-icon 
                            img(src="assets/imgs/template/icons/settings.svg", alt="Travila")
                        .item-info 
                            a(href="#") 
                                h6.text-md-bold.neutral-1000 Setting
                            p.text-xs.neutral-500 Your account

            .box-eventsdate 
                h6.title-eventsdate.neutral-1000 Event Dates
                .box-calendar-events 
                    #calendar-events

            .box-savedplaces 
                h6.title-savedplaces.neutral-1000 Saved Places
                .box-list-places 
                    .card-place
                        .card-image 
                            img(src="assets/imgs/page/homepage1/place.png", alt="Travila")
                        .card-info.background-card 
                            .card-info-top 
                                h6.text-xl-bold 
                                    a.neutral-1000(href="#") Machu Picchu
                                p.text-xs.card-rate 
                                    img(src="assets/imgs/template/icons/star.svg", alt="Travila")
                                    | 4/5
                            .card-info-bottom 
                                p.text-xs-medium.neutral-500 Carved by the Colorado River in Arizona, United States
                                a(href="#") 
                                    svg(width='10', height='10', viewbox='0 0 10 10', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M5.00011 9.08347L9.08347 5.00011L5.00011 0.916748M9.08347 5.00011L0.916748 5.00011', stroke='', stroke-linecap='round', stroke-linejoin='round')

                    .card-place
                        .card-image 
                            img(src="assets/imgs/page/homepage1/place2.png", alt="Travila")
                        .card-info.background-card 
                            .card-info-top 
                                h6.text-xl-bold 
                                    a.neutral-1000(href="#") Machu Picchu
                                p.text-xs.card-rate 
                                    img(src="assets/imgs/template/icons/star.svg", alt="Travila")
                                    | 4/5
                            .card-info-bottom 
                                p.text-xs-medium.neutral-500 Carved by the Colorado River in Arizona, United States
                                a(href="#") 
                                    svg(width='10', height='10', viewbox='0 0 10 10', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M5.00011 9.08347L9.08347 5.00011L5.00011 0.916748M9.08347 5.00011L0.916748 5.00011', stroke='', stroke-linecap='round', stroke-linejoin='round')

                    .card-place 
                        .card-image 
                            img(src="assets/imgs/page/homepage1/place3.png", alt="Travila")
                        .card-info.background-card 
                            .card-info-top 
                                h6.text-xl-bold 
                                    a.neutral-1000(href="#") Machu Picchu
                                p.text-xs.card-rate 
                                    img(src="assets/imgs/template/icons/star.svg", alt="Travila")
                                    | 4/5
                            .card-info-bottom 
                                p.text-xs-medium.neutral-500 Carved by the Colorado River in Arizona, United States
                                a(href="#") 
                                    svg(width='10', height='10', viewbox='0 0 10 10', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M5.00011 9.08347L9.08347 5.00011L5.00011 0.916748M9.08347 5.00011L0.916748 5.00011', stroke='', stroke-linecap='round', stroke-linejoin='round')

            .box-contactus
                h6.title-contactus.neutral-1000 Contact Us
                .contact-info 
                    p.address-2.text-md-medium.neutral-1000 4517 Washington Ave. 
                        br
                        | Manchester, Kentucky 39495
                    p.hour-work-2.text-md-medium.neutral-1000 Hours: 8:00 - 17:00, Mon - Sat
                    p.email-2.text-md-medium.neutral-1000 support@travila.com