section.section-box.box-banner-home2.box-banner-home5-search.box-banner-home8-search.background-body
    .box-banner-home8
        .container 
            .block-banner-home8
                .row.align-items-center 
                    .col-xl-6.col-lg-7.wow.fadeInUp
                        span.btn.btn-brand-secondary 
                            img.ml-10(src="assets/imgs/page/homepage4/earth.svg", alt="Travile") 
                            | Explore the World
                        h2.mt-20.mb-15.neutral-1000 Unveil the Beauty
                            br.d-none.d-lg-block 
                            | of the World Every Day
                        h6.heading-6-medium.neutral-500.mb-30 Travel Without Limits Browse, Book, Explore
                        .download-apps 
                            a(href="#")
                                img(src="assets/imgs/template/googleplay.png", alt="Travila")
                            a(href="#")
                                img(src="assets/imgs/template/appstore.png", alt="Travila")
                        
                .box-image-banner-home8
                    img(src="assets/imgs/page/homepage8/car.png", alt="Travila")
                    span.dot-banner
                        img(src="assets/imgs/page/homepage8/dot.png", alt="Travila")

    .container 
        include ../../elements/box-search-1.pug