section.section-box.box-best-car
    .container 
        .row.align-items-center 
            .col-lg-6.mb-30.wow.fadeInUp
                .box-image-3-col 
                    .img-col 
                        img(src="assets/imgs/page/homepage8/best-car.png", alt="Travila")
                        img(src="assets/imgs/page/homepage8/best-car2.png", alt="Travila")
                    .img-col 
                        img(src="assets/imgs/page/homepage8/best-car3.png", alt="Travila")
                        img(src="assets/imgs/page/homepage8/best-car4.png", alt="Travila")
                    .img-col 
                        img(src="assets/imgs/page/homepage8/best-car5.png", alt="Travila")
                        img(src="assets/imgs/page/homepage8/best-car6.png", alt="Travila")
            .col-lg-6.mb-30.wow.fadeInUp
                a.btn.btn-white(href="#") Best Car Rental System
                h4.color-white.title-best-car Fill the best experience with our luxury car
                p.text-lg-medium.neutral-500 Discover how you can offset your adventure's carbon emissions and support the sustainable initiatives practiced by our operators worldwide.