section.section-box.box-faqs.box-faqs-type-2.box-faqs-type-3.background-body
    .box-faqs-inner
        .container 
            .text-center.wow.fadeInUp 
                h2.neutral-1000 Frequently Asked Questions
                p.text-xl-medium.neutral-500 You need to come at least once in your life
            .block-faqs
                #accordionFAQ.accordion
                    .accordion-item.wow.fadeInUp
                        h5#headingOne.accordion-header
                            button.accordion-button.text-heading-5(type='button', data-bs-toggle='collapse', data-bs-target='#collapseOne', aria-expanded='true', aria-controls='collapseOne') 
                                h3 01
                                p How do I make a reservation on your website
                        #collapseOne.accordion-collapse.collapse.show(aria-labelledby='headingOne', data-bs-parent='#accordionFAQ')
                            .accordion-body
                                | Provide a step-by-step guide on how users can browse and book travel services on your platform. Include information on searching for destinations, selecting dates, choosing accommodation, and completing the booking process. Mention any special features or tools that can help users find the best deals.
                    .accordion-item.wow.fadeInUp
                        h5#headingTwo.accordion-header
                            button.accordion-button.text-heading-5.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo') 
                                h3 02
                                p What documents do I need for my trip, and how do I obtain them?
                        #collapseTwo.accordion-collapse.collapse(aria-labelledby='headingTwo', data-bs-parent='#accordionFAQ')
                            .accordion-body
                                | Provide a step-by-step guide on how users can browse and book travel services on your platform. Include information on searching for destinations, selecting dates, choosing accommodation, and completing the booking process. Mention any special features or tools that can help users find the best deals.
                    .accordion-item.wow.fadeInUp
                        h5#headingThree.accordion-header
                            button.accordion-button.text-heading-5.collapsed.text-heading-5(class='type=', data-bs-toggle='collapse', data-bs-target='#collapseThree', aria-expanded='false', aria-controls='collapseThree') 
                                h3 03
                                p In the event that I need to modify or cancel my reservation, what are the policies in place?
                        #collapseThree.accordion-collapse.collapse(aria-labelledby='headingThree', data-bs-parent='#accordionFAQ')
                            .accordion-body
                                | Provide a step-by-step guide on how users can browse and book travel services on your platform. Include information on searching for destinations, selecting dates, choosing accommodation, and completing the booking process. Mention any special features or tools that can help users find the best deals.
                    .accordion-item.wow.fadeInUp
                        h5#headingFour.accordion-header
                            button.accordion-button.text-heading-5.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#collapseFour', aria-expanded='false', aria-controls='collapseFour') 
                                h3 04
                                p Can you specify the types of credit/debit cards, digital wallets, or other online payment methods accepted?
                        #collapseFour.accordion-collapse.collapse(aria-labelledby='headingFour', data-bs-parent='#accordionFAQ')
                            .accordion-body
                                | Provide a step-by-step guide on how users can browse and book travel services on your platform. Include information on searching for destinations, selecting dates, choosing accommodation, and completing the booking process. Mention any special features or tools that can help users find the best deals.
                    .accordion-item.wow.fadeInUp
                        h5#headingFive.accordion-header
                            button.accordion-button.text-heading-5.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#collapseFive', aria-expanded='false', aria-controls='collapseFive') 
                                h3 05
                                p What are the working hours, and what can I expect in terms of response times?   
                        #collapseFive.accordion-collapse.collapse(aria-labelledby='headingFive', data-bs-parent='#accordionFAQ')
                            .accordion-body
                                | Provide a step-by-step guide on how users can browse and book travel services on your platform. Include information on searching for destinations, selecting dates, choosing accommodation, and completing the booking process. Mention any special features or tools that can help users find the best deals.
            .box-button-center 
                a.btn.btn-black-lg(href="#") Our Support Center
                    svg(width='16', height='16', viewbox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M8 15L15 8L8 1M15 8L1 8', stroke='', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
                a.btn.btn-link(href="#") Contact Us
                    svg(width='16', height='16', viewbox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M8 15L15 8L8 1M15 8L1 8', stroke='', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')