section.box-section.box-contact-form.box-contact-form-2.background-body
    .bg-contact-form-2
    .container 
        .row 
            .col-lg-6
                h2.neutral-1000.mb-25 Contact Support?
                .form-contact 
                    .row 
                        .col-lg-6
                            .form-group 
                                label.text-sm-medium.neutral-1000 First Name
                                input.form-control.username(type="text", placeholder="First Name")
                        .col-lg-6
                            .form-group 
                                label.text-sm-medium.neutral-1000 First Name
                                input.form-control.username(type="text", placeholder="Last Name")
                        .col-lg-12
                            .form-group 
                                label.text-sm-medium.neutral-1000 Email Adress
                                input.form-control.email(type="email", placeholder="email@domain.com")
                        .col-lg-12
                            .form-group 
                                label.text-sm-medium.neutral-1000 Phone Number
                                input.form-control.phone(type="text", placeholder="Phone number")
                        .col-lg-12
                            .form-group 
                                label.text-sm-medium.neutral-1000 Your Message
                                textarea.form-control(rows="6", placeholder="Leave us a message...")
                        .box-remember-forgot    
                            .form-group 
                                .remeber-me
                                    label.text-sm-medium.neutral-500 
                                        input.cb-remember(type="checkbox")
                                        | Agree to our 
                                        a.text-sm-bold(href="term.html") Terms of service 
                                        | and 
                                        a.text-sm-bold(href="privacy.html") Privacy Policy
                        .col-lg-12 
                            button.btn.btn-book Send message
                                svg(width='17', height='16', viewbox='0 0 17 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                                    path(d='M8.5 15L15.5 8L8.5 1M15.5 8L1.5 8', stroke='', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')