section.section-box.box-faqs-help.background-body
    .container
        .box-faqs-inner
            .box-title-contact-form
                .text-start.wow.fadeInUp 
                    h3.neutral-1000 Frequently Asked Questions
                    p.text-xl-medium.neutral-500 Any questions? We would be happy to help you.
            .row 
                .col-lg-6
                    .block-faqs 
                        #accordionFAQ.accordion
                            .accordion-item.wow.fadeInUp
                                h5#headingOne.accordion-header
                                    button.accordion-button.text-heading-5(type='button', data-bs-toggle='collapse', data-bs-target='#collapseOne', aria-expanded='true', aria-controls='collapseOne') 
                                        p How do I make a reservation on your website?
                                #collapseOne.accordion-collapse.collapse.show(aria-labelledby='headingOne', data-bs-parent='#accordionFAQ')
                                    .accordion-body
                                        | Provide a step-by-step guide on how users can browse and book travel services on your platform. Include information on searching for destinations, selecting dates, choosing accommodation, and completing the booking process. Mention any special features or tools that can help users find the best deals.
                            .accordion-item.wow.fadeInUp
                                h5#headingTwo.accordion-header
                                    button.accordion-button.text-heading-5.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo') 
                                        p What documents do I need for my trip, and how do I obtain them?
                                #collapseTwo.accordion-collapse.collapse(aria-labelledby='headingTwo', data-bs-parent='#accordionFAQ')
                                    .accordion-body
                                        | Provide a step-by-step guide on how users can browse and book travel services on your platform. Include information on searching for destinations, selecting dates, choosing accommodation, and completing the booking process. Mention any special features or tools that can help users find the best deals.
                            .accordion-item.wow.fadeInUp
                                h5#headingThree.accordion-header
                                    button.accordion-button.text-heading-5.collapsed.text-heading-5(class='type=', data-bs-toggle='collapse', data-bs-target='#collapseThree', aria-expanded='false', aria-controls='collapseThree') 
                                        p In the event that I need to modify or cancel my reservation, what are the policies in place?
                                #collapseThree.accordion-collapse.collapse(aria-labelledby='headingThree', data-bs-parent='#accordionFAQ')
                                    .accordion-body
                                        | Provide a step-by-step guide on how users can browse and book travel services on your platform. Include information on searching for destinations, selecting dates, choosing accommodation, and completing the booking process. Mention any special features or tools that can help users find the best deals.
                            .accordion-item.wow.fadeInUp
                                h5#headingFour.accordion-header
                                    button.accordion-button.text-heading-5.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#collapseFour', aria-expanded='false', aria-controls='collapseFour') 
                                        
                                        p Can you specify the types of credit/debit cards, digital wallets, or other online payment methods accepted?
                                #collapseFour.accordion-collapse.collapse(aria-labelledby='headingFour', data-bs-parent='#accordionFAQ')
                                    .accordion-body
                                        | Provide a step-by-step guide on how users can browse and book travel services on your platform. Include information on searching for destinations, selecting dates, choosing accommodation, and completing the booking process. Mention any special features or tools that can help users find the best deals.
                            .accordion-item.wow.fadeInUp
                                h5#headingFive.accordion-header
                                    button.accordion-button.text-heading-5.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#collapseFive', aria-expanded='false', aria-controls='collapseFive') 
                                        p What payment methods do you accept?
                                #collapseFive.accordion-collapse.collapse(aria-labelledby='headingFive', data-bs-parent='#accordionFAQ')
                                    .accordion-body
                                        | Provide a step-by-step guide on how users can browse and book travel services on your platform. Include information on searching for destinations, selecting dates, choosing accommodation, and completing the booking process. Mention any special features or tools that can help users find the best deals.
                            .accordion-item.wow.fadeInUp
                                h5#headingFive.accordion-header
                                    button.accordion-button.text-heading-5.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#collapseFive', aria-expanded='false', aria-controls='collapseFive') 
                                        p Can I modify or cancel my reservation?
                                #collapseFive.accordion-collapse.collapse(aria-labelledby='headingFive', data-bs-parent='#accordionFAQ')
                                    .accordion-body
                                        | Provide a step-by-step guide on how users can browse and book travel services on your platform. Include information on searching for destinations, selecting dates, choosing accommodation, and completing the booking process. Mention any special features or tools that can help users find the best deals.
                            .accordion-item.wow.fadeInUp
                                h5#headingFive.accordion-header
                                    button.accordion-button.text-heading-5.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#collapseFive', aria-expanded='false', aria-controls='collapseFive') 
                                        p Do you offer discounts for group bookings?
                                #collapseFive.accordion-collapse.collapse(aria-labelledby='headingFive', data-bs-parent='#accordionFAQ')
                                    .accordion-body
                                        | Provide a step-by-step guide on how users can browse and book travel services on your platform. Include information on searching for destinations, selecting dates, choosing accommodation, and completing the booking process. Mention any special features or tools that can help users find the best deals.
                .col-lg-6
                    .block-faqs.wow.fadeInUp 
                        #accordionFAQ2.accordion.wow.fadeInUp
                            .accordion-item.wow.fadeInUp
                                h5#headingOne2.accordion-header
                                    button.accordion-button.text-heading-5.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#collapseOne2', aria-expanded='true', aria-controls='collapseOne2') 
                                        p How do I search for hotels on your website?
                                #collapseOne2.accordion-collapse.collapse(aria-labelledby='headingOne2', data-bs-parent='#accordionFAQ2')
                                    .accordion-body
                                        | Provide a step-by-step guide on how users can browse and book travel services on your platform. Include information on searching for destinations, selecting dates, choosing accommodation, and completing the booking process. Mention any special features or tools that can help users find the best deals.
                            .accordion-item.wow.fadeInUp
                                h5#headingTwo2.accordion-header
                                    button.accordion-button.text-heading-5.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#collapseTwo2', aria-expanded='false', aria-controls='collapseTwo2') 
                                        p In the event that I need to modify or cancel my reservation, what are the policies in place?
                                #collapseTwo2.accordion-collapse.collapse(aria-labelledby='headingTwo2', data-bs-parent='#accordionFAQ2')
                                    .accordion-body
                                        | Provide a step-by-step guide on how users can browse and book travel services on your platform. Include information on searching for destinations, selecting dates, choosing accommodation, and completing the booking process. Mention any special features or tools that can help users find the best deals.
                            .accordion-item.wow.fadeInUp
                                h5#headingThree2.accordion-header
                                    button.accordion-button.text-heading-5.collapsed.text-heading-5(class='type=', data-bs-toggle='collapse', data-bs-target='#collapseThree2', aria-expanded='false', aria-controls='collapseThree2') 
                                        p Is breakfast included in the room rate?
                                #collapseThree2.accordion-collapse.collapse(aria-labelledby='headingThree2', data-bs-parent='#accordionFAQ2')
                                    .accordion-body
                                        | Provide a step-by-step guide on how users can browse and book travel services on your platform. Include information on searching for destinations, selecting dates, choosing accommodation, and completing the booking process. Mention any special features or tools that can help users find the best deals.
                            .accordion-item.wow.fadeInUp
                                h5#headingFour2.accordion-header
                                    button.accordion-button.text-heading-5.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#collapseFour2', aria-expanded='false', aria-controls='collapseFour2') 
                                        p Are pets allowed in the hotels?
                                #collapseFour2.accordion-collapse.collapse(aria-labelledby='headingFour2', data-bs-parent='#accordionFAQ2')
                                    .accordion-body
                                        | Provide a step-by-step guide on how users can browse and book travel services on your platform. Include information on searching for destinations, selecting dates, choosing accommodation, and completing the booking process. Mention any special features or tools that can help users find the best deals.
                            .accordion-item.wow.fadeInUp
                                h5#headingFive2.accordion-header
                                    button.accordion-button.text-heading-5.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#collapseFive2', aria-expanded='false', aria-controls='collapseFive2') 
                                        p How do I contact customer support if I have a question or issue?
                                #collapseFive2.accordion-collapse.collapse(aria-labelledby='headingFive2', data-bs-parent='#accordionFAQ2')
                                    .accordion-body
                                        | Provide a step-by-step guide on how users can browse and book travel services on your platform. Include information on searching for destinations, selecting dates, choosing accommodation, and completing the booking process. Mention any special features or tools that can help users find the best deals.
                            .accordion-item.wow.fadeInUp
                                h5#headingFive2.accordion-header
                                    button.accordion-button.text-heading-5.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#collapseFive2', aria-expanded='false', aria-controls='collapseFive2') 
                                        p Are there any loyalty programs or rewards for frequent guests?
                                #collapseFive2.accordion-collapse.collapse(aria-labelledby='headingFive2', data-bs-parent='#accordionFAQ2')
                                    .accordion-body
                                        | Provide a step-by-step guide on how users can browse and book travel services on your platform. Include information on searching for destinations, selecting dates, choosing accommodation, and completing the booking process. Mention any special features or tools that can help users find the best deals.

                        .box-button-right 
                            a.btn.btn-bg-2-lg-square.mr-10(href="#") Contact Us
                            a.btn.btn-black-lg-square(href="#") Contact Us
                                svg(width='16', height='16', viewbox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                                    path(d='M8 15L15 8L8 1M15 8L1 8', stroke='', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')