section.section-box.box-banner-home3.box-banner-hotel-detail.background-body
    .container 
        .box-swiper.mt-0
            .swiper-container.swiper-group-1
                .swiper-wrapper
                    .swiper-slide
                        .item-banner-box(style="background-image: url(assets/imgs/page/hotel/banner-hotel.png);")
                            .item-banner-box-inner 
                                span.btn.btn-white-sm
                                    img(src="assets/imgs/page/tour-detail/star-big.svg", alt="Travila")
                                    img(src="assets/imgs/page/tour-detail/star-big.svg", alt="Travila")
                                    img(src="assets/imgs/page/tour-detail/star-big.svg", alt="Travila")
                                    img(src="assets/imgs/page/tour-detail/star-big.svg", alt="Travila")
                                    img(src="assets/imgs/page/tour-detail/star-big.svg", alt="Travila")
                                h1.mt-20.mb-20.color-white Welcom to
                                    br.d-none.d-lg-block 
                                    | Le Meurice Hotel
                                ul.list-disc 
                                    li Spacious and Well-Appointed Rooms
                                    li Fine Dining Restaurants
                                    li Exclusive Spa and Wellness Facilities
                    .swiper-slide
                        .item-banner-box(style="background-image: url(assets/imgs/page/hotel/banner-hotel.png);")
                            .item-banner-box-inner 
                                span.btn.btn-white-sm
                                    img(src="assets/imgs/page/tour-detail/star-big.svg", alt="Travila")
                                    img(src="assets/imgs/page/tour-detail/star-big.svg", alt="Travila")
                                    img(src="assets/imgs/page/tour-detail/star-big.svg", alt="Travila")
                                    img(src="assets/imgs/page/tour-detail/star-big.svg", alt="Travila")
                                    img(src="assets/imgs/page/tour-detail/star-big.svg", alt="Travila")
                                h1.mt-20.mb-20.color-white Welcom to
                                    br.d-none.d-lg-block 
                                    | Le Meurice Hotel
                                ul.list-disc 
                                    li Spacious and Well-Appointed Rooms
                                    li Fine Dining Restaurants
                                    li Exclusive Spa and Wellness Facilities
                .swiper-pagination.swiper-pagination-group-1.swiper-pagination-style-1
        include ../../elements/box-search-1.pug