section.section-box.box-top-rated-3.box-nearby.best-room-hotel.background-body
    .container 
        h2.neutral-1000.wow.fadeInUp Our Best Rooms
        p.text-xl-medium.neutral-500.wow.fadeInUp Book online today and look forward to a relaxing stay with usQ
        .box-button-tabs.wow.fadeInUp 
            a.btn.btn-white(href="#") All
            a.btn.btn-white(href="#") Luxury
            a.btn.btn-white(href="#") Standard
            a.btn.btn-white(href="#") Economy
            a.btn.btn-white(href="#") Business
            a.btn.btn-white(href="#") Royal Class
            a.btn.btn-white(href="#") Superior

        .row.mt-65 
            -
                const item4Lists = [
                    {
                        image: "assets/imgs/page/hotel/room.png",
                        title: 'Deluxe Queen Room',
                        location: 'Manchester, England',
                        price: '$48.25',
                        link: 'room-detail.html'

                    },
                    {
                        image: "assets/imgs/page/hotel/room2.png",
                        title: 'King Ensuite Room',
                        location: 'Manchester, England',
                        price: '$17.32',
                        link: 'room-detail.html'
                    },
                    {
                        image: "assets/imgs/page/hotel/room3.png",
                        title: 'Deluxe Ensuite Room',
                        location: 'Manchester, England',
                        price: '$15.63',
                        link: 'room-detail.html'
                    },
                    {
                        image: "assets/imgs/page/hotel/room4.png",
                        title: 'Deluxe Queen Room',
                        location: 'Manchester, England',
                        price: '$48.25',
                        link: 'room-detail.html'

                    },
                    {
                        image: "assets/imgs/page/hotel/room5.png",
                        title: 'Deluxe Queen Room',
                        location: 'Manchester, England',
                        price: '$17.32',
                        link: 'room-detail.html'
                    },
                    {
                        image: "assets/imgs/page/hotel/room6.png",
                        title: 'Deluxe Queen Room',
                        location: 'Manchester, England',
                        price: '$15.63',
                        link: 'room-detail.html'
                    }
                ]
            each item in item4Lists
                .col-lg-4.col-md-6.wow.fadeInUp  
                    .card-journey-small.card-journey-small-type-3.background-card 
                        .card-image 
                            a.wish(href="#")
                                svg(width='20', height='18', viewbox='0 0 20 18', fill='none', xmlns='http://www.w3.org/2000/svg')
                                    path(d='M17.071 10.1422L11.4141 15.7991C10.6331 16.5801 9.36672 16.5801 8.58568 15.7991L2.92882 10.1422C0.9762 8.1896 0.9762 5.02378 2.92882 3.07116C4.88144 1.11853 8.04727 1.11853 9.99989 3.07116C11.9525 1.11853 15.1183 1.11853 17.071 3.07116C19.0236 5.02378 19.0236 8.1896 17.071 10.1422Z', stroke='', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
                            a(href= item.link)
                                img(src= item.image, alt="Travila")
                        .card-info 
                            .card-rating 
                                .card-left 
                                .card-right 
                                    span.rating 4.96 
                                        span.text-sm-medium.neutral-500 (672 reviews)

                            .card-title 
                                a.text-lg-bold.neutral-1000(href= item.link)= item.title 
                            .card-program 
                                .card-facilities 
                                    .item-facilities 
                                        p.pax.text-md-medium.neutral-1000 2 adults 
                                    .item-facilities 
                                        p.size.text-md-medium.neutral-1000 35 sqm
                                    .item-facilities 
                                        p.bed.text-md-medium.neutral-1000 2 Beds
                                    .item-facilities 
                                        p.bathroom.text-md-medium.neutral-1000 1 Bathrooms
                                .endtime 
                                    .card-price 
                                        h6.heading-6.neutral-1000= item.price
                                        p.text-md-medium.neutral-500 / night
                                    .card-button 
                                        a.btn.btn-gray(href="#") Book Now