section.section-box.box-how-it-work-hotel-detail.background-body
    .container 
        .box-banner-left-how
        .row
            .col-md-6
                
            .col-md-6
                h3.neutral-1000.wow.fadeInUp How It Work ?
                p.text-xl-medium.neutral-500.wow.fadeInUp.mb-40 Just 4 easy and quick steps
                ul.list-steps.wow.fadeInUp 
                    li 
                        .step-no    
                            span 1
                        .step-info
                            p.text-xl-bold.neutral-1000 Browse and Select
                            p.text-sm-medium.neutral-500 Easily find your perfect car. Filter by model, brand, and size for a seamless selection process.
                    li 
                        .step-no    
                            span 2
                        .step-info
                            p.text-xl-bold.neutral-1000 Booking and Reservation
                            p.text-sm-medium.neutral-500 Quickly reserve with flexible dates and locations. Real-time availability updates ensure a smooth booking experience.
                    li 
                        .step-no    
                            span 3
                        .step-info
                            p.text-xl-bold.neutral-1000 Payment and Confirmation
                            p.text-sm-medium.neutral-500 Secure payments, various methods accepted. Instant confirmation for a hassle-free rental process.
                    li 
                        .step-no    
                            span 4
                        .step-info
                            p.text-xl-bold.neutral-1000 Pickup and Return
                            p.text-sm-medium.neutral-500 Effortless pickup and return. Simple documentation, optional services like delivery, and excellent customer support.