section.box-section.block-content-tourlist.box-border-bottom.background-body
    .container 
        .box-content-main
            .content-right
                include ../../elements/box-filters.pug

                .box-grid-tours.wow.fadeIn
                    .row
                        -
                            const itemLists = [
                                {
                                    index: "1",
                                    image: "assets/imgs/page/tour/tour.png",
                                    title: '1-Hour Bay Cruise by Boat in San Francisco ',
                                    duration: '2 days, 3 nights',
                                    passenger: '6-8 guest',
                                    price: '$48.25',
                                    link: '#'

                                },
                                {
                                    index: "2",
                                    image: "assets/imgs/page/tour/tour2.png",
                                    title: 'New York City: Manhattan Island Helicopter Tour',
                                    duration: '2 days, 3 nights',
                                    passenger: '6-8 guest',
                                    price: '$48.25',
                                    link: '#'
                                },
                                {
                                    index: "3",
                                    image: "assets/imgs/page/tour/tour3.png",
                                    title: 'Oahu: Private Surfing Lesson in Waikiki Beach',
                                    duration: '2 days, 3 nights',
                                    passenger: '6-8 guest',
                                    price: '$48.25',
                                    link: '#'
                                },
                                {
                                    index: "1",
                                    image: "assets/imgs/page/tour/tour4.png",
                                    title: 'Top of the Rock Observation Deck Ticket',
                                    duration: '2 days, 3 nights',
                                    passenger: '6-8 guest',
                                    price: '$48.25',
                                    link: '#'

                                },
                                {
                                    index: "2",
                                    image: "assets/imgs/page/tour/tour5.png",
                                    title: 'Honolulu: Diamond Head Cruise with Drinks ',
                                    duration: '2 days, 3 nights',
                                    passenger: '6-8 guest',
                                    price: '$48.25',
                                    link: '#'
                                },
                                {
                                    index: "3",
                                    image: "assets/imgs/page/tour/tour6.png",
                                    title: 'Oahu: Private Surfing Lesson in Waikiki Beach',
                                    duration: '2 days, 3 nights',
                                    passenger: '6-8 guest',
                                    price: '$48.25',
                                    link: '#'
                                },
                                {
                                    index: "1",
                                    image: "assets/imgs/page/tour/tour7.png",
                                    title: 'Iceland: Landmannalaugar 4-Hour Hiking Experience ',
                                    duration: '2 days, 3 nights',
                                    passenger: '6-8 guest',
                                    price: '$48.25',
                                    link: '#'

                                },
                                {
                                    index: "2",
                                    image: "assets/imgs/page/tour/tour8.png",
                                    title: 'San Francisco: California Sunset/Twilight',
                                    duration: '2 days, 3 nights',
                                    passenger: '6-8 guest',
                                    price: '$48.25',
                                    link: '#'
                                },
                                {
                                    index: "3",
                                    image: "assets/imgs/page/tour/tour9.png",
                                    title: 'California Academy of Sciences Entry Ticket ',
                                    duration: '2 days, 3 nights',
                                    passenger: '6-8 guest',
                                    price: '$48.25',
                                    link: '#'
                                },
                                {
                                    index: "1",
                                    image: "assets/imgs/page/tour/tour10.png",
                                    title: 'NYC: Lower East Side Food Tastings and Culture Tour',
                                    duration: '2 days, 3 nights',
                                    passenger: '6-8 guest',
                                    price: '$48.25',
                                    link: '#'

                                },
                                {
                                    index: "2",
                                    image: "assets/imgs/page/tour/tour11.png",
                                    title: 'The High Roller at The LINQ Ticket Las Vegas Strip',
                                    duration: '2 days, 3 nights',
                                    passenger: '6-8 guest',
                                    price: '$48.25',
                                    link: '#'
                                },
                                {
                                    index: "3",
                                    image: "assets/imgs/page/tour/tour12.png",
                                    title: 'California Academy of Sciences Entry Ticket ',
                                    duration: '2 days, 3 nights',
                                    passenger: '6-8 guest',
                                    price: '$48.25',
                                    link: '#'
                                },
                                {
                                    index: "1",
                                    image: "assets/imgs/page/tour/tour13.png",
                                    title: 'San Francisco: California Sunset/Twilight',
                                    duration: '2 days, 3 nights',
                                    passenger: '6-8 guest',
                                    price: '$48.25',
                                    link: '#'

                                },
                                {
                                    index: "2",
                                    image: "assets/imgs/page/tour/tour14.png",
                                    title: 'Oahu: Shark Cage Dive on the North Shore ',
                                    duration: '2 days, 3 nights',
                                    passenger: '6-8 guest',
                                    price: '$48.25',
                                    link: '#'
                                },
                                {
                                    index: "3",
                                    image: "assets/imgs/page/tour/tour15.png",
                                    title: 'From Paris: Day Trip to Champagne with 8 Lunch ',
                                    duration: '2 days, 3 nights',
                                    passenger: '6-8 guest',
                                    price: '$48.25',
                                    link: '#'
                                },
                                {
                                    index: "1",
                                    image: "assets/imgs/page/tour/tour16.png",
                                    title: 'Las Vegas: Grand Canyon, Antelope Canyon',
                                    duration: '2 days, 3 nights',
                                    passenger: '6-8 guest',
                                    price: '$48.25',
                                    link: '#'

                                },
                                {
                                    index: "2",
                                    image: "assets/imgs/page/tour/tour17.png",
                                    title: '1-Hour Bay Cruise by Boat in San Francisco ',
                                    duration: '2 days, 3 nights',
                                    passenger: '6-8 guest',
                                    price: '$48.25',
                                    link: '#'
                                },
                                {
                                    index: "3",
                                    image: "assets/imgs/page/tour/tour18.png",
                                    title: 'Paris: French Wine Tasting Class with Sommelier ',
                                    duration: '2 days, 3 nights',
                                    passenger: '6-8 guest',
                                    price: '$48.25',
                                    link: '#'
                                },
                                {
                                    index: "2",
                                    image: "assets/imgs/page/tour/tour17.png",
                                    title: '1-Hour Bay Cruise by Boat in San Francisco ',
                                    duration: '2 days, 3 nights',
                                    passenger: '6-8 guest',
                                    price: '$48.25',
                                    link: '#'
                                },
                                {
                                    index: "3",
                                    image: "assets/imgs/page/tour/tour18.png",
                                    title: 'Paris: French Wine Tasting Class with Sommelier ',
                                    duration: '2 days, 3 nights',
                                    passenger: '6-8 guest',
                                    price: '$48.25',
                                    link: '#'
                                }
                            ]
                        each item in itemLists
                            .col-xl-3.col-lg-4.col-md-6
                                .card-journey-small.background-card 
                                    .card-image 
                                        if item.index == "1"
                                            a.label(href="#") Top Rated
                                        else if item.index == "2"
                                            a.label.bestsale(href="#") Best Sale
                                        else 
                                            a.label.saleoff(href="#") 25% Off
                                        img(src= item.image, alt="Travila")
                                    .card-info.background-card 
                                        .card-rating 
                                            .card-left 
                                            .card-right 
                                                span.rating 4.96 
                                                    span.text-sm-medium.neutral-500 (672 reviews)

                                        .card-title 
                                            a.text-lg-bold.neutral-1000(href= item.link)= item.title 
                                        .card-program 
                                            .card-duration-tour 
                                                p.icon-duration.text-sm-medium.neutral-500= item.duration
                                                p.icon-guest.text-sm-medium.neutral-500= item.passenger
                                            .endtime 
                                                .card-price 
                                                    h6.heading-6.neutral-1000= item.price
                                                .card-button 
                                                    a.btn.btn-gray(href="#") Book Now

                include ../../elements/pagination.pug
