section.section-box.box-payments.box-vision.background-body
    .container 
        .row.align-items-center 
            .col-lg-6.mb-30
                .box-right-payment
                    span.btn.btn-brand-secondary Welcome to Le Meurice Hotel
                    h2.title-why.mb-25.mt-10.neutral-1000 A New Vision of Luxury
                    p.text-lg-medium.neutral-500.mb-35 Le Meurice is an iconic luxury hotel situated in the heart of Paris, France, renowned for its elegance, sophistication, and rich history. Nestled on the Rue de Rivoli, overlooking the splendid Tuileries Garden and just steps away from the Louvre Museum, this esteemed establishment has been a beacon of opulence and hospitality since its inception in 1835.
                    .box-telephone-booking 
                        .box-tel-left 
                            .box-need-help 
                                p.need-help.neutral-1000.text-lg-bold.mb-5 Need help? Call us
                                br
                                a.heading-6.phone-support(href="tel:1-800-222-8888") 1-800-222-8888
                        .box-tel-right 
                            a.btn.btn-tag(href="#") Availability Rooms 
                                svg(width='16', height='16', viewbox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                                    path(d='M8 15L15 8L8 1M15 8L1 8', stroke='black', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
                    .payment-method 
                        p.text-sm-bold.neutral-500 Payments accepted
                        .box-swiper.mt-15
                            .swiper-container.swiper-group-payment
                                .swiper-wrapper
                                    .swiper-slide
                                        .btn.btn-payment
                                            img(src="assets/imgs/template/icons/paypal.png", alt="Travila")
                                    .swiper-slide
                                        .btn.btn-payment
                                            img(src="assets/imgs/template/icons/stripe.png", alt="Travila")
                                    .swiper-slide
                                        .btn.btn-payment
                                            img(src="assets/imgs/template/icons/mastercard.png", alt="Travila")
                                    .swiper-slide
                                        .btn.btn-payment
                                            img(src="assets/imgs/template/icons/skrill.png", alt="Travila")

            .col-lg-6.mb-30.text-center.text-lg-end
                .box-image-vision 
                    img.w-100(src="assets/imgs/page/hotel/img-vision.png", alt="Travila")
                    .image-vision-1
                        img.w-100.mb-15(src="assets/imgs/page/hotel/img-vision2.png", alt="Travila")
                    .image-vision-2
                        img.w-100(src="assets/imgs/page/hotel/img-vision3.png", alt="Travila")
