section.box-section.block-banner-home10 
    .container 
        p.text-with-img.mb-30 
            img(src="assets/imgs/page/homepage10/earth.png", alt="Travila")
            | The Best Booking System
        h1.color-white.mb-20 Find The Best Flight 
            br.d-none.d-lg-block 
            | For The Amazing Places
        ul.list-ticks-green 
            li Intuitive User Interface
            li Transparent Booking Process
            li Exceptional Customer Support
        .box-buttons-banner.mt-65 
            a.btn.btn-brand-secondary(href="contact.html") Contact Us
                svg(width='24', height='24', viewbox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                    path(d='M12 19L19 12L12 5M19 12L5 12', stroke='', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
            a.btn.btn-how-work.color-white.popup-youtube(href="https://www.youtube.com/watch?v=JXMWOmuR1hU")
                img(src="assets/imgs/page/homepage10/play.png", alt="Travila")
                | How It Work?
section.box-section.box-search-advance-home10.background-body
    .container 
        include ../../elements/box-search-1.pug