section.section-box.box-skyward.background-3
    .container 
        .row.align-items-center 
            .col-lg-6.mb-30.wow.fadeInUp
                .box-image-sky 
                    .col-sky-1
                        img.w-100(src="assets/imgs/page/homepage10/sky.png", alt="Travila")
                        img.w-100(src="assets/imgs/page/homepage10/sky2.png", alt="Travila")

                    .col-sky-2
                        img.w-100(src="assets/imgs/page/homepage10/sky3.png", alt="Travila")

            .col-lg-6.mb-30.wow.fadeInUp
                .box-right-skyward
                    span.btn.btn-tag-white Takes You Skyward
                    h4.title-why.mb-25.mt-10.neutral-1000 Your Premier Destination for Unmatched Flight Experiences
                    p.text-lg-medium.mb-25.neutral-1000 Experience stress-free travel planning with our website where you can easily book flights, check in an make changes to your itinerary with just a few clicks
                    .payment-method.mt-60 
                        .box-swiper.mt-30
                            .swiper-container.swiper-group-payment
                                .swiper-wrapper
                                    .swiper-slide
                                        .btn.btn-payment
                                            img(src="assets/imgs/template/icons/paypal.png", alt="Travila")
                                    .swiper-slide
                                        .btn.btn-payment
                                            img(src="assets/imgs/template/icons/stripe.png", alt="Travila")
                                    .swiper-slide
                                        .btn.btn-payment
                                            img(src="assets/imgs/template/icons/mastercard.png", alt="Travila")
                                    .swiper-slide
                                        .btn.btn-payment
                                            img(src="assets/imgs/template/icons/skrill.png", alt="Travila")