/*RESET*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
main {
	display: block;
	clear: both;
}
thead {
    font-weight: 600;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
img {
    max-width: 100%;
}
input,
select,
button,
textarea {
    font-family: $font-text;
    font-size: $font-sm;
}
*:focus,
select:focus,
.custom-select:focus,
button:focus,
textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
[type="text"].form-control:focus,
[type="password"].form-control:focus,
[type="email"].form-control:focus,
[type="tel"].form-control:focus,
[contenteditable].form-control:focus {
    outline: none !important;
    box-shadow: none !important;
    background-color: var(--bs-background-card);
    color: var(--bs-neutral-1000);
}
input:focus::-moz-placeholder {
    opacity: 0;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
a {
    color: $color-brand;
    &:hover {
        color: $color-brand-2;
    }
    *
    {
        &:hover
        {
            color: $color-brand-2;
        }
    }
}
li.hr {
    span {
        width: 100%;
        height: 1px;
        background-color: #e4e4e4;
        margin: 20px 0;
        display: block;
    }
}
p {
    color: $color-text-paragraph;
}/*--- Common Classes---------------------*/
::selection {
    background: $color-brand; /* WebKit/Blink Browsers */
    color: #fff;
}
::-moz-selection {
    background: $color-brand; /* Gecko Browsers */
    color: #fff;
}
::placeholder {
    color: $color-text-mutted;
    opacity: 1;
}
:-ms-input-placeholder,
::-webkit-input-placeholder {
    color: $color-text-mutted;
    opacity: 1;
}
.fix {
    overflow: hidden;
}
.hidden {
    display: none;
}
.clear {
    clear: both;
}
.section {
    float: left;
    width: 100%;
}
.f-right {
    float: right;
}
.capitalize {
    text-transform: capitalize;
}
.uppercase {
    text-transform: uppercase;
}
.bg-img {
    background-position: center center;
    background-size: cover;
}
.position-relative {
    position: relative;
}
.height-100vh {
    height: 100vh !important;
}
*:focus,
select:focus,
.custom-select:focus,
button:focus,
textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
[type="text"].form-control:focus,
[type="password"].form-control:focus,
[type="email"].form-control:focus,
[type="tel"].form-control:focus,
[contenteditable].form-control:focus {
    outline: none !important;
    box-shadow: none;
}
.border-radius {
    border-radius: 4px;
}
.border-radius-5 {
    border-radius: 5px;
}
.border-radius-10 {
    border-radius: 10px;
}
.border-radius-15 {
    border-radius: 15px;
}
.border-radius-20 {
    border-radius: 20px;
}
.hover-up {
    transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
    &:hover {
        transform: translateY(-3px);
        transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
    }
}

.none-shadow {
    box-shadow: none !important;
}
.form-control {
    border: 1px solid var(--bs-border-color);
    border-radius: 4px;
    background-color: var(--bs-background-card);
    padding: 11px 15px 13px 15px;
    width: 100%;
    color: var(--bs-neutral-1000);
    font-size: $font-sm;
    &::placeholder {
        color: var(--bs-neutral-500);
    }
}
.form-group {
    position: relative;
    i {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 15px;
        font-size: 18px;
        color: $color-text-mutted;
    }
}
.form-icons {
    padding-left: 41px;
}
.text-white {
    color: $color-white;
}
@media (min-width: 1400px) {
    .container {
        max-width: 1350px;
    }
}
strong {
    font-weight: bold;
}
a {
    text-decoration: none;
}
*:hover {
    transition-duration: 0.2s;
}
.section-box {
    display: inline-block;
    width: 100%;
    overflow: visible;
}
.text-shadow {
    text-shadow: $text-shadow;
}
.img-responsive {
    max-width: 100%;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: $color-text-paragraph;
    line-height: 26px;
    font-family: $font-heading;
    font-size: $font-sm;
}
.select2-search.select2-search--dropdown {
    padding: 0;
    margin-bottom: 10px;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
    border: thin solid $border-color;
    border-radius: 4px;
    height: 40px;
    padding-left: 15px;
}
.select2-dropdown {
    border-color: $color-white;
    box-shadow: $box-shadow-2;
}
.select2-container--open .select2-dropdown--below {
    border: thin solid #ececec;
    padding: 15px;
    margin-top: 10px;
    border-radius: 4px;
    min-width: 200px;
}
.select-style {
    .select2-selection--single .select2-selection__rendered {
        color: $color-text-mutted;
    }
    .select2 {
        border: 1px solid $color-border-2;
        border-radius: 4px;
        padding: 10px 20px 10px 20px;
        display: inline-block;
        width: 100% !important;
    }
    .select2 .select2-selection__arrow {
        background: url(../imgs/template/icons/arrow-down.svg) no-repeat right 10px center;
        top: 11px;
        width: 26px;
        opacity: 0.5;
    }
    .select2 .select2-selection__arrow b {
        display: none !important;
    }
}
.select-style-icon {
    .select2 {
        padding-left: 33px;
    }
}
.dropdown {
    position: relative;
    .dropdown-menu.show {
        border: thin solid var(--bs-border-color);
        box-shadow: $box-shadow-2;
        background-color: var(--bs-background-body);
        border-radius: 10px;
        padding: 0;
        overflow: hidden;
        .dropdown-item {
            padding: 10px 20px;
            color: var(--bs-neutral-500);
            font-size: 14px;
            &.active, &:hover {
                text-decoration: none;
                background-color: var(--bs-neutral-100);
            }
            &:active {
                text-decoration: none;
                background-color: var(--bs-neutral-100);
            }
        }
    }
    &.dropdown-sort {
        .dropdown-menu.show {            
            border-radius: 10px;
            margin-top: 20px;
        }
    }
}
h1
{
    font-family: $font-heading;
    font-style: normal;
    font-weight: 800;
    font-size: $font-3xl;
    line-height: 71px;
    color: $color-brand;
}
h2
{
    font-family: $font-heading;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    color: $color-brand;
}
h3
{
    font-family: $font-heading;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
    color: $color-brand;
}
h4
{
    font-family: $font-heading;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: $color-brand;
}
h5
{
    font-family: $font-heading;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: $color-brand;
}
h6
{
    font-family: $font-heading;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: $color-brand;
}
.font-lg, .font-md, .font-sm, .font-xs, .font-xxs
{
    font-family: $font-heading;
    font-style: normal;
    font-weight: 400;
}
.font-lg
{
    font-weight: 500;
    font-size: $font-lg;
    line-height: 26px;
}
.font-md
{
    font-size: $font-md !important;
    line-height: 24px !important;
}
.font-sm
{
    font-weight: 500;
    font-size: $font-sm !important;
    line-height: 22px !important;
}
.font-xs
{
    font-weight: 500 !important;
    font-size: $font-xs !important;
    line-height: 18px !important;
}
.font-xxs
{
    font-size: $font-xxs !important;
    line-height: 16px;
}
.font-bold
{
    font-weight: bold;
}
.font-regular
{
    font-weight: 400;
}
.color-text-paragraph
{
    color: $color-text-paragraph;
}
.color-text-paragraph-2
{
    color: $color-text-paragraph-2;
}
.color-text-mutted
{
    color: $color-text-mutted;
}
.color-white
{
    color: $color-white !important;
}
.color-orange {
    color: $background-orange !important;
}
.text-14
{
    font-size: $font-sm;
    line-height: 14px;
    font-weight: 500;
    display: inline-block;
    vertical-align: middle;
}
.text-32
{
    font-size: 32px;
    line-height: 40px;
    font-weight: 800;
}
.text-52
{
    font-size: 52px;
    line-height: 66px;
    font-weight: 800;
    color: $color-brand
}
.text-42
{
    font-size: 42px;
    line-height: 53px;
    font-weight: 700;
    color: $color-brand
}
.color-green
{
    color: $color-green;
}
.color-brand-1
{
    color: $color-brand !important;
}
.color-brand-2
{
    color: $color-brand-2
}
.op-70
{
    opacity: 0.7;
}
.f-18
{
    font-size: 18px;
}
.box-progress-bar
{
    .progress
    {
        height: 6px;
        position: relative;
        overflow: visible;
        border-radius: 5px;
        background-color: $color-border-2;
        .bg-paragraph-2 {
            overflow: visible;
            border-radius: 10px;
            position: relative;
            background-color: $color-text-paragraph-2 !important;
            span
            {
                position: absolute;
                top: -25px;
                right: -14px;
                color: $color-text-paragraph-2;
                font-size: $font-xs;
                line-height: 18px;
            }
            &::before
            {
                content: "";
                height: 16px;
                width: 16px;
                border-radius: 50%;
                background-color: $color-text-paragraph-2;
                position: absolute;
                top: -5px;
                right: -5px;
            }
        }
        .bg-brand-2 {
            overflow: visible;
            border-radius: 10px;
            position: relative;
            background-color: $color-brand-2 !important;
            span
            {
                position: absolute;
                top: -25px;
                right: -14px;
                color: $color-text-paragraph-2;
                font-size: $font-xs;
                line-height: 18px;
            }
            &::before
            {
                content: "";
                height: 16px;
                width: 16px;
                border-radius: 50%;
                background-color: $color-brand-2;
                position: absolute;
                top: -5px;
                right: -5px;
            }
        }
    }
}

iframe {
    width: 100%;
}
.bg-green {
    background-color: $background-green !important;
}
.bg-orange {
    background-color: $background-orange !important;
}
.bg-pink {
    background-color: $background-pink !important;
}
.bg-9 {
    background-color: $background-9 !important;
}
.bg-14 {
    background-color: $background-14 !important;
}
.bg-15 {
    background-color: $background-15 !important;
}
.main {
    display: flex;
    width: 100%;
    margin-top: 66px;
    .nav {
        max-width: 300px;
        width: 100%;
        padding: 16px;
        background-color: $background-white;
        position: relative;
        top: 2px;
        z-index: 123;
        display: inline-block !important;
        border-right: 1px solid var(--bs-border-color);
    }
}
.box-content {
    width: 100%;
    padding: 40px 30px 110px 30px;
    display: inline-block;
    overflow: hidden;
    position: relative;
}
.container {
    max-width: 100%;
    padding: 0px;
}
.border-bottom {
    border-bottom: 1px solid var(--bs-border-color);
    width: 100%;
}
#chartdiv {
  width: 100%;
  height: 500px;
}
.dropdown-menu {
    z-index: 1234;
}
h1, h2, h3, h4, h5, h6, .heading-1, .heading-2, .heading-3, .heading-4, .heading-5, .heading-6 {
    font-family: $font-manrope;
    font-weight: 800;
}
h1, .heading-1 {
    font-size: 64px;
    line-height: 76px;
}
h2, .heading-2 {
    font-size: 52px;
    line-height: 76px;
}
h3, .heading-3 {
    font-size: 44px;
    line-height: 58px;
}
h4, .heading-4 {
    font-size: 36px;
    line-height: 48px;
}
h5, .heading-5 {
    font-size: 28px;
    line-height: 36px;
}
h6, .heading-6 {
    font-size: 24px;
    line-height: 32px;
}
.heading-1-regular {
    font-weight: 400;
}
.heading-1-medium {
    font-weight: 500;
}
.heading-2-regular {
    font-weight: 400;
}
.heading-2-medium {
    font-weight: 500;
}
.heading-3-regular {
    font-weight: 400;
}
.heading-3-medium {
    font-weight: 500;
}
.heading-4-regular {
    font-weight: 400;
}
.heading-4-medium {
    font-weight: 500;
}
.heading-5-regular {
    font-weight: 400;
}
.heading-5-medium {
    font-weight: 500;
}
.heading-6-regular {
    font-weight: 400;
}
.heading-6-medium {
    font-weight: 500;
}
.text-sm, .text-md, .text-lg, .text-xl, .text-label {
    font-family: $font-manrope;
    font-weight: 500;
}
.text-xs, .text-xs-medium, .text-xs-bold {
    font-size: 12px;
    line-height: 18px;
}
.text-sm, .text-sm-medium, .text-sm-bold {
    font-size: 14px;
    line-height: 22px;
}
.text-md, .text-md-medium, .text-md-bold {
    font-size: 16px;
    line-height: 26px;
}
.text-lg, .text-lg-medium, .text-lg-bold {
    font-size: 18px;
    line-height: 28px;
}
.text-xl, .text-xl-medium, .text-xl-bold {
    font-size: 20px;
    line-height: 32px;
}
.text-xs-bold, .text-sm-bold, .text-md-bold, .text-lg-bold, .text-xl-bold {
    font-weight: 700 !important;
}
.text-xs-medium, .text-sm-medium, .text-md-medium, .text-lg-medium, .text-xl-medium {
    font-weight: 500;
}
.dropdown-language .dropdown-item img {
    margin-right: 5px;
}
.box-dropdown-cart {
position: relative;
}
.box-dropdown-cart .dropdown-account, .box-dropdown-cart .dropdown-cart {
padding: 25px 25px;
width: 120px;
}
.box-dropdown-cart .dropdown-cart {
width: 90px;
}
.box-dropdown-cart .dropdown-account ul li, .box-dropdown-cart .dropdown-cart ul li {
margin-bottom: 15px;
}
.box-dropdown-cart .dropdown-account ul li a, .box-dropdown-cart .dropdown-cart ul li a {
color: var(--bs-neutral-1000);
text-decoration: none;
transition-duration: 0.2s;
&:hover {
    margin-left: 5px;
    transition-duration: 0.2s;
}
}
.box-dropdown-cart .dropdown-account ul li a img, .box-dropdown-cart .dropdown-cart ul li a img {
float: left;
margin: 4px 10px 0px 0px;
}
.dropdown-cart {
display: none;
visibility: hidden;
position: absolute;
right: -70px;
top: calc(100% + 22px);
z-index: 99;
width: 320px;
background-color: #fff;
padding: 22px;
transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
border-radius: 0 0 4px 4px;
border: 1px solid #3D565F;
}
.dropdown-cart.dropdown-open {
display: block;
visibility: visible;
}
.dropdown-account, .dropdown-cart {
right: 0;
display: none;
visibility: hidden;
position: absolute;
top: calc(100% + 30px);
border-radius: 8px;
z-index: 99;
width: 220px;
background-color: var(--bs-neutral-0);
padding: 22px;
box-shadow: $box-shadow-1;
transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
border: 1px solid var(--bs-neutral-100);
}
.dropdown-account.dropdown-open, .dropdown-cart.dropdown-open {
display: block;
visibility: visible;
}
.dropdown-account ul li, .dropdown-cart ul li {
display: flex;
flex-wrap: wrap;
margin: 0 0 20px;
}
.dropdown-account ul li:last-child, .dropdown-cart ul li:last-child {
margin: 0;
}
.dropdown-account ul li a, .dropdown-cart ul li a {
color: var(--bs-neutral-1000);
}
.dropdown-account ul li a:hover, .dropdown-cart ul li a:hover {
color: var(--bs-warning) !important;
}
.icon-lang {
    background: url(../imgs/template/icons/lang.svg) no-repeat left center;
    color: var(--bs-neutral-0);
    span {
        background: url(../imgs/template/icons/arrow-lang.svg) no-repeat right center;
    }
}
.icon-cart {
    color: var(--bs-neutral-0);
    span {
        background: url(../imgs/template/icons/arrow-lang.svg) no-repeat right center;
    }
}
.neutral-0 {
    color: var(--bs-neutral-0) !important;
}
.neutral-100 {
    color: var(--bs-neutral-100) !important;
}
.neutral-200 {
    color: var(--bs-neutral-200) !important;
}
.neutral-300 {
    color: var(--bs-neutral-300) !important;
}
.neutral-400 {
    color: var(--bs-neutral-400) !important;
}
.neutral-500 {
    color: var(--bs-neutral-500) !important;
}
.neutral-600 {
    color: var(--bs-neutral-600) !important;
}
.neutral-700 {
    color: var(--bs-neutral-700) !important;
}
.neutral-800 {
    color: var(--bs-neutral-800) !important;
}
.neutral-900 {
    color: var(--bs-neutral-900) !important;
}
.neutral-1000 {
    color: var(--bs-neutral-1000) !important;
}
.background-body {
    background-color: var(--bs-background-body) !important;
}
.button-bg-2 {
background-color: var(--bs-button-bg-2) !important;
}
.background-1 {
background-color: var(--bs-background-1) !important;
}
.background-2 {
background-color: var(--bs-background-2) !important;
}
.background-3 {
background-color: var(--bs-background-3) !important;
}
.background-4 {
background-color: var(--bs-background-4) !important;
}
.background-5 {
background-color: var(--bs-background-5) !important;
}
.background-6 {
background-color: var(--bs-background-6) !important;
}
.background-7 {
    background-color: var(--bs-background-7) !important;
}
.background-8 {
    background-color: var(--bs-background-8) !important;
}
.background-9 {
    background-color: var(--bs-background-9) !important;
}
.background-card {
background-color: var(--bs-background-card) !important;
}
.background-0 {
    background-color: var(--bs-neutral-0) !important;
}
.background-100 {
    background-color: var(--bs-neutral-100) !important;
}
.background-1000 {
    background-color: var(--bs-neutral-1000) !important;
}
@import '../layout/dark';
.pagination {
    justify-content: flex-start;
    margin-top: 30px;
    flex-wrap: wrap;
    list-style: none !important;
    padding-left: 0px !important;
    li {
        margin-bottom: 8px;
        a {
            display: inline-block;
            width: 48px;
            height: 48px;
            line-height: 48px;
            border: 0px solid var(--bs-neutral-100);
            border-radius: 50%;
            text-align: center;
            padding: 0px;
            font-family: $font-manrope;
            font-size: 18px;
            font-weight: 600;
            color: var(--bs-neutral-500);
            margin: 2px 4px;
            background-color: var(--bs-button-bg-2) ;
            &:hover, &.active {
                background-color: var(--bs-button-bg) ;
                color: var(--bs-button-text) ;
            }
        }
    }
    .page-item:not(:first-child) .page-link {
        margin-left: 2px;
    }
    .page-item:last-child .page-link {
        border: 0px;
        line-height: 42px;
        border-radius: 50%;
        svg {
            stroke: var(--bs-button-text-2) ;
        }
        &:hover {
            svg {
                stroke: $button-text-2-dark;
            }
        }
    }
    .page-item:first-child .page-link {
        border: 0px;
        line-height: 42px;
        border-radius: 50%;
        svg {
            stroke: var(--bs-button-text-2) ;
        }
        &:hover {
            svg {
                stroke: $button-text-2-dark;
            }
        }
    }
}
/*Datepick style*/
.datepicker table tr td, .datepicker table tr th {
    width: auto;
    height: auto;
    border-radius: 6px;
    padding: 7px 6px;
}
.datepicker .next {
    background-image: url(../imgs/template/icons/next-day.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    text-indent: -100px;
    overflow: hidden;
    &:hover {
        background-image: url(../imgs/template/icons/next-day.png);
        background-repeat: no-repeat;
        background-position: center;
    }
}
.datepicker .prev {
    background-image: url(../imgs/template/icons/prev-day.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    text-indent: -100px;
    overflow: hidden;
    &:hover {
        background-image: url(../imgs/template/icons/prev-day.png);
        background-repeat: no-repeat;
        background-position: center;
    }
}
.datepicker table tr td.active:active, .datepicker table tr td.active.highlighted:active, .datepicker table tr td.active.active, .datepicker table tr td.active.highlighted.active {
    background-color: var(--bs-brand-secondary);
    border-color: var(--bs-brand-secondary);
    color: var(--bs-color-black);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(var(--bs-brand-secondary)), to(var(--bs-brand-secondary)));
    background-image: -webkit-linear-gradient(to bottom, var(--bs-brand-secondary), var(--bs-brand-secondary));
    background-image: -o-linear-gradient(to bottom, var(--bs-brand-secondary), var(--bs-brand-secondary));
    background-image: linear-gradient(to bottom, var(--bs-brand-secondary), var(--bs-brand-secondary));
}
.datepicker table tr td.day:hover, .datepicker table tr td.focused {
    color: var(--bs-color-black);
}
.box-calendar-date {
    position: relative;
    &::before {
        content: "";
        height: 10px;
        width: 14px;
        background-color: transparent;
        background-image: url(../imgs/page/dashboard/dropdown.svg);
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        right: 10px;
        top: 10px;
        border: 0px;
    }
    input {
        border: 0px;
        height: auto;
        background-color: transparent;
        padding-left: 22px !important;
        background: url(../imgs/page/dashboard/calendar.svg) no-repeat left center;
        &:focus {
            border: 0px;
            background: url(../imgs/page/dashboard/calendar.svg) no-repeat left center;
        }
    }
}
/*end*/
.light-mode {display: inline-block !important;}
.dark-mode { display: none !important; }
[data-bs-theme=dark] {
    .btn-expanded {
        background: var(--bs-background-body) url(../imgs/template/icons/burger-w.svg) no-repeat center;
    }
    .btn-collapsed {
        background: var(--bs-background-body) url(../imgs/template/icons/burger-w.svg) no-repeat center;
    }
    .input-search {
        background-image: url(../imgs/template/icons/search-w.svg) !important;
    }
    .light-mode {display: none !important;}
    .dark-mode { display: inline-block !important; }
}
.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    border: 0px !important;
}