.section-box
    .container 
        .row 
            .col-xl-9.col-lg-8
                .box-form-profile 
                    h6.text-lg-bold.neutral-1000.mb-30 Update your profile
                    .box-avatar-profile 
                        .image-avatar   
                            img(src="assets/imgs/page/profile/avatar.png", alt="Travilla")
                        .box-button-upload-avatar 
                            a.btn.btn-upload-avatar(href="#") Upload Avatar
                            a.btn.btn-remove-avatar(href="#")
                                svg(width='22', height='23', viewbox='0 0 22 23', fill='none', xmlns='http://www.w3.org/2000/svg')
                                    path(d='M12.7773 10.6111V15.9444', stroke='', stroke-width='1.33333', stroke-linecap='round', stroke-linejoin='round')
                                    path(d='M9.22168 10.6111V15.9444', stroke='', stroke-width='1.33333', stroke-linecap='round', stroke-linejoin='round')
                                    path(d='M5.66602 7.05557V17.7222C5.66602 18.7041 6.46196 19.5 7.4438 19.5H14.5549C15.5367 19.5 16.3327 18.7041 16.3327 17.7222V7.05557', stroke='', stroke-width='1.33333', stroke-linecap='round', stroke-linejoin='round')
                                    path(d='M3.88867 7.05557H18.1109', stroke='', stroke-width='1.33333', stroke-linecap='round', stroke-linejoin='round')
                                    path(d='M6.55566 7.05556L8.33344 3.5H13.6668L15.4446 7.05556', stroke='', stroke-width='1.33333', stroke-linecap='round', stroke-linejoin='round')

                    .row 
                        .col-lg-6
                            .form-group 
                                label.text-sm-medium.neutral-500.mb-10 Full Name *
                                input.form-control(type="text", placeholder="Steven Job")
                        .col-lg-6
                            .form-group 
                                label.text-sm-medium.neutral-500.mb-10 Email *
                                input.form-control(type="text", placeholder="stevenjob@gmail.com")
                        .col-lg-6
                            .form-group 
                                label.text-sm-medium.neutral-500.mb-10 Contact number *
                                input.form-control(type="text", placeholder="Contact number", value="01 - 234 567 89")
                        .col-lg-6
                            .form-group 
                                label.text-sm-medium.neutral-500.mb-10 Personal website
                                input.form-control(type="text", placeholder="https://alithemes.com")
                        .col-lg-12
                            .form-group 
                                label.text-sm-medium.neutral-500.mb-10 Bio
                                textarea.form-control(placeholder="Your comment", rows="6")
                                    | We are AliThemes , a creative and dedicated group of individuals who love web development almost as much as we love our customers. We are passionate team with the mission for achieving the perfection in web design.
                        .col-lg-6
                            .form-group 
                                label.text-sm-medium.neutral-500.mb-10 Languages
                                input.form-control(type="text", placeholder="", value="English, French")
                        .col-lg-6
                            .form-group 
                                label.text-sm-medium.neutral-500.mb-10 Nationality
                                input.form-control(type="text", placeholder="Tour Experience", value="France")
                    .box-button-save.mt-15 
                        button.btn.btn-gray Save Changes
                
                .box-form-profile     
                    h6.text-lg-bold.neutral-1000.mb-30 Contact Information
                    .row 
                        .col-lg-6
                            .form-group 
                                label.text-sm-medium.neutral-500.mb-10 Country
                                input.form-control(type="text", placeholder="Country", value="United States of America")
                        .col-lg-6
                            .form-group 
                                label.text-sm-medium.neutral-500.mb-10 City
                                input.form-control(type="text", placeholder="City", value="Chicago")
                        .col-lg-12
                            .form-group 
                                label.text-sm-medium.neutral-500.mb-10 Complete Address
                                input.form-control(type="text", placeholder="Complete Address", value="205 North Michigan Avenue, Suite 810, Chicago, 60601, USA")
                        .col-lg-12
                            .form-group 
                                label.text-sm-medium.neutral-500.mb-10 Find On Map
                                input.form-control(type="text", placeholder="Find On Map", value="205 North Michigan Avenue, Suite 810, Chicago, 60601, USA")
                        .col-lg-6
                            .form-group 
                                label.text-sm-medium.neutral-500.mb-10 Latitude
                                input.form-control(type="text", placeholder="Address")
                        .col-lg-6
                            .form-group 
                                label.text-sm-medium.neutral-500.mb-10 Longitude
                                input.form-control(type="text", placeholder="Address 2")
                        .col-lg-12
                            .form-group 
                                label.text-sm-medium.neutral-500.mb-10 Google Map
                                .map-tour 
                                    iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d120835.65146929219!2d2.5873635107259836!3d47.992147406516835!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e5878d50e09eab%3A0x40b82c3688c4a20!2s77460%20Souppes-sur-Loing%2C%20Ph%C3%A1p!5e0!3m2!1svi!2s!4v1715095452879!5m2!1svi!2s', width='100%', height='363', style='border:0;', allowfullscreen='', loading='lazy', referrerpolicy='no-referrer-when-downgrade')
                    .box-button-save 
                        button.btn.btn-black Save Changes
            
            .col-xl-3.col-lg-4
                .box-form-profile 
                    h6.text-lg-bold.neutral-1000.mb-12 Social Network
                    .row 
                        .col-lg-12
                            label.lbl-checkbox.text-sm-medium.neutral-500 Facebook
                            .form-group 
                                input.form-control(type="text", placeholder="https://www.facebook.com")
                        .col-lg-12
                            label.lbl-checkbox.text-sm-medium.neutral-500 Twitter
                            .form-group 
                                input.form-control(type="text", placeholder="https://twitter.com")
                        .col-lg-12
                            label.lbl-checkbox.text-sm-medium.neutral-500 Instagram
                            .form-group 
                                input.form-control(type="text", placeholder="https://www.instagram.com")

                    .box-button-save.mt-15 
                        button.btn.btn-gray Save Changes

                .box-form-profile 
                    h6.text-lg-bold.neutral-1000.mb-12 Change Password
                    .row 
                        .col-lg-12
                            label.lbl-checkbox.text-sm-medium.neutral-500 Old Password
                            .form-group 
                                input.form-control(type="password", placeholder="*************")
                        .col-lg-12
                            label.lbl-checkbox.text-sm-medium.neutral-500 New Password
                            .form-group 
                                input.form-control(type="password", placeholder="*************")
                        .col-lg-12
                            label.lbl-checkbox.text-sm-medium.neutral-500 Confirm new password
                            .form-group 
                                input.form-control(type="password", placeholder="*************")

                    .box-button-save.mt-15 
                        button.btn.btn-gray Save Changes