section.section-box.box-category-posts.background-body
    .container 
        .box-list-populars 
            .row 
                -
                    const item2Lists = [
                        {
                            image: "assets/imgs/page/blog/cat.png",
                            title: 'Wanderlust',
                            link: 'blog-grid.html'

                        },
                        {
                            image: "assets/imgs/page/blog/cat2.png",
                            title: 'Cuisine',
                            link: 'blog-grid.html'
                        },
                        {
                            image: "assets/imgs/page/blog/cat3.png",
                            title: 'Adventure',
                            link: 'blog-grid.html'
                        },
                        {
                            image: "assets/imgs/page/blog/cat4.png",
                            title: 'Luxury',
                            link: 'blog-grid.html'
                        },
                        {
                            image: "assets/imgs/page/blog/cat5.png",
                            title: 'Budget',
                            link: 'blog-grid.html'
                        },
                        {
                            image: "assets/imgs/page/blog/cat6.png",
                            title: 'Family',
                            link: 'blog-grid.html'
                        },
                        {
                            image: "assets/imgs/page/blog/cat7.png",
                            title: 'Heritage',
                            link: 'blog-grid.html'
                        },
                        {
                            image: "assets/imgs/page/blog/cat8.png",
                            title: 'Outdoors',
                            link: 'blog-grid.html'
                        }
                    ]
                each item2 in item2Lists
                    .col-lg-3.col-sm-6 
                        .card-popular.card-top-destination.background-card.wow.fadeInUp 
                            .card-image 
                                img(src= item2.image, alt="Travila")
                            .card-info 
                                a.card-title(href= item2.link)= item2.title
                                .card-meta 
                                    .meta-links 
                                        a.text-tour.text-post(href="#") 57 posts
                                    .card-button 
                                        a(href= item2.link) 
                                            svg(width='10', height='10', viewbox='0 0 10 10', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                path(d='M5.00011 9.08347L9.08347 5.00011L5.00011 0.916748M9.08347 5.00011L0.916748 5.00011', stroke='', stroke-linecap='round', stroke-linejoin='round')