section.section-box.box-next-trips.background-body
    .container 
        .row.align-items-end 
            .col-lg-8.mb-30
                h1.text-86-bold.neutral-1000 Inspiration 
                h2.text-64-medium.neutral-1000 for Your Next Trips
                h6.neutral-500 Discover the World's Treasures with Travila 
            .col-lg-4.mb-30
                p.text-md-bold.neutral-1000 Subscribe to see secret deals prices drop the moment you sign up!
                .footer-type-3
                    .d-flex.align-items-center
                        form.form-newsletter(action="#") 
                            input.form-control(type="text", placeholder="Enter your email")
                            input.btn.btn-brand-secondary(type="submit", value="Subscribe")
        .box-button-slider-nexttrip.full-line