nav.nav-main-menu
    ul.main-menu
        li.mega-li.has-children
            a.active(href='index.html') Home
            .mega-menu
                .mega-menu-inner
                    .row.align-items-center
                        .col-lg-10
                            .row.align-items-center
                                .col-lg-4
                                    p.text-md-bold.mb-10.neutral-1000 Start Your Journey
                                    h5.mb-45.neutral-1000 Book, Pack, Go! Your Ultimate Travel Companion
                                    a.btn.btn-brand-secondary Exploring Now 
                                        svg(width='16', height='16', viewbox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                                            path(d='M8 15L15 8L8 1M15 8L1 8', stroke='black', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round') 
                                .col-lg-4
                                    .card-home-link.background-body 
                                        a.card-icon(href="index.html") 
                                            img(src="assets/imgs/template/icons/activity.svg", alt="Travila")
                                        .card-info 
                                            a(href="index.html")
                                                h6.text-md-bold Home 01 - All Services
                                            p.text-xs-medium.neutral-500 Tours, Activities, Destinations, Hotels, Rental, Tickets
                                    .card-home-link.background-body 
                                        a.card-icon(href="index-2.html") 
                                            img(src="assets/imgs/template/icons/map.svg", alt="Travila")
                                        .card-info 
                                            a(href="index-2.html")
                                                h6.text-md-bold Home 02 - All Services
                                            p.text-xs-medium.neutral-500 Tours, Activities, Destinations, Hotels, Rental, Tickets
                                    .card-home-link.background-body 
                                        a.card-icon(href="index-3.html") 
                                            img(src="assets/imgs/template/icons/deck-chair.svg", alt="Travila")
                                        .card-info 
                                            a(href="index-3.html")
                                                h6.text-md-bold Home 03 - All Services
                                            p.text-xs-medium.neutral-500 Tours, Activities, Destinations, Hotels, Rental, Tickets
                                .col-lg-4
                                    ul.list-featured
                                        li
                                            a.tours(href='index-4.html') Home 04 - Tours
                                        li
                                            a.activities(href='index-5.html') Home 05 - Activities
                                        li
                                            a.destinations(href='index-6.html') Home 06 - Destinations
                                        li
                                            a.hotels(href='index-7.html') Home 07 - Hotels
                                        li
                                            a.rental-car(href='index-8.html') Home 08 - Rental Car
                                        li
                                            a.property(href='index-9.html') Home 09 - Property
                                        li
                                            a.tickets(href='index-10.html') Home 10 - Tickets
                        .col-lg-2
                            img(src="assets/imgs/template/world.png", alt="Travila")
        li.mega-li-small.has-children
            a(href='about.html') Tours
            .mega-menu
                .mega-menu-inner.mega-menu-inner-small
                    .row
                        .col-lg-6
                            h6.text-lg-bold.neutral-1000 Tours Listing
                            ul.sub-menu
                                li
                                    a(href='tour-grid-3.html') Tours List - Top Fillter
                                li
                                    a(href='tour-grid.html') Sidebar Left Fillter
                                li
                                    a(href='tour-grid-2.html') Sidebar Right Fillter
                                li
                                    a(href='tour-list.html') Tours List - List 1
                                li
                                    a(href='tour-list-2.html') Tours List - List 2
                        .col-lg-6
                            h6.text-lg-bold.neutral-1000 Tour Details
                            ul.sub-menu
                                li
                                    a(href='tour-detail.html') Tour Single 01 - Gallery
                                li
                                    a(href='tour-detail-2.html') Tour Single 02 - Slideshow
                                li
                                    a(href='tour-detail-3.html') Tour Single 03 - Video
                                li
                                    a(href='tour-detail-4.html') Tour Single 04 - Image
        li.mega-li-small.has-children
            a(href='service.html') Destinations
            .mega-menu
                .mega-menu-inner.mega-menu-inner-small.mega-menu-inner-destinations
                    h6.text-lg-bold.neutral-1000 Destinations
                    ul.sub-menu
                        li
                            a(href='destination.html') Destinations list 01
                        li
                            a(href='destination-2.html') Destinations list 02
                        li
                            a(href='destination-3.html') Destinations list 03
                        li
                            a(href='destination-4.html') Destinations Details 01
                        li
                            a(href='destination-5.html') Destinations Details 02
                        li
                            a(href='destination-6.html') Destinations Details 03
        li.has-children
            a(href='#') Activities
            ul.sub-menu 
                li 
                    a(href="activities.html") Activities List 01
                li 
                    a(href="activities-2.html") Activities List 02
                li 
                    a(href="activities-3.html") Activities List 03
                li 
                    a(href="activities-4.html") Activities List 04
                li 
                    a(href="activities-5.html") Activities List 05
                li 
                    a(href="activities-detail.html") Activities Single 01
                li 
                    a(href="activities-detail-2.html") Activities Single 02
                li 
                    a(href="activities-detail-3.html") Activities Single 03
                li 
                    a(href="activities-detail-4.html") Activities Single 04
        li.has-children
            a(href='blog.html') Hotel
            ul.sub-menu
                li
                    a(href='hotel-grid.html') Hotel List 01
                li
                    a(href='hotel-grid-2.html') Hotel List 02
                li
                    a(href='hotel-grid-3.html') Hotel List 03
                li
                    a(href='hotel-grid-4.html') Hotel List 04
                li
                    a(href='hotel-grid-5.html') Hotel List 05
                li
                    a(href='hotel-grid-6.html') Hotel List 06
                li
                    a(href='hotel-detail.html') Hotel Details 01
                li
                    a(href='hotel-detail-2.html') Hotel Details 02
        li.mega-li-small.has-children
            a(href='#') Rental
            .mega-menu
                .mega-menu-inner.mega-menu-inner-small
                    .row
                        .col-lg-6
                            h6.text-lg-bold.neutral-1000 Cars Rental
                            ul.sub-menu
                                li
                                    a(href='rental-car.html') Car Grid
                                li
                                    a(href='rental-car-2.html') Car Grid 02
                                li
                                    a(href='rental-car-3.html') Car Grid 03
                                li
                                    a(href='rental-car-4.html') Car list
                                li
                                    a(href='rental-detail.html') Car Details
                        .col-lg-6
                            h6.text-lg-bold.neutral-1000 Property Rental
                            ul.sub-menu
                                li
                                    a(href='rental-property.html') Property Grid
                                li
                                    a(href='rental-property-2.html') Property Grid 02
                                li
                                    a(href='rental-property-3.html') Property List
                                li
                                    a(href='property-detail.html') Property Details
        li.has-children
            a(href='tickets.html') Tickets
            ul.sub-menu
                li
                    a(href='tickets.html') Flight tickets
                li
                    a(href='tickets-2.html') Train tickets
                li
                    a(href='book-ticket.html') Ticket details
        li.has-children
            a(href='javascript:void(0)') Pages
            ul.sub-menu
                li
                    a(href='about.html') About
                li
                    a(href='contact.html') Contact
                li
                    a(href='privacy.html') Privacy
                li
                    a(href='faq.html') FAQs
                li
                    a(href='help-center.html') Help center
                li
                    a(href='become-expert.html') Become Expert
                li
                    a(href='comming-soon.html') Coming soon
                li
                    a(href='checkout.html') Checkout
                li
                    a(href='confirmation.html') Confirmationn
                li
                    a(href='invoice.html') Invoice
                li
                    a(href='term.html') Term
                li
                    a(href='404.html') 404
        li.has-children
            a(href='blog-grid.html') Blog
            ul.sub-menu
                li
                    a(href='blog-grid.html') Grid Full
                li
                    a(href='blog-grid-2.html') Grid Sidebar
                li
                    a(href='blog-grid-3.html') List
                li
                    a(href='blog-detail.html') Blog Details
                li
                    a(href='blog-detail-2.html') Blog Details 2
        li
            a(href='contact.html') Contact