.mobile-header-active.mobile-header-wrapper-style.perfect-scrollbar.button-bg-2
    .mobile-header-wrapper-inner
        .mobile-header-logo 
            a.d-flex(href='index.html')
                img.light-mode(alt='Travila', src='assets/imgs/template/logo.svg')
                img.dark-mode(alt='Travila', src='assets/imgs/template/logo-w.svg')
            .burger-icon.burger-icon-white
        .mobile-header-top
            .box-author-profile 
                .card-author 
                    .card-image 
                        img(src="assets/imgs/page/homepage1/author2.png", alt="Travila")
                    .card-info 
                        p.text-md-bold.neutral-1000 Alice Roses
                        p.text-xs.neutral-1000 London, England
                a.btn.btn-black(href="#") Logout
        .mobile-header-content-area
            .perfect-scroll
                .mobile-menu-wrap.mobile-header-border
                    nav
                        ul.mobile-menu.font-heading
                            li.has-children
                                a.active(href='index.html') Home Pages
                                ul.sub-menu
                                    li
                                        a(href='index.html') Home 1 - All services
                                    li
                                        a(href='index-2.html') Home 2 - All services
                                    li
                                        a(href='index-3.html') Home 3 - All services
                                    li
                                        a(href='index-4.html') Home 4 - All services
                                    li
                                        a(href='index-5.html') Home 5 - Tours
                                    li
                                        a(href='index-6.html') Home 6 - Activities
                                    li
                                        a(href='index-7.html') Home 7 - Destinations
                                    li
                                        a(href='index-8.html') Home 8 - Hotels
                                    li
                                        a(href='index-9.html') Home 9 - Rental Car
                                    li
                                        a(href='index-10.html') Home 10 - Rental Property
                                    li
                                        a(href='index-11.html') Home 11 - Tickets
                            li.has-children
                                a(href='tour-grid.html') Tours
                                ul.sub-menu
                                    li
                                        a(href='tour-grid-3.html') Tours List - Top Fillter
                                    li
                                        a(href='tour-grid.html') Tours List - Sidebar Left Fillter
                                    li
                                        a(href='tour-grid-2.html') Tours List - Sidebar Right Fillter
                                    li
                                        a(href='tour-list.html') Tours List 1
                                    li
                                        a(href='tour-list-2.html') Tours List 2
                                    li
                                        a(href='tour-detail.html') Tour Single 01 - Gallery
                                    li
                                        a(href='tour-detail-2.html') Tour Single 02 - Slideshow
                                    li
                                        a(href='tour-detail-3.html') Tour Single 03 - Video
                                    li
                                        a(href='tour-detail-4.html') Tour Single 04 - Image
                            li.has-children
                                a(href='destination.html') Destinations
                                ul.sub-menu
                                    li
                                        a(href='destination.html') Destinations list 1
                                    li
                                        a(href='destination-2.html') Destinations list 2
                                    li
                                        a(href='destination-3.html') Destinations list 3
                                    li
                                        a(href='destination-4.html') Destinations Details 01
                                    li
                                        a(href='destination-5.html') Destinations Details 02
                                    li
                                        a(href='destination-6.html') Destinations Details 03
                            li.has-children
                                a(href='activities.html') Activities
                                ul.sub-menu
                                    li
                                        a(href='activities.html') Activities List - Top Fillter
                                    li
                                        a(href='activities-2.html') Activities List - Sidebar Left Fillter
                                    li
                                        a(href='activities-3.html') Activities List - Sidebar Right Fillter
                                    li
                                        a(href='activities-4.html') Activities List - Grid
                                    li
                                        a(href='activities-5.html') Activities List - List
                                    li
                                        a(href='activities-detail.html') Activities Single 01 - Gallery
                                    li
                                        a(href='activities-detail-2.html') Activities Single 02 - Slideshow
                                    li
                                        a(href='activities-detail-3.html') Activities Single 03
                                    li
                                        a(href='activities-detail-4.html') Activities Single 04
                            li.has-children 
                                a(href="hotel-grid.html") Hotels
                                ul.sub-menu
                                    li
                                        a(href='hotel-grid.html') Hotel List 01
                                    li
                                        a(href='hotel-grid-2.html') Hotel List 02
                                    li
                                        a(href='hotel-grid-3.html') Hotel List 03
                                    li
                                        a(href='hotel-grid-4.html') Hotel List 04
                                    li
                                        a(href='hotel-grid-5.html') Hotel List 05
                                    li
                                        a(href='hotel-grid-6.html') Hotel List 06
                                    li
                                        a(href='hotel-detail.html') Hotel Details 01
                                    li
                                        a(href='hotel-detail-2.html') Hotel Details 02
                            li.has-children 
                                a(href="rental-car.html") Rental
                                ul.sub-menu
                                    li
                                        a(href='rental-car.html') Car Grid
                                    li
                                        a(href='rental-car-2.html') Car list
                                    li
                                        a(href='rental-car-3.html') Car Details
                                    li
                                        a(href='rental-proprty.html') Property Grid
                                    li
                                        a(href='rental-proprty-2.html') Property Grid
                                    li
                                        a(href='rental-proprty-3.html') Property List
                                    li
                                        a(href='rental-detail.html') Property Details
                            li.has-children 
                                a(href="tickets.html") Tickets
                                ul.sub-menu
                                    li
                                        a(href='tickets.html') Flight tickets
                                    li
                                        a(href='tickets-2.html') Train tickets
                                    li
                                        a(href='book-ticket.html') Ticket details
                            li.has-children 
                                a(href='javascript:void(0)') Pages
                                ul.sub-menu
                                    li
                                        a(href='about.html') About
                                    li
                                        a(href='contact.html') Contact
                                    li
                                        a(href='faq.html') FAQs
                                    li
                                        a(href='help-center.html') Help center
                                    li
                                        a(href='become-expert.html') Become Expert
                                    li
                                        a(href='comming-soon.html') Coming soon                                    
                                    li
                                        a(href='checkout.html') Checkout
                                    li
                                        a(href='confirmation.html') Confirmationn
                                    li
                                        a(href='invoice.html') Invoice
                                    li
                                        a(href='term.html') Term
                                    li
                                        a(href='404.html') 404
                            li.has-children 
                                a(href="blog-grid.html") Blog
                                ul.sub-menu
                                    li
                                        a(href='blog-grid.html') Grid Full
                                    li
                                        a(href='blog-grid-2.html') Grid Sidebar
                                    li
                                        a(href='blog-grid-3.html') List
                                    li
                                        a(href='blog-detail.html') Blog Details
                                    li
                                        a(href='blog-detail-2.html') Blog Details 2
                            li
                                a(href="contact.html") Contact