.popup-firstload 
    .popup-container 
        .popup-content 
            a.close-popup
            .popup-left
                .logo-area 
                    img.light-mode(alt='Travila', src='assets/imgs/template/logo.svg')
                    img.dark-mode(alt='Travila', src='assets/imgs/template/logo-w.svg')

                h3.title-popup Book, Pack, Go! Your Ultimate Travel Companion
                a.btn.btn-black-lg(href="#") Exploring Now 
                    svg(width='16', height='16', viewbox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M8 15L15 8L8 1M15 8L1 8', stroke='', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
            .popup-right 
                .box-price 
                    .box-price-inner 
                        span.text-price-1 SAVE 39%
                        span.text-price-2 $899
                        a.text-price-3(href="#") BOOK NOW
                img(alt='Travila', src='assets/imgs/template/img-popup.png')
                .button-area 
                    a.btn.btn-next(href="#")
                        svg(width='12', height='12', viewbox='0 0 12 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                            path(d='M5.99992 10.6668L10.6666 6.00016L5.99992 1.3335M10.6666 6.00016L1.33325 6.00016', stroke='', stroke-linecap='round', stroke-linejoin='round')