.section-box
    .container 
        .panel-white
            .panel-head 
                h6.text-xl-bold.neutral-1000 New Users
                a.menudrop#dropdownMenu4(type='button', data-bs-toggle='dropdown', aria-expanded='false', data-bs-display='static')
                ul.dropdown-menu.dropdown-menu-light.dropdown-menu-end(aria-labelledby='dropdownMenu4')
                    li
                        a.dropdown-item.active(href='#') Add new
                    li
                        a.dropdown-item(href='#') Settings
                    li
                        a.dropdown-item(href='#') Actions
            .panel-body
                +cardstyle3('assets/imgs/page/dashboard/avata1.png', 'Lexander Smith', 'Travel Consultant', 'Paris, France', 'smith.info@gmail.com')
                +cardstyle3('assets/imgs/page/dashboard/avata2.png', 'Emma Johnson', 'Tour Guide', 'Chicago, USA', 'emma.johnson@gmail.com')
                +cardstyle3('assets/imgs/page/dashboard/avata3.png', 'David Brown', 'Flight Attendant', 'Arizona, USA', 'david.brown@gmail.com')
                +cardstyle3('assets/imgs/page/dashboard/avata4.png', 'Sarah Davis', 'Travel Blogger', 'Rio, Brazil', 'sarah.davis@gmail.com')
                +cardstyle3('assets/imgs/page/dashboard/avata5.png', 'James Thompson', 'Cruise Ship Director', 'Sydney, Au', 'james@gmail.com')