.section-box
    .container 
        .panel-white
            .panel-head 
                h6.text-xl-bold.neutral-1000 March 2024
                a.menudrop#dropdownMenu5(type='button', data-bs-toggle='dropdown', aria-expanded='false', data-bs-display='static')
                ul.dropdown-menu.dropdown-menu-light.dropdown-menu-end(aria-labelledby='dropdownMenu5')
                    li
                        a.dropdown-item.active(href='#') Add new
                    li
                        a.dropdown-item(href='#') Settings
                    li
                        a.dropdown-item(href='#') Actions
            .panel-body
                .box-calendar-events 
                    #calendar-events(data-provide="datepicker-inline")