.section-box
    .container 
        .panel-white
            .panel-head 
                h6.text-xl-bold.neutral-1000  Queries by search
                a.menudrop#dropdownMenu6(type='button', data-bs-toggle='dropdown', aria-expanded='false', data-bs-display='static')
                ul.dropdown-menu.dropdown-menu-light.dropdown-menu-end(aria-labelledby='dropdownMenu6')
                    li
                        a.dropdown-item.active(href='#') Add new
                    li
                        a.dropdown-item(href='#') Settings
                    li
                        a.dropdown-item(href='#') Actions
            .panel-body
                +cardstyle5('Tourism', '2635')
                    .progress-bar(style='width: 100%')
                +cardstyle5('Destination', '1658')
                    .progress-bar(style='width: 90%')
                +cardstyle5('Vacation', '1452')
                    .progress-bar(style='width: 80%')
                +cardstyle5('Journey', '1325')
                    .progress-bar(style='width: 70%')
                +cardstyle5('Adventure', '985')
                    .progress-bar(style='width: 60%')
                +cardstyle5('Sightseeing', '920')
                +cardstyle5('Accommodation', '853')
                    .progress-bar(style='width: 40%')