.section-box
    .container 
        .panel-white
            .panel-head 
                h6.text-xl-bold.neutral-1000 Earning Statistics
                a.menudrop#dropdownMenu2(type='button', data-bs-toggle='dropdown', aria-expanded='false', data-bs-display='static')
                ul.dropdown-menu.dropdown-menu-light.dropdown-menu-end(aria-labelledby='dropdownMenu2')
                    li
                        a.dropdown-item.active(href='#') Add new
                    li
                        a.dropdown-item(href='#') Settings
                    li
                        a.dropdown-item(href='#') Actions
            .panel-body 
                #chartdiv