.section-box.box-statistical
    .row 
        .col-xxl-2.col-xl-4.col-lg-4.col-md-4.col-sm-6 
            +cardstyle1('assets/imgs/template/icons/book.svg', '162', '25%', 'Bookings Today')
        .col-xxl-2.col-xl-4.col-lg-4.col-md-4.col-sm-6
            +cardstyle1('assets/imgs/template/icons/earn.svg', '284', '5%', 'Applied Jobs')
        .col-xxl-2.col-xl-4.col-lg-4.col-md-4.col-sm-6
            +cardstyle1('assets/imgs/template/icons/user.svg', '136', '12%', 'Task Bids Won')
        .col-xxl-2.col-xl-4.col-lg-4.col-md-4.col-sm-6
            +cardstyle1('assets/imgs/template/icons/tour2.svg', '285', '5%', 'Application Sent')
        .col-xxl-2.col-xl-4.col-lg-4.col-md-4.col-sm-6
            +cardstyle1('assets/imgs/template/icons/hotel2.svg', '165', '15%', 'Profile Viewed')
        .col-xxl-2.col-xl-4.col-lg-4.col-md-4.col-sm-6
            +cardstyle1('assets/imgs/template/icons/property2.svg', '156', '', 'New Messages')
                span.font-sm.status.down - 2%