extends ../layouts/master.pug

block title
    title My Profile - Modern Travel Tour Booking HTML Template 

block header
    include ../components/header.pug

block content
    include ../sections/my-profile/head.pug
    include ../sections/my-profile/content.pug 

block scripts-custom 
    script(src='assets/js/plugins/charts/index.js')
    script(src='assets/js/plugins/charts/xy.js')
    script(src='assets/js/plugins/charts/Animated.js')
    script(src='assets/js/plugins/armcharts5-script.js')
    