section.box-section.block-banner-tourlist(style="background-image:url(assets/imgs/page/destination/banner.png)")
    .container 
        .text-center 
            h3 Explore the beauty of Europe with Travila
            h6.heading-6-medium Explore Beyond: Your Passport to Adventure
        include ../../elements/box-search-3.pug