section.box-section.block-banner-tickets 
    .container 
        .text-center 
            h3 A World Of Luxury Awaits You
            h6.heading-6-medium We Provide Our Best Facilities For You

        include ../../elements/box-search-3.pug