section.box-section.block-content-tourlist.background-body
    .container 
        .box-content-main
            .content-right
                include ../../elements/box-filters.pug

                .box-grid-tours.wow.fadeIn
                    .row
                        .box-list-flights.box-list-flights-2 
                            .item-flight.background-card.border-1
                                .flight-route.flight-route-type-2 
                                    .flight-route-1
                                        .flight-name 
                                            img(src="assets/imgs/page/homepage10/logo1.png", alt="Travila")
                                            .flight-info 
                                                p.text-md-bold.neutral-1000 New York (JFK)
                                                p.text-sm-medium.time-flight 
                                                    span.neutral-1000 20:00 
                                                    | - 05 Jan 2024
                                        .flight-route-icon
                                        .flight-name 
                                            .flight-info 
                                                p.text-md-bold.neutral-1000 New York (JFK)
                                                p.text-sm-medium.time-flight
                                                    span.neutral-1000 20:00 
                                                    | - 05 Jan 2024
                                    .flight-route-2
                                        .flight-name 
                                            img(src="assets/imgs/page/tickets/logo2.png", alt="Travila")
                                            .flight-info 
                                                p.text-md-bold.neutral-1000 New York (JFK)
                                                p.text-sm-medium.time-flight 
                                                    span.neutral-1000 20:00 
                                                    | - 05 Jan 2024
                                        .flight-route-icon
                                        .flight-name 
                                            .flight-info 
                                                p.text-md-bold.neutral-1000 New York (JFK)
                                                p.text-sm-medium.time-flight
                                                    span.neutral-1000 20:00 
                                                    | - 05 Jan 2024
                                .flight-price
                                    .flight-price-1.border-1 
                                        p.text-sm-medium.neutral-500 Business
                                        p.heading-5.neutral-1000 $189.56
                                        p.text-sm-medium.neutral-500.mb-15 8 Seat(s) left
                                        a.btn.btn-gray(href="#") Book Now
                                    .flight-price-2.border-1 
                                        p.text-sm-medium.neutral-500 Economy
                                        p.heading-5.neutral-1000 $189.56
                                        p.text-sm-medium.neutral-500.mb-15 4 Seat(s) left
                                        a.btn.btn-gray(href="#") Book Now

                            .item-flight.background-card.border-1
                                .flight-route.flight-route-type-2 
                                    .flight-route-1
                                        .flight-name 
                                            img(src="assets/imgs/page/tickets/logo3.png", alt="Travila")
                                            .flight-info 
                                                p.text-md-bold.neutral-1000 New York (JFK)
                                                p.text-sm-medium.time-flight 
                                                    span.neutral-1000 20:00 
                                                    | - 05 Jan 2024
                                        .flight-route-icon
                                        .flight-name 
                                            .flight-info 
                                                p.text-md-bold.neutral-1000 New York (JFK)
                                                p.text-sm-medium.time-flight
                                                    span.neutral-1000 20:00 
                                                    | - 05 Jan 2024
                                    .flight-route-2
                                        .flight-name 
                                            img(src="assets/imgs/page/tickets/logo4.png", alt="Travila")
                                            .flight-info 
                                                p.text-md-bold.neutral-1000 New York (JFK)
                                                p.text-sm-medium.time-flight 
                                                    span.neutral-1000 20:00 
                                                    | - 05 Jan 2024
                                        .flight-route-icon
                                        .flight-name 
                                            .flight-info 
                                                p.text-md-bold.neutral-1000 New York (JFK)
                                                p.text-sm-medium.time-flight
                                                    span.neutral-1000 20:00 
                                                    | - 05 Jan 2024
                                .flight-price
                                    .flight-price-1.border-1 
                                        p.text-sm-medium.neutral-500 Business
                                        p.heading-5.neutral-1000 $189.56
                                        p.text-sm-medium.neutral-500.mb-15 8 Seat(s) left
                                        a.btn.btn-gray(href="#") Book Now
                                    .flight-price-2.border-1 
                                        p.text-sm-medium.neutral-500 Economy
                                        p.heading-5.neutral-1000 $189.56
                                        p.text-sm-medium.neutral-500.mb-15 4 Seat(s) left
                                        a.btn.btn-gray(href="#") Book Now

                            .item-flight.background-card.border-1
                                .flight-route.flight-route-type-2 
                                    .flight-route-1
                                        .flight-name 
                                            img(src="assets/imgs/page/tickets/logo5.png", alt="Travila")
                                            .flight-info 
                                                p.text-md-bold.neutral-1000 New York (JFK)
                                                p.text-sm-medium.time-flight 
                                                    span.neutral-1000 20:00 
                                                    | - 05 Jan 2024
                                        .flight-route-icon
                                        .flight-name 
                                            .flight-info 
                                                p.text-md-bold.neutral-1000 New York (JFK)
                                                p.text-sm-medium.time-flight
                                                    span.neutral-1000 20:00 
                                                    | - 05 Jan 2024
                                    .flight-route-2
                                        .flight-name 
                                            img(src="assets/imgs/page/tickets/logo6.png", alt="Travila")
                                            .flight-info 
                                                p.text-md-bold.neutral-1000 New York (JFK)
                                                p.text-sm-medium.time-flight 
                                                    span.neutral-1000 20:00 
                                                    | - 05 Jan 2024
                                        .flight-route-icon
                                        .flight-name 
                                            .flight-info 
                                                p.text-md-bold.neutral-1000 New York (JFK)
                                                p.text-sm-medium.time-flight
                                                    span.neutral-1000 20:00 
                                                    | - 05 Jan 2024
                                .flight-price
                                    .flight-price-1.border-1 
                                        p.text-sm-medium.neutral-500 Business
                                        p.heading-5.neutral-1000 $189.56
                                        p.text-sm-medium.neutral-500.mb-15 8 Seat(s) left
                                        a.btn.btn-gray(href="#") Book Now
                                    .flight-price-2.border-1 
                                        p.text-sm-medium.neutral-500 Economy
                                        p.heading-5.neutral-1000 $189.56
                                        p.text-sm-medium.neutral-500.mb-15 4 Seat(s) left
                                        a.btn.btn-gray(href="#") Book Now

                            .item-flight.background-card.border-1
                                .flight-route.flight-route-type-2 
                                    .flight-route-1
                                        .flight-name 
                                            img(src="assets/imgs/page/homepage10/logo1.png", alt="Travila")
                                            .flight-info 
                                                p.text-md-bold.neutral-1000 New York (JFK)
                                                p.text-sm-medium.time-flight 
                                                    span.neutral-1000 20:00 
                                                    | - 05 Jan 2024
                                        .flight-route-icon
                                        .flight-name 
                                            .flight-info 
                                                p.text-md-bold.neutral-1000 New York (JFK)
                                                p.text-sm-medium.time-flight
                                                    span.neutral-1000 20:00 
                                                    | - 05 Jan 2024
                                    .flight-route-2
                                        .flight-name 
                                            img(src="assets/imgs/page/tickets/logo6.png", alt="Travila")
                                            .flight-info 
                                                p.text-md-bold.neutral-1000 New York (JFK)
                                                p.text-sm-medium.time-flight 
                                                    span.neutral-1000 20:00 
                                                    | - 05 Jan 2024
                                        .flight-route-icon
                                        .flight-name 
                                            .flight-info 
                                                p.text-md-bold.neutral-1000 New York (JFK)
                                                p.text-sm-medium.time-flight
                                                    span.neutral-1000 20:00 
                                                    | - 05 Jan 2024
                                .flight-price
                                    .flight-price-1.border-1 
                                        p.text-sm-medium.neutral-500 Business
                                        p.heading-5.neutral-1000 $189.56
                                        p.text-sm-medium.neutral-500.mb-15 8 Seat(s) left
                                        a.btn.btn-gray(href="#") Book Now
                                    .flight-price-2.border-1 
                                        p.text-sm-medium.neutral-500 Economy
                                        p.heading-5.neutral-1000 $189.56
                                        p.text-sm-medium.neutral-500.mb-15 4 Seat(s) left
                                        a.btn.btn-gray(href="#") Book Now

                            .item-flight.background-card.border-1
                                .flight-route.flight-route-type-2 
                                    .flight-route-1
                                        .flight-name 
                                            img(src="assets/imgs/page/homepage10/logo1.png", alt="Travila")
                                            .flight-info 
                                                p.text-md-bold.neutral-1000 New York (JFK)
                                                p.text-sm-medium.time-flight 
                                                    span.neutral-1000 20:00 
                                                    | - 05 Jan 2024
                                        .flight-route-icon
                                        .flight-name 
                                            .flight-info 
                                                p.text-md-bold.neutral-1000 New York (JFK)
                                                p.text-sm-medium.time-flight
                                                    span.neutral-1000 20:00 
                                                    | - 05 Jan 2024
                                    .flight-route-2
                                        .flight-name 
                                            img(src="assets/imgs/page/tickets/logo2.png", alt="Travila")
                                            .flight-info 
                                                p.text-md-bold.neutral-1000 New York (JFK)
                                                p.text-sm-medium.time-flight 
                                                    span.neutral-1000 20:00 
                                                    | - 05 Jan 2024
                                        .flight-route-icon
                                        .flight-name 
                                            .flight-info 
                                                p.text-md-bold.neutral-1000 New York (JFK)
                                                p.text-sm-medium.time-flight
                                                    span.neutral-1000 20:00 
                                                    | - 05 Jan 2024
                                .flight-price
                                    .flight-price-1.border-1 
                                        p.text-sm-medium.neutral-500 Business
                                        p.heading-5.neutral-1000 $189.56
                                        p.text-sm-medium.neutral-500.mb-15 8 Seat(s) left
                                        a.btn.btn-gray(href="#") Book Now
                                    .flight-price-2.border-1 
                                        p.text-sm-medium.neutral-500 Economy
                                        p.heading-5.neutral-1000 $189.56
                                        p.text-sm-medium.neutral-500.mb-15 4 Seat(s) left
                                        a.btn.btn-gray(href="#") Book Now

                            .item-flight.background-card.border-1
                                .flight-route.flight-route-type-2 
                                    .flight-route-1
                                        .flight-name 
                                            img(src="assets/imgs/page/homepage10/logo1.png", alt="Travila")
                                            .flight-info 
                                                p.text-md-bold.neutral-1000 New York (JFK)
                                                p.text-sm-medium.time-flight 
                                                    span.neutral-1000 20:00 
                                                    | - 05 Jan 2024
                                        .flight-route-icon
                                        .flight-name 
                                            .flight-info 
                                                p.text-md-bold.neutral-1000 New York (JFK)
                                                p.text-sm-medium.time-flight
                                                    span.neutral-1000 20:00 
                                                    | - 05 Jan 2024
                                    .flight-route-2
                                        .flight-name 
                                            img(src="assets/imgs/page/tickets/logo5.png", alt="Travila")
                                            .flight-info 
                                                p.text-md-bold.neutral-1000 New York (JFK)
                                                p.text-sm-medium.time-flight 
                                                    span.neutral-1000 20:00 
                                                    | - 05 Jan 2024
                                        .flight-route-icon
                                        .flight-name 
                                            .flight-info 
                                                p.text-md-bold.neutral-1000 New York (JFK)
                                                p.text-sm-medium.time-flight
                                                    span.neutral-1000 20:00 
                                                    | - 05 Jan 2024
                                .flight-price
                                    .flight-price-1.border-1 
                                        p.text-sm-medium.neutral-500 Business
                                        p.heading-5.neutral-1000 $189.56
                                        p.text-sm-medium.neutral-500.mb-15 8 Seat(s) left
                                        a.btn.btn-gray(href="#") Book Now
                                    .flight-price-2.border-1 
                                        p.text-sm-medium.neutral-500 Economy
                                        p.heading-5.neutral-1000 $189.56
                                        p.text-sm-medium.neutral-500.mb-15 4 Seat(s) left
                                        a.btn.btn-gray(href="#") Book Now

                            .item-flight.background-card.border-1
                                .flight-route.flight-route-type-2 
                                    .flight-route-1
                                        .flight-name 
                                            img(src="assets/imgs/page/tickets/logo4.png", alt="Travila")
                                            .flight-info 
                                                p.text-md-bold.neutral-1000 New York (JFK)
                                                p.text-sm-medium.time-flight 
                                                    span.neutral-1000 20:00 
                                                    | - 05 Jan 2024
                                        .flight-route-icon
                                        .flight-name 
                                            .flight-info 
                                                p.text-md-bold.neutral-1000 New York (JFK)
                                                p.text-sm-medium.time-flight
                                                    span.neutral-1000 20:00 
                                                    | - 05 Jan 2024
                                    .flight-route-2
                                        .flight-name 
                                            img(src="assets/imgs/page/tickets/logo6.png", alt="Travila")
                                            .flight-info 
                                                p.text-md-bold.neutral-1000 New York (JFK)
                                                p.text-sm-medium.time-flight 
                                                    span.neutral-1000 20:00 
                                                    | - 05 Jan 2024
                                        .flight-route-icon
                                        .flight-name 
                                            .flight-info 
                                                p.text-md-bold.neutral-1000 New York (JFK)
                                                p.text-sm-medium.time-flight
                                                    span.neutral-1000 20:00 
                                                    | - 05 Jan 2024
                                .flight-price
                                    .flight-price-1.border-1 
                                        p.text-sm-medium.neutral-500 Business
                                        p.heading-5.neutral-1000 $189.56
                                        p.text-sm-medium.neutral-500.mb-15 8 Seat(s) left
                                        a.btn.btn-gray(href="#") Book Now
                                    .flight-price-2.border-1 
                                        p.text-sm-medium.neutral-500 Economy
                                        p.heading-5.neutral-1000 $189.56
                                        p.text-sm-medium.neutral-500.mb-15 4 Seat(s) left
                                        a.btn.btn-gray(href="#") Book Now

                            .item-flight.background-card.border-1
                                .flight-route.flight-route-type-2 
                                    .flight-route-1
                                        .flight-name 
                                            img(src="assets/imgs/page/homepage10/logo1.png", alt="Travila")
                                            .flight-info 
                                                p.text-md-bold.neutral-1000 New York (JFK)
                                                p.text-sm-medium.time-flight 
                                                    span.neutral-1000 20:00 
                                                    | - 05 Jan 2024
                                        .flight-route-icon
                                        .flight-name 
                                            .flight-info 
                                                p.text-md-bold.neutral-1000 New York (JFK)
                                                p.text-sm-medium.time-flight
                                                    span.neutral-1000 20:00 
                                                    | - 05 Jan 2024
                                    .flight-route-2
                                        .flight-name 
                                            img(src="assets/imgs/page/tickets/logo2.png", alt="Travila")
                                            .flight-info 
                                                p.text-md-bold.neutral-1000 New York (JFK)
                                                p.text-sm-medium.time-flight 
                                                    span.neutral-1000 20:00 
                                                    | - 05 Jan 2024
                                        .flight-route-icon
                                        .flight-name 
                                            .flight-info 
                                                p.text-md-bold.neutral-1000 New York (JFK)
                                                p.text-sm-medium.time-flight
                                                    span.neutral-1000 20:00 
                                                    | - 05 Jan 2024
                                .flight-price
                                    .flight-price-1.border-1 
                                        p.text-sm-medium.neutral-500 Business
                                        p.heading-5.neutral-1000 $189.56
                                        p.text-sm-medium.neutral-500.mb-15 8 Seat(s) left
                                        a.btn.btn-gray(href="#") Book Now
                                    .flight-price-2.border-1 
                                        p.text-sm-medium.neutral-500 Economy
                                        p.heading-5.neutral-1000 $189.56
                                        p.text-sm-medium.neutral-500.mb-15 4 Seat(s) left
                                        a.btn.btn-gray(href="#") Book Now

                            .item-flight.background-card.border-1
                                .flight-route.flight-route-type-2 
                                    .flight-route-1
                                        .flight-name 
                                            img(src="assets/imgs/page/homepage10/logo1.png", alt="Travila")
                                            .flight-info 
                                                p.text-md-bold.neutral-1000 New York (JFK)
                                                p.text-sm-medium.time-flight 
                                                    span.neutral-1000 20:00 
                                                    | - 05 Jan 2024
                                        .flight-route-icon
                                        .flight-name 
                                            .flight-info 
                                                p.text-md-bold.neutral-1000 New York (JFK)
                                                p.text-sm-medium.time-flight
                                                    span.neutral-1000 20:00 
                                                    | - 05 Jan 2024
                                    .flight-route-2
                                        .flight-name 
                                            img(src="assets/imgs/page/tickets/logo2.png", alt="Travila")
                                            .flight-info 
                                                p.text-md-bold.neutral-1000 New York (JFK)
                                                p.text-sm-medium.time-flight 
                                                    span.neutral-1000 20:00 
                                                    | - 05 Jan 2024
                                        .flight-route-icon
                                        .flight-name 
                                            .flight-info 
                                                p.text-md-bold.neutral-1000 New York (JFK)
                                                p.text-sm-medium.time-flight
                                                    span.neutral-1000 20:00 
                                                    | - 05 Jan 2024
                                .flight-price
                                    .flight-price-1.border-1 
                                        p.text-sm-medium.neutral-500 Business
                                        p.heading-5.neutral-1000 $189.56
                                        p.text-sm-medium.neutral-500.mb-15 8 Seat(s) left
                                        a.btn.btn-gray(href="#") Book Now
                                    .flight-price-2.border-1 
                                        p.text-sm-medium.neutral-500 Economy
                                        p.heading-5.neutral-1000 $189.56
                                        p.text-sm-medium.neutral-500.mb-15 4 Seat(s) left
                                        a.btn.btn-gray(href="#") Book Now

                            .item-flight.background-card.border-1
                                .flight-route.flight-route-type-2 
                                    .flight-route-1
                                        .flight-name 
                                            img(src="assets/imgs/page/homepage10/logo1.png", alt="Travila")
                                            .flight-info 
                                                p.text-md-bold.neutral-1000 New York (JFK)
                                                p.text-sm-medium.time-flight 
                                                    span.neutral-1000 20:00 
                                                    | - 05 Jan 2024
                                        .flight-route-icon
                                        .flight-name 
                                            .flight-info 
                                                p.text-md-bold.neutral-1000 New York (JFK)
                                                p.text-sm-medium.time-flight
                                                    span.neutral-1000 20:00 
                                                    | - 05 Jan 2024
                                    .flight-route-2
                                        .flight-name 
                                            img(src="assets/imgs/page/tickets/logo2.png", alt="Travila")
                                            .flight-info 
                                                p.text-md-bold.neutral-1000 New York (JFK)
                                                p.text-sm-medium.time-flight 
                                                    span.neutral-1000 20:00 
                                                    | - 05 Jan 2024
                                        .flight-route-icon
                                        .flight-name 
                                            .flight-info 
                                                p.text-md-bold.neutral-1000 New York (JFK)
                                                p.text-sm-medium.time-flight
                                                    span.neutral-1000 20:00 
                                                    | - 05 Jan 2024
                                .flight-price
                                    .flight-price-1.border-1 
                                        p.text-sm-medium.neutral-500 Business
                                        p.heading-5.neutral-1000 $189.56
                                        p.text-sm-medium.neutral-500.mb-15 8 Seat(s) left
                                        a.btn.btn-gray(href="#") Book Now
                                    .flight-price-2.border-1 
                                        p.text-sm-medium.neutral-500 Economy
                                        p.heading-5.neutral-1000 $189.56
                                        p.text-sm-medium.neutral-500.mb-15 4 Seat(s) left
                                        a.btn.btn-gray(href="#") Book Now

                include ../../elements/pagination.pug

            .content-left.order-lg-first
                include ../../elements/sidebar-left-tickets.pug