section.section-box.box-category.background-body
    .container-slider
        .box-swiper.mt-30
            .swiper-container.swiper-group-animate.swiper-group-journey
                .swiper-wrapper
                    .swiper-slide
                        .card-walking.background-card 
                            .card-info 
                                h4 Waking up 
                                    br.d-none.d-lg-block
                                    | in a far away place
                                a.btn.btn-brand-secondary(href="#") View More
                                    svg(width='16', height='16', viewbox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M8 15L15 8L8 1M15 8L1 8', stroke='black', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')

                    .swiper-slide 
                        .card-advanture.background-card 
                            .card-info 
                                p.text-lg-bold Explore the World
                                h5.mb-60 The adventure starts today
                                a.btn.btn-brand-secondary(href="#") View More
                                    svg(width='16', height='16', viewbox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M8 15L15 8L8 1M15 8L1 8', stroke='black', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')

                    .swiper-slide 
                        .card-advanture.card-vacation.background-card 
                            .card-info 
                                p.text-lg-bold Dream Vacation
                                h5.mb-60 Start your Journey Now
                                a.btn.btn-brand-secondary(href="#") View More
                                    svg(width='16', height='16', viewbox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M8 15L15 8L8 1M15 8L1 8', stroke='black', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')

                    .swiper-slide
                        .card-walking.card-walking-2.background-card 
                            .card-info 
                                h4 Waking up
                                    br.d-none.d-lg-block
                                    | in a far away place
                                a.btn.btn-brand-secondary(href="#") View More
                                    svg(width='16', height='16', viewbox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M8 15L15 8L8 1M15 8L1 8', stroke='black', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')