section.section-box.box-why-choose-us.background-body
    .container 
        .row.align-items-center 
            .col-lg-6.mb-40
                span.btn.btn-tag Why Choose Us
                h2.title-why.neutral-1000 Dare to live the lift you’ve always wanted
                p.text-xl-medium.neutral-500 Discover how you can offset your adventure's carbon emissions and support the sustainable initiatives practiced by our operators worldwide.
                .download-apps 
                    a(href="#")
                        img(src="assets/imgs/template/googleplay.png", alt="Travila")
                    a(href="#")
                        img(src="assets/imgs/template/appstore.png", alt="Travila")
            .col-lg-6.mb-40
                .row 
                    .col-sm-6.mt-35
                        .card-why-choose-us 
                            .card-image 
                                img(src="assets/imgs/page/homepage1/destination.png", alt="Travila")
                            .card-info 
                                h6.text-xl-bold 4500+ Destination
                                p.text-sm-medium.neutral-400 Our expert team handpicked all destinations in this site.
                        .card-why-choose-us.card-why-choose-us-type-2 
                            .card-info 
                                h6.text-xl-bold Fast Booking
                                p.text-sm-medium.neutral-400 Secure payment
                    .col-sm-6
                        .card-why-choose-us.background-body 
                            .card-image 
                                img(src="assets/imgs/page/homepage1/support.png", alt="Travila")
                            .card-info 
                                h6.text-xl-bold.neutral-1000 Great 24/7 Support
                                p.text-sm-medium.neutral-400 We are here to help, before, during, and even after your trip.
                        .card-why-choose-us.card-why-choose-us-type-3
                            .card-info 
                                h6.text-xl-bold Best Price
                                p.text-sm-medium.neutral-400 Price match within 48 hours of order confirmation