section.section-box.box-about-1.background-body
    .container 
        .row.align-items-end
            .col-lg-7.wow.fadeInUp 
                span.btn.btn-brand-secondary 
                    img.ml-10(src="assets/imgs/page/homepage9/real.svg", alt="Travile") 
                    | Resort Real Estate
                h1.neutral-1000.mt-15.mb-15 
                    | Welcome
                    span to Travila 
                    | Travel  
                    span booking system
                p.text-xl-medium.neutral-500 Make it easier for everyone to experience the world
            .col-lg-5 
                .box-icon-flight
                    img(src="assets/imgs/page/pages/flight.png", alt="Travile")
                    h6.neutral-1000 Our mission is to create memories that last a lifetime for every traveler who chooses us.