section.box-section.box-breadcrumb.background-100
    .container 
        ul.breadcrumbs 
            li 
                a(href="index.html") Home
                span.arrow-right 
                    svg(width='7', height='12', viewbox='0 0 7 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M1 11L6 6L1 1', stroke='', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
            li 
                span.text-breadcrumb About Us