section.section-box.box-banner-home2.background-body
    .container
        .container-banner-activities
            .box-banner-activities
                .banner-activities-detail
                    .banner-slide-activity
                        img(src="assets/imgs/page/car/banner2.png", alt="Travila")
                    .banner-slide-activity
                        img(src="assets/imgs/page/car/banner2.png", alt="Travila")
                    .banner-slide-activity
                        img(src="assets/imgs/page/car/banner2.png", alt="Travila")
                    .banner-slide-activity
                        img(src="assets/imgs/page/car/banner2.png", alt="Travila")
                    .banner-slide-activity
                        img(src="assets/imgs/page/car/banner2.png", alt="Travila")
                    .banner-slide-activity
                        img(src="assets/imgs/page/car/banner2.png", alt="Travila")
                    .banner-slide-activity
                        img(src="assets/imgs/page/car/banner2.png", alt="Travila")
                    .banner-slide-activity
                        img(src="assets/imgs/page/car/banner2.png", alt="Travila")
            
                .box-button-abs 
                    a.btn.btn-brand-secondary(href="#") 
                        svg(width='22', height='22', viewbox='0 0 22 22', fill='none', xmlns='http://www.w3.org/2000/svg')
                            path(d='M20 8V2.75C20 2.3375 19.6625 2 19.25 2H14C13.5875 2 13.25 2.3375 13.25 2.75V8C13.25 8.4125 13.5875 8.75 14 8.75H19.25C19.6625 8.75 20 8.4125 20 8ZM19.25 0.5C20.495 0.5 21.5 1.505 21.5 2.75V8C21.5 9.245 20.495 10.25 19.25 10.25H14C12.755 10.25 11.75 9.245 11.75 8V2.75C11.75 1.505 12.755 0.5 14 0.5H19.25Z', fill='')
                            path(d='M20 19.25V14C20 13.5875 19.6625 13.25 19.25 13.25H14C13.5875 13.25 13.25 13.5875 13.25 14V19.25C13.25 19.6625 13.5875 20 14 20H19.25C19.6625 20 20 19.6625 20 19.25ZM19.25 11.75C20.495 11.75 21.5 12.755 21.5 14V19.25C21.5 20.495 20.495 21.5 19.25 21.5H14C12.755 21.5 11.75 20.495 11.75 19.25V14C11.75 12.755 12.755 11.75 14 11.75H19.25Z', fill='')
                            path(d='M8 8.75C8.4125 8.75 8.75 8.4125 8.75 8V2.75C8.75 2.3375 8.4125 2 8 2H2.75C2.3375 2 2 2.3375 2 2.75V8C2 8.4125 2.3375 8.75 2.75 8.75H8ZM8 0.5C9.245 0.5 10.25 1.505 10.25 2.75V8C10.25 9.245 9.245 10.25 8 10.25H2.75C1.505 10.25 0.5 9.245 0.5 8V2.75C0.5 1.505 1.505 0.5 2.75 0.5H8Z', fill='')
                            path(d='M8 20C8.4125 20 8.75 19.6625 8.75 19.25V14C8.75 13.5875 8.4125 13.25 8 13.25H2.75C2.3375 13.25 2 13.5875 2 14V19.25C2 19.6625 2.3375 20 2.75 20H8ZM8 11.75C9.245 11.75 10.25 12.755 10.25 14V19.25C10.25 20.495 9.245 21.5 8 21.5H2.75C1.505 21.5 0.5 20.495 0.5 19.25V14C0.5 12.755 1.505 11.75 2.75 11.75H8Z', fill='')
                        | See All Photos
                    a.btn.btn-white-md.popup-youtube(href="https://www.youtube.com/watch?v=JXMWOmuR1hU") 
                        img(src="assets/imgs/page/activities/video.svg", alt="Travila")
                        | Video Clips

            .slider-thumnail-activities 
                .slider-nav-thumbnails-activities-detail
                    .banner-slide
                        img(src="assets/imgs/page/car/banner-thumn.png", alt="Travila")
                    .banner-slide
                        img(src="assets/imgs/page/car/banner-thumn2.png", alt="Travila")
                    .banner-slide
                        img(src="assets/imgs/page/car/banner-thumn3.png", alt="Travila")
                    .banner-slide
                        img(src="assets/imgs/page/car/banner-thumn4.png", alt="Travila")
                    .banner-slide
                        img(src="assets/imgs/page/car/banner-thumn5.png", alt="Travila")
                    .banner-slide
                        img(src="assets/imgs/page/car/banner-thumn6.png", alt="Travila")
                    .banner-slide
                        img(src="assets/imgs/page/car/banner-thumn.png", alt="Travila")
                    .banner-slide
                        img(src="assets/imgs/page/car/banner-thumn3.png", alt="Travila")