section.section-box.box-banner-home6.box-banner-home5-search.background-body
    .block-banner-home6
        .container 
            .text-center.wow.fadeInUp 
                .d-flex.justify-content-center
                    span.btn.btn-brand-secondary 
                        img.mr-10(src="assets/imgs/page/homepage4/earth.svg", alt="Travila") 
                        | Explore the World
                h2.mt-20.mb-20.color-white Your Gateway to Extraordinary Adventures
                h6.heading-6-medium.color-white.mb-30 Pack your bags and let Travila redefine your travel experience. Where
                    br.d-none.d-md-block
                    | every journey is a story waiting to be told

    .container 
        include ../../elements/box-search-1.pug