section.section-box.box-payments.box-payments-3.background-body
    .container 
        .row.align-items-center 
            .col-lg-6.mb-30.wow.fadeInUp
                .row 
                    .col-lg-6.col-sm-6
                        .card-video.card-video-type-2
                            .card-image
                                a.btn.btn-play.popup-youtube(href="https://www.youtube.com/watch?v=JXMWOmuR1hU")
                                img(src="assets/imgs/page/homepage6/payment.png", alt="Travila")

                        .card-video.card-video-type-2
                            .card-image
                                img(src="assets/imgs/page/homepage6/payment3.png", alt="Travila")

                    .col-lg-6.col-sm-6.box-image-payment-right
                        .card-video.card-video-type-2
                            .card-image
                                img(src="assets/imgs/page/homepage6/payment2.png", alt="Travila")

                        .card-video.card-video-type-2
                            .card-image
                                img(src="assets/imgs/page/homepage6/payment4.png", alt="Travila")

            .col-lg-6.mb-30.wow.fadeInUp
                .box-right-payment
                    span.btn.btn-tag Easy payment
                    h2.title-why.mb-25.mt-10.neutral-1000 We offer tours in a range of locations
                    p.text-xl-medium.mb-25.neutral-1000 Choose one style or create a package, fill your passports with adventures together.
                    ul.list-check.list-check-2-col 
                        li Security Assurance
                        li Customer Support
                        li Transparent Policies
                        li Reputable Affiliations
                    .payment-method.mt-40 
                        p.text-sm-bold.neutral-1000 Payment is secure and safe
                        .box-swiper.mt-30
                            .swiper-container.swiper-group-payment
                                .swiper-wrapper
                                    .swiper-slide
                                        .btn.btn-payment
                                            img(src="assets/imgs/template/icons/paypal.png", alt="Travila")
                                    .swiper-slide
                                        .btn.btn-payment
                                            img(src="assets/imgs/template/icons/stripe.png", alt="Travila")
                                    .swiper-slide
                                        .btn.btn-payment
                                            img(src="assets/imgs/template/icons/mastercard.png", alt="Travila")
                                    .swiper-slide
                                        .btn.btn-payment
                                            img(src="assets/imgs/template/icons/skrill.png", alt="Travila")