section.section-box.box-logos-destination.background-body
    .container 
        .box-swiper.pt-40
            .swiper-container.swiper-group-payment-7.wow.fadeInUp
                .swiper-wrapper
                    .swiper-slide
                        .item-logo-payment 
                            img(src="assets/imgs/page/destination/paypal.png", alt="Travila")
                    .swiper-slide
                        .item-logo-payment 
                            img(src="assets/imgs/page/destination/stripe.png", alt="Travila")
                    .swiper-slide
                        .item-logo-payment 
                            img(src="assets/imgs/page/destination/payoneer.png", alt="Travila")
                    .swiper-slide
                        .item-logo-payment 
                            img(src="assets/imgs/page/destination/visa.png", alt="Travila")
                    .swiper-slide
                        .item-logo-payment 
                            img(src="assets/imgs/page/destination/cashapp.png", alt="Travila")
                    .swiper-slide
                        .item-logo-payment 
                            img(src="assets/imgs/page/destination/bitcoin.png", alt="Travila")
                    .swiper-slide
                        .item-logo-payment 
                            img(src="assets/imgs/page/destination/discover.png", alt="Travila")