extends ../layouts/master.pug

block title
  title About - Multipurpose Travel Booking HTML Template

block header
  include ../components/header.pug

block content
  include ../sections/about/breadcrumb.pug
  include ../sections/about/banner.pug
  include ../sections/about/banner-video.pug
  include ../sections/about/why-book.pug
  include ../sections/about/meet-team.pug
  include ../sections/about/payment.pug
  include ../sections/homepage2/testimonials.pug
  include ../sections/homepage1/news.pug
  include ../sections/homepage5/media.pug
  
block footer
  //- Footer
  include ../components/footer-5.pug

block scripts-custom
