extends ../layouts/master.pug

block title
  title Blog grid 3 - Multipurpose Travel Booking HTML Template

block header
  include ../components/header.pug

block content
  include ../sections/blog/breadcrumb.pug
  include ../sections/blog-3/next-trip.pug
  include ../sections/blog-3/cat.pug
  include ../sections/blog-3/picked-post.pug
  include ../sections/blog-3/recent-posts.pug
  include ../sections/homepage1/subscriber.pug
  include ../sections/homepage5/media.pug
  
block footer
  //- Footer
  include ../components/footer-5.pug

block scripts-custom
