extends ../layouts/master.pug

block title
  title Blog grid 2 - Multipurpose Travel Booking HTML Template

block header
  include ../components/header.pug

block content
  include ../sections/blog/breadcrumb.pug
  include ../sections/blog-2/next-trip.pug
  include ../sections/blog-2/posts.pug
  include ../sections/blog-2/cat.pug
  include ../sections/blog-2/recent-post.pug
  .pb-90.background-card
  include ../sections/homepage1/subscriber.pug
  include ../sections/homepage5/media.pug
  
block footer
  //- Footer
  include ../components/footer-5.pug

block scripts-custom
