extends ../layouts/master.pug

block title
  title Book tickets - Multipurpose Travel Booking HTML Template

block header
  include ../components/header.pug

block content
  include ../sections/book-tickets/breadcrumb.pug
  include ../sections/book-tickets/banner.pug
  include ../sections/book-tickets/content.pug
  include ../sections/homepage5/media.pug
  
block footer
  //- Footer
  include ../components/footer-5.pug

block scripts-custom
