extends ../layouts/master.pug

block title
  title Comming Soon - Multipurpose Travel Booking HTML Template

block header
  include ../components/header-6.pug

block content
  include ../sections/comming/content.pug
  
block footer
  //- Footer
  include ../components/footer-8.pug

block scripts-custom
