extends ../layouts/master.pug

block title
  title Destination 4 - Multipurpose Travel Booking HTML Template

block header
  include ../components/header.pug

block content
  include ../sections/destination-4/breadcrumb.pug
  include ../sections/destination-4/banner.pug
  include ../sections/destination-4/box-buttons.pug
  include ../sections/destination-4/top-search.pug
  include ../sections/destination-4/travel-guide.pug
  include ../sections/destination-4/what-to-do.pug
  include ../sections/destination-4/top-hotel-paris.pug
  include ../sections/destination-4/top-activities-paris.pug
  include ../sections/destination-4/rental-car.pug
  include ../sections/destination-4/testimonials.pug
  include ../sections/homepage5/media.pug
  
block footer
  //- Footer
  include ../components/footer-5.pug

block scripts-custom
