extends ../layouts/master.pug

block title
  title Destination 2 - Multipurpose Travel Booking HTML Template

block header
  include ../components/header.pug

block content
  include ../sections/destination-2/breadcrumb.pug
  include ../sections/destination-2/banner.pug
  include ../sections/homepage1/popular.pug
  include ../sections/destination/top-rate-hotel.pug
  include ../sections/destination/featured-tours.pug
  include ../sections/destination/rental-car.pug
  include ../sections/homepage10/skyward.pug
  include ../sections/destination/subscriber.pug
  include ../sections/homepage5/media.pug
  
block footer
  //- Footer
  include ../components/footer-5.pug

block scripts-custom
