extends ../layouts/master.pug

block title
  title FAQ - Multipurpose Travel Booking HTML Template

block header
  include ../components/header.pug

block content
  include ../sections/faq/breadcrumb.pug
  include ../sections/faq/content.pug
  include ../sections/faq/install-app.pug
  include ../sections/homepage5/media.pug
  
block footer
  //- Footer
  include ../components/footer-5.pug

block scripts-custom
