extends ../layouts/master.pug

block title
  title Hotel grid 2 - Multipurpose Travel Booking HTML Template

block header
  include ../components/header.pug

block content
  include ../sections/hotel-grid/banner.pug
  include ../sections/hotel-grid-4/buttons.pug
  include ../sections/hotel-grid-2/content.pug
  include ../sections/hotel-grid-4/popular-des.pug
  include ../sections/homepage6/install-app.pug
  .pb-90.background-body
  include ../sections/homepage5/media.pug
  
block footer
  //- Footer
  include ../components/footer-5.pug

block scripts-custom
