extends ../layouts/master.pug

block title
  title Hotel detail 2 - Multipurpose Travel Booking HTML Template

block header
  include ../components/header.pug

block content
  include ../sections/hotel-detail-2/breadcrumb.pug
  include ../sections/hotel-detail-2/banner.pug
  include ../sections/hotel-detail-2/content.pug
  include ../sections/hotel-detail-2/payment.pug
  include ../sections/hotel-detail/testimonials.pug
  include ../sections/homepage5/media.pug
  
block footer
  //- Footer
  include ../components/footer-5.pug

block scripts-custom
