extends ../layouts/master.pug

block title
  title Home 6 - Multipurpose Travel Booking HTML Template

block header
  include ../components/header-4.pug

block content
  include ../sections/homepage6/banner.pug
  include ../sections/homepage6/top-search.pug
  include ../sections/homepage6/our-feature-tour.pug
  include ../sections/homepage6/payment.pug
  include ../sections/homepage2/top-category.pug
  include ../sections/homepage6/install-app.pug
  include ../sections/homepage6/why-book.pug
  include ../sections/homepage6/trending.pug
  include ../sections/homepage6/security.pug
  include ../sections/homepage6/live-travel.pug

  include ../sections/homepage6/news.pug
  
block footer
  //- Footer
  include ../components/footer-6.pug


block scripts-custom
