extends ../layouts/master.pug

block title
  title Home 9 - Multipurpose Travel Booking HTML Template

block header
  include ../components/header-4.pug

block content
  include ../sections/homepage9/banner.pug
  include ../sections/homepage9/feature-properties.pug
  include ../sections/homepage9/why-choose.pug
  include ../sections/homepage9/explore.pug
  include ../sections/homepage9/properties-area.pug
  include ../sections/homepage9/meet.pug
  include ../sections/homepage9/banner-ads.pug
  include ../sections/homepage9/news.pug
  include ../sections/homepage9/subscriber.pug
  
block footer
  //- Footer
  include ../components/footer-4.pug


block scripts-custom
