extends ../layouts/master.pug

block title
  title Home 7 - Multipurpose Travel Booking HTML Template

block header
  include ../components/header-4.pug

block content
  include ../sections/homepage7/banner.pug
  include ../sections/homepage7/numbers.pug
  include ../sections/homepage7/best-hotel.pug
  include ../sections/homepage7/top-rate-hotel.pug
  include ../sections/homepage7/why.pug
  include ../sections/homepage7/banner-ads.pug
  include ../sections/homepage7/popular-nearby.pug
  include ../sections/homepage7/picked.pug
  include ../sections/homepage7/testimonials.pug
  include ../sections/homepage3/faq.pug
  include ../sections/homepage5/media.pug
  
block footer
  //- Footer
  include ../components/footer-7.pug


block scripts-custom
