extends ../layouts/master.pug

block title
  title Home 10 - Multipurpose Travel Booking HTML Template

block header
  include ../components/header-5.pug

block content
  include ../sections/homepage10/banner.pug
  include ../sections/homepage10/logos.pug
  include ../sections/homepage4/slide-banner.pug
  include ../sections/homepage10/top-flight.pug
  include ../sections/homepage10/best-sell.pug
  include ../sections/homepage10/install-app.pug
  include ../sections/homepage10/numbers.pug
  include ../sections/homepage10/popular.pug
  include ../sections/homepage10/skyward.pug
  include ../sections/homepage10/why.pug
  include ../sections/homepage10/how-it-work.pug
  include ../sections/homepage10/testimonials.pug
  include ../sections/homepage6/news.pug
  
block footer
  //- Footer
  include ../components/footer-6.pug


block scripts-custom
