extends ../layouts/master.pug

block title
  title Home 3 - Multipurpose Travel Booking HTML Template

block header
  include ../components/header-2.pug

block content
  include ../sections/homepage3/banner.pug
  include ../sections/homepage3/popular.pug
  include ../sections/homepage3/recommend.pug
  include ../sections/homepage3/number.pug
  include ../sections/homepage3/flight.pug
  include ../sections/homepage3/section6.pug
  include ../sections/homepage3/love-us.pug
  include ../sections/homepage3/popular2.pug
  include ../sections/homepage3/video-gallery.pug
  include ../sections/homepage3/faq.pug

  include ../sections/homepage1/news.pug
  
block footer
  //- Footer
  include ../components/footer-3.pug


block scripts-custom
