extends ../layouts/master.pug

block title
  title Home 8 - Multipurpose Travel Booking HTML Template

block header
  include ../components/header-4.pug

block content
  include ../sections/homepage8/banner.pug
  include ../sections/homepage8/logos.pug
  include ../sections/homepage8/recent-cars.pug
  include ../sections/homepage8/best-car.pug
  include ../sections/homepage8/how-it-work.pug
  include ../sections/homepage8/our-services.pug
  include ../sections/homepage8/testimonials.pug
  include ../sections/homepage3/number.pug
  include ../sections/homepage8/faq.pug
  include ../sections/homepage8/install-app.pug
  
block footer
  //- Footer
  include ../components/footer-4.pug


block scripts-custom
