extends ../layouts/master.pug

block title
  title Privacy - Multipurpose Travel Booking HTML Template

block header
  include ../components/header.pug

block content
  include ../sections/privacy/breadcrumb.pug
  include ../sections/privacy/content.pug
  include ../sections/homepage5/media.pug
  
block footer
  //- Footer
  include ../components/footer-5.pug

block scripts-custom
