extends ../layouts/master.pug

block title
  title Property grid 2 - Multipurpose Travel Booking HTML Template

block header
  include ../components/header.pug

block content
  include ../sections/property/banner.pug
  include ../sections/property-2/buttons.pug
  include ../sections/property-2/content.pug
  include ../sections/homepage9/explore.pug
  include ../sections/homepage5/media.pug
  
block footer
  //- Footer
  include ../components/footer-5.pug

block scripts-custom
