extends ../layouts/master.pug

block title
  title Rental car list - Multipurpose Travel Booking HTML Template

block header
  include ../components/header.pug

block content
  include ../sections/rental-car/banner.pug
  include ../sections/rental-car-4/slide-logo.pug
  include ../sections/rental-car-4/content.pug
  include ../sections/rental-car/our-services.pug
  include ../sections/homepage5/media.pug
  
block footer
  //- Footer
  include ../components/footer-5.pug

block scripts-custom
