extends ../layouts/master.pug

block title
  title Property grid 3 - Multipurpose Travel Booking HTML Template

block header
  include ../components/header.pug

block content
  include ../sections/property/banner.pug
  include ../sections/property/slide-property.pug
  include ../sections/property-3/content.pug
  include ../sections/homepage9/banner-ads.pug
  .pb-110.background-body
  include ../sections/homepage5/media.pug
  
block footer
  //- Footer
  include ../components/footer-5.pug

block scripts-custom
