extends ../layouts/master.pug

block title
  title Tour grid 3 - Multipurpose Travel Booking HTML Template

block header
  include ../components/header.pug

block content
  include ../sections/tour-5/banner.pug
  include ../sections/tour-5/content.pug
  include ../sections/homepage5/media.pug
  
block footer
  //- Footer
  include ../components/footer-5.pug

block scripts-custom
