section.section-box.box-payments.background-body
    .container 
        .row.align-items-center 
            .col-lg-5
                .row 
                    .col-md-7.mb-30
                        img.bdrd8.w-100(src="assets/imgs/page/homepage1/pay1.png", alt="Travila")
                    .col-md-5.mb-30
                        img.bdrd8.w-100.mb-15(src="assets/imgs/page/homepage1/pay2.png", alt="Travila")
                        img.bdrd8.w-100(src="assets/imgs/page/homepage1/pay3.png", alt="Travila")

            .col-lg-7.mb-30
                .box-left-payment
                    span.btn.btn-tag Easy payment
                    h2.title-why.mb-25.mt-10.neutral-1000 Discover Dream Destinations with Ease
                    p.text-xl-medium.neutral-500.mb-35 Discover how you can offset your adventure's carbon emissions and support the sustainable initiatives practiced by our operators worldwide.
                    .payment-method 
                        .box-swiper.mt-30
                            .swiper-container.swiper-group-payment
                                .swiper-wrapper
                                    .swiper-slide
                                        .btn.btn-payment
                                            img(src="assets/imgs/template/icons/paypal.png", alt="Travila")
                                    .swiper-slide
                                        .btn.btn-payment
                                            img(src="assets/imgs/template/icons/stripe.png", alt="Travila")
                                    .swiper-slide
                                        .btn.btn-payment
                                            img(src="assets/imgs/template/icons/mastercard.png", alt="Travila")
                                    .swiper-slide
                                        .btn.btn-payment
                                            img(src="assets/imgs/template/icons/skrill.png", alt="Travila")