section.section-box.box-banner-blog-detail-2.background-body 
    .container 
        .box-banner-single-blog
            .box-button-top-right 
                a.btn.btn-label-tag-lg.background-2(href="#") Wanderlust
                a.btn.btn-label-tag-lg.background-7(href="#") Adventure
            .box-swiper
                .swiper-container.swiper-group-1
                    .swiper-wrapper
                        .swiper-slide
                            img(src="assets/imgs/page/blog/banner-detail2.png", alt="Travile")
                        .swiper-slide
                            img(src="assets/imgs/page/blog/banner-detail2.png", alt="Travile")

                .swiper-button-prev.swiper-button-prev-style-1.swiper-button-prev-group-1
                    svg(xmlns='http://www.w3.org/2000/svg', width='16', height='16', viewbox='0 0 16 16', fill='none')
                        path(d='M7.99992 3.33325L3.33325 7.99992M3.33325 7.99992L7.99992 12.6666M3.33325 7.99992H12.6666', stroke='', stroke-linecap='round', stroke-linejoin='round')
                .swiper-button-next.swiper-button-next-style-1.swiper-button-next-group-1
                    svg(xmlns='http://www.w3.org/2000/svg', width='16', height='16', viewbox='0 0 16 16', fill='none')
                        path(d='M7.99992 12.6666L12.6666 7.99992L7.99992 3.33325M12.6666 7.99992L3.33325 7.99992', stroke='', stroke-linecap='round', stroke-linejoin='round')