section.section-box.box-install-app-2.background-body
    .container 
        .block-install-app.background-6 
            .row.align-items-center 
                .col-lg-6
                    .box-item-download.wow.fadeInUp 
                        span.btn.btn-brand-secondary Install APP &  Get  discount code
                        h5.mt-15.mb-30 Up to 55% Discount
                            br.d-none.d-lg-block
                            | and lots of special gifts
                        .box-button-download 
                            a(href="#")
                                img(src="assets/imgs/page/homepage6/googleplay.png", alt="Travila")
                            a(href="#")
                                img(src="assets/imgs/page/homepage6/appstore.png", alt="Travila")
                .col-lg-6
                    img.wow.fadeInUp(src="assets/imgs/page/homepage6/img-download-app.png", alt="Travila")