section.section-box.box-our-featured.box-our-featured-2.background-100
    .container
        .row.align-items-end
            .col-lg-6.mb-30.text-center.text-lg-start.wow.fadeInUp 
                h2.neutral-1000 Our Featured Tours
                p.text-xl-medium.neutral-500 Favorite destinations based on customer reviews
            .col-lg-6.mb-30.wow.fadeInUp 
                .d-flex.align-items-center.justify-content-center.justify-content-lg-end.popular-categories
                    .dropdown.dropdown-filter
                        button#dropdownCategory.btn.btn-dropdown.dropdown-toggle(type='button', data-bs-toggle='dropdown', aria-expanded='false') 
                            span Categories
                        ul.dropdown-menu.dropdown-menu-light(aria-labelledby='dropdownCategory', style='margin: 0px;')
                            li
                                a.dropdown-item.active(href='#') Attractives
                            li
                                a.dropdown-item(href='#') Active
                            li
                                a.dropdown-item(href='#') Nature
                        
                    .dropdown.dropdown-filter
                        button#dropdownCategory.btn.btn-dropdown.dropdown-toggle(type='button', data-bs-toggle='dropdown', aria-expanded='false') 
                            span Duration
                        ul.dropdown-menu.dropdown-menu-light(aria-labelledby='dropdownCategory', style='margin: 0px;')
                            li
                                a.dropdown-item.active(href='#') 4 Hours
                            li
                                a.dropdown-item(href='#') 8 Hours
                            li
                                a.dropdown-item(href='#') 2 Days

                    .dropdown.dropdown-filter
                        button#dropdownCategory.btn.btn-dropdown.dropdown-toggle(type='button', data-bs-toggle='dropdown', aria-expanded='false') 
                            span Review / Rating
                        ul.dropdown-menu.dropdown-menu-light(aria-labelledby='dropdownCategory', style='margin: 0px;')
                            li
                                a.dropdown-item.active(href='#') Newest
                            li
                                a.dropdown-item(href='#') Oldest
                    
                    .dropdown.dropdown-filter
                        button#dropdownCategory.btn.btn-dropdown.dropdown-toggle(type='button', data-bs-toggle='dropdown', aria-expanded='false') 
                            span Price range
                        ul.dropdown-menu.dropdown-menu-light(aria-labelledby='dropdownCategory', style='margin: 0px;')
                            li
                                a.dropdown-item.active(href='#') $10 - $100
                            li
                                a.dropdown-item(href='#') $100 - $1.000
                            li
                                a.dropdown-item(href='#') $1.000 - $10.000
        .box-list-featured 
            .row
                -
                    const itemLists = [
                        {
                            index: "1",
                            image: "assets/imgs/page/homepage1/journey2.png",
                            title: 'California Sunset/Twilight Boat Cruise ',
                            duration: '2 days 3 nights',
                            passenger: '4-6 guest',
                            price: '$48.25',
                            link: 'tour-detail.html'

                        },
                        {
                            index: "2",
                            image: "assets/imgs/page/homepage1/journey3.png",
                            title: 'NYC: Food Tastings and Culture Tour',
                            duration: '3 days 3 nights',
                            passenger: '4-6 guest',
                            price: '$17.32',
                            link: 'tour-detail.html'
                        },
                        {
                            index: "3",
                            image: "assets/imgs/page/homepage1/journey4.png",
                            title: 'Grand Canyon Horseshoe Bend  2 days',
                            duration: '7 days 6 nights',
                            passenger: '4-6 guest',
                            price: '$15.63',
                            link: 'tour-detail.html'
                        },
                        {
                            index: "1",
                            image: "assets/imgs/page/homepage1/journey2.png",
                            title: 'California Sunset/Twilight Boat Cruise ',
                            duration: '2 days 3 nights',
                            passenger: '4-6 guest',
                            price: '$48.25',
                            link: 'tour-detail.html'

                        },
                        {
                            index: "2",
                            image: "assets/imgs/page/homepage1/journey3.png",
                            title: 'NYC: Food Tastings and Culture Tour',
                            duration: '3 days 3 nights',
                            passenger: '4-6 guest',
                            price: '$17.32',
                            link: 'tour-detail.html'
                        },
                        {
                            index: "3",
                            image: "assets/imgs/page/homepage1/journey4.png",
                            title: 'Grand Canyon Horseshoe Bend  2 days',
                            duration: '7 days 6 nights',
                            passenger: '4-6 guest',
                            price: '$15.63',
                            link: 'tour-detail.html'
                        }
                    ]
                each item in itemLists
                    .col-lg-4.col-md-6
                        .card-journey-small.background-card.wow.fadeInUp 
                            .card-image 
                                if item.index == "1"
                                    a.label(href="#") Top Rated
                                else if item.index == "2"
                                    a.label.bestsale(href="#") Best Sale
                                else 
                                    a.label.saleoff(href="#") 25% Off
                                a.wish(href="#")
                                    svg(width='20', height='18', viewbox='0 0 20 18', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M17.071 10.1422L11.4141 15.7991C10.6331 16.5801 9.36672 16.5801 8.58568 15.7991L2.92882 10.1422C0.9762 8.1896 0.9762 5.02378 2.92882 3.07116C4.88144 1.11853 8.04727 1.11853 9.99989 3.07116C11.9525 1.11853 15.1183 1.11853 17.071 3.07116C19.0236 5.02378 19.0236 8.1896 17.071 10.1422Z', stroke='', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
                                img(src= item.image, alt="Travila")
                            .card-info.background-card 
                                .card-rating 
                                    .card-left 
                                    .card-right 
                                        span.rating 4.96 
                                            span.text-sm-medium.neutral-500 (672 reviews)

                                .card-title 
                                    a.heading-6.neutral-1000(href= item.link)= item.title 
                                .card-program 
                                    .card-duration-tour 
                                        p.icon-duration.text-md-medium.neutral-500= item.duration
                                        p.icon-guest.text-md-medium.neutral-500= item.passenger
                                    .endtime 
                                        .card-price 
                                            h6.heading-6.neutral-1000= item.price
                                            p.text-md-medium.neutral-500 / person
                                        .card-button 
                                            a.btn.btn-gray(href="tour-detail.html") Book Now