section.section-box.box-banner-home7.background-body
    .container
    .container-banner-home7
        .box-swiper
            .swiper-container.swiper-group-1
                .swiper-wrapper
                    .swiper-slide
                        .item-banner-slide(style="background-image: url(assets/imgs/page/homepage7/banner.png)")
                            .container 
                                span.btn.btn-brand-secondary.wow.fadeInUp 
                                    img.mr-10(src="assets/imgs/page/homepage7/hotel.svg", alt="Travila") 
                                    | Great Hotel System
                                h1.mt-20.mb-20.color-white Find Your Next Stay
                                h5.color-white Search deals on hotels, homes, and much more...
                    .swiper-slide
                        .item-banner-slide(style="background-image: url(assets/imgs/page/homepage7/banner-2.png)")
                            .container 
                                span.btn.btn-brand-secondary.wow.fadeInUp 
                                    img.mr-10(src="assets/imgs/page/homepage7/hotel.svg", alt="Travila") 
                                    | Your Best Stay 
                                h1.mt-20.mb-20.color-white Holiday Special Price
                                h5.color-white Book now your next stay and get special price
                .swiper-pagination.swiper-pagination-group-1.swiper-pagination-style-2
    .container-search-advance 
        .container
            include ../../elements/box-search-1.pug