section.box-section.box-buttons-destination.box-buttons-destination-5.box-buttons-room-detail-2.background-card
    .container-fluid
        .box-button-faq.wow.fadeInRight 
            a.btn.btn-border-1(href="#") 
                img(src="assets/imgs/page/room/airport.svg", alt="Travile")
                | Airport Transfer
            a.btn.btn-border-1(href="#") 
                img(src="assets/imgs/page/room/safety-box.svg", alt="Travile")
                | Safety Box
            a.btn.btn-border-1(href="#") 
                img(src="assets/imgs/page/room/coffee-shop.svg", alt="Travile")
                | Balcony
            a.btn.btn-border-1(href="#") 
                img(src="assets/imgs/page/room/massage.svg", alt="Travile")
                | Spa Sauna
            a.btn.btn-border-1(href="#") 
                img(src="assets/imgs/page/room/animal.svg", alt="Travile")
                | Pet Allowed
            a.btn.btn-border-1(href="#") 
                img(src="assets/imgs/page/room/wifi.svg", alt="Travile")
                | Free Wifi
            a.btn.btn-border-1(href="#") 
                img(src="assets/imgs/page/room/hairdryer.svg", alt="Travile")
                | Air Dryer
            a.btn.btn-border-1(href="#") 
                img(src="assets/imgs/page/room/air-conditioner.svg", alt="Travile")
                | Air Condition
            a.btn.btn-border-1(href="#") 
                img(src="assets/imgs/page/room/loundry.svg", alt="Travile")
                | Loundry Service
            a.btn.btn-border-1(href="#") 
                img(src="assets/imgs/page/room/bed.svg", alt="Travile")
                | King Size Bed
            a.btn.btn-border-1(href="#") 
                img(src="assets/imgs/page/room/food.svg", alt="Travile")
                | Front desk
            a.btn.btn-border-1(href="#") 
                img(src="assets/imgs/page/room/living.svg", alt="Travile")
                | Living Area
            a.btn.btn-border-1(href="#") 
                img(src="assets/imgs/page/room/living.svg", alt="Travile")
                | Living Area