section.box-section.box-banner-room 
    .block-room-banner-inner 
        .box-swiper
            .swiper-container.swiper-group-1
                .swiper-wrapper
                    .swiper-slide
                        img(src="assets/imgs/page/room/banner-room.png", alt="Travile")
                    .swiper-slide
                        img(src="assets/imgs/page/room/banner-room2.png", alt="Travile")
                    .swiper-slide
                        img(src="assets/imgs/page/room/banner-room3.png", alt="Travile")

            .swiper-button-prev.swiper-button-prev-style-1.swiper-button-prev-group-1
                svg(xmlns='http://www.w3.org/2000/svg', width='16', height='16', viewbox='0 0 16 16', fill='none')
                    path(d='M7.99992 3.33325L3.33325 7.99992M3.33325 7.99992L7.99992 12.6666M3.33325 7.99992H12.6666', stroke='', stroke-linecap='round', stroke-linejoin='round')
            .swiper-button-next.swiper-button-next-style-1.swiper-button-next-group-1
                svg(xmlns='http://www.w3.org/2000/svg', width='16', height='16', viewbox='0 0 16 16', fill='none')
                    path(d='M7.99992 12.6666L12.6666 7.99992L7.99992 3.33325M12.6666 7.99992L3.33325 7.99992', stroke='', stroke-linecap='round', stroke-linejoin='round')

    .block-room-features 
        .container
            .box-room-features 
                a.item-room-feature(href="#") 
                    .item-image 
                        img(src="assets/imgs/page/room/airport.svg", alt="Travile")
                    .item-info 
                        p.text-sm-bold.neutral-1000 Airport Transfer
                a.item-room-feature(href="#")
                    .item-image 
                        img(src="assets/imgs/page/room/safety-box.svg", alt="Travile")
                    .item-info 
                        p.text-sm-bold.neutral-1000 Safety Box
                a.item-room-feature(href="#")
                    .item-image 
                        img(src="assets/imgs/page/room/airport.svg", alt="Travile")
                    .item-info 
                        p.text-sm-bold.neutral-1000 Balcony
                a.item-room-feature(href="#")
                    .item-image 
                        img(src="assets/imgs/page/room/massage.svg", alt="Travile")
                    .item-info 
                        p.text-sm-bold.neutral-1000 Spa Sauna
                a.item-room-feature(href="#")
                    .item-image 
                        img(src="assets/imgs/page/room/animal.svg", alt="Travile")
                    .item-info 
                        p.text-sm-bold.neutral-1000 Pet Allowed
                a.item-room-feature(href="#")
                    .item-image 
                        img(src="assets/imgs/page/room/wifi.svg", alt="Travile")
                    .item-info 
                        p.text-sm-bold.neutral-1000 Free Wifi
                a.item-room-feature(href="#")
                    .item-image 
                        img(src="assets/imgs/page/room/hairdryer.svg", alt="Travile")
                    .item-info 
                        p.text-sm-bold.neutral-1000 Air Dryer
                a.item-room-feature(href="#")
                    .item-image 
                        img(src="assets/imgs/page/room/air-conditioner.svg", alt="Travile")
                    .item-info 
                        p.text-sm-bold.neutral-1000 Air Condition
                a.item-room-feature(href="#")
                    .item-image 
                        img(src="assets/imgs/page/room/loundry.svg", alt="Travile")
                    .item-info 
                        p.text-sm-bold.neutral-1000 Loundry Service
                a.item-room-feature(href="#")
                    .item-image 
                        img(src="assets/imgs/page/room/bed.svg", alt="Travile")
                    .item-info 
                        p.text-sm-bold.neutral-1000 King Size Bed
                a.item-room-feature(href="#")
                    .item-image 
                        img(src="assets/imgs/page/room/food.svg", alt="Travile")
                    .item-info 
                        p.text-sm-bold.neutral-1000 Front desk
                a.item-room-feature(href="#")
                    .item-image 
                        img(src="assets/imgs/page/room/living.svg", alt="Travile")
                    .item-info 
                        p.text-sm-bold.neutral-1000 Living Area
                a.item-room-feature(href="#")
                    .item-image 
                        img(src="assets/imgs/page/room/airport.svg", alt="Travile")
                    .item-info 
                        p.text-sm-bold.neutral-1000 Living Area