section.section-box.box-popular-spots.background-2
    .container
        .row.align-items-end
            .col-lg-6.mb-30.text-center.text-lg-start.wow.fadeInLeft 
                h2.neutral-1000 Popular Spots
                p.text-xl-medium.neutral-500 Dare to live the lift you’ve always wanted
            .col-lg-6.mb-30.wow.fadeInRight 
                .d-flex.align-items-center.justify-content-center.justify-content-lg-end.popular-categories
                    .dropdown.dropdown-filter
                        button#dropdownCategory.btn.btn-dropdown.dropdown-toggle(type='button', data-bs-toggle='dropdown', aria-expanded='false') 
                            span Categories
                        ul.dropdown-menu.dropdown-menu-light(aria-labelledby='dropdownCategory', style='margin: 0px;')
                            li
                                a.dropdown-item.active(href='#') Attractives
                            li
                                a.dropdown-item(href='#') Active
                            li
                                a.dropdown-item(href='#') Nature
                        
                    .dropdown.dropdown-filter
                        button#dropdownCategory.btn.btn-dropdown.dropdown-toggle(type='button', data-bs-toggle='dropdown', aria-expanded='false') 
                            span Duration
                        ul.dropdown-menu.dropdown-menu-light(aria-labelledby='dropdownCategory', style='margin: 0px;')
                            li
                                a.dropdown-item.active(href='#') 4 Hours
                            li
                                a.dropdown-item(href='#') 8 Hours
                            li
                                a.dropdown-item(href='#') 2 Days

                    .dropdown.dropdown-filter
                        button#dropdownCategory.btn.btn-dropdown.dropdown-toggle(type='button', data-bs-toggle='dropdown', aria-expanded='false') 
                            span Review / Rating
                        ul.dropdown-menu.dropdown-menu-light(aria-labelledby='dropdownCategory', style='margin: 0px;')
                            li
                                a.dropdown-item.active(href='#') Newest
                            li
                                a.dropdown-item(href='#') Oldest
                    
                    .dropdown.dropdown-filter
                        button#dropdownCategory.btn.btn-dropdown.dropdown-toggle(type='button', data-bs-toggle='dropdown', aria-expanded='false') 
                            span Price range
                        ul.dropdown-menu.dropdown-menu-light(aria-labelledby='dropdownCategory', style='margin: 0px;')
                            li
                                a.dropdown-item.active(href='#') $10 - $100
                            li
                                a.dropdown-item(href='#') $100 - $1.000
                            li
                                a.dropdown-item(href='#') $1.000 - $10.000
        .box-list-featured 
            .row
                -
                    const spotsLists = [
                        {
                            index: "1",
                            image: "assets/imgs/page/homepage4/spot.png",
                            title: 'Venice',
                            link: '#'

                        },
                        {
                            index: "2",
                            image: "assets/imgs/page/homepage4/spot2.png",
                            title: 'New York',
                            link: '#'
                        },
                        {
                            index: "3",
                            image: "assets/imgs/page/homepage4/spot3.png",
                            title: 'Amsterdam',
                            link: '#'
                        },
                        {
                            index: "1",
                            image: "assets/imgs/page/homepage4/spot4.png",
                            title: 'Budapest',
                            link: '#'

                        },
                        {
                            index: "2",
                            image: "assets/imgs/page/homepage4/spot5.png",
                            title: 'Lisbon',
                            link: '#'
                        },
                        {
                            index: "3",
                            image: "assets/imgs/page/homepage4/spot6.png",
                            title: 'London',
                            link: '#'
                        },
                        {
                            index: "3",
                            image: "assets/imgs/page/homepage4/spot7.png",
                            title: 'Ottawa',
                            link: '#'
                        },
                        {
                            index: "3",
                            image: "assets/imgs/page/homepage4/spot8.png",
                            title: 'Paris',
                            link: '#'
                        }
                    ]
                each item in spotsLists
                    .col-xl-3.col-lg-4.col-md-6.wow.fadeInUp
                        .card-spot.background-card 
                            .card-image 
                                a(href= item.link)
                                    img(src= item.image, alt="Travila")
                            .card-info.background-card 
                                .card-left
                                    .card-title 
                                        a.text-lg-bold.neutral-1000(href= item.link)= item.title 
                                    .card-desc 
                                        a.text-sm.neutral-500(href="#") 356 Tours,
                                        a.text-sm.neutral-500(href="#") 248 Activities
                                .card-right 
                                    .card-button 
                                        a(href="#") 
                                            svg(width='10', height='10', viewbox='0 0 10 10', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                path(d='M5.00011 9.08347L9.08347 5.00011L5.00011 0.916748M9.08347 5.00011L0.916748 5.00011', stroke='', stroke-linecap='round', stroke-linejoin='round')