section.section-box.box-category-grid.background-body
    .container 
        .row 
            .col-lg-6
                .card-category.wow.fadeInUp 
                    .card-image 
                    .card-info 
                        .card-text
                            h5.card-title.mb-55.text-24-merienda.color-white Waking up
                                br
                                | in a far away place
                            a.btn.btn-brand-secondary(href="#") View More 
                                svg(width='16', height='16', viewbox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                                    path(d='M8 15L15 8L8 1M15 8L1 8', stroke='', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
            .col-lg-6
                .card-category.wow.fadeInUp(style="background-image: url(assets/imgs/page/homepage5/advance.png)")
                    .card-image 
                    .card-info.text-end 
                        .card-text
                            h5.card-title.mb-35.text-32-merienda.color-white adventure 
                                br
                                | starts today
                            a.btn.btn-brand-secondary(href="#") View More 
                                svg(width='16', height='16', viewbox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                                    path(d='M8 15L15 8L8 1M15 8L1 8', stroke='', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
            .col-lg-4
                .card-category.card-category-3.wow.fadeInUp(style="background-image: url(assets/imgs/page/homepage5/explore.png)")
                    .card-image 
                    .card-info 
                        .card-text
                            p.text-lg-bold.color-white.mt-90 Waking up in a far away place
                            .box-img-activity
                                img(src="assets/imgs/page/homepage5/img-explore.png", alt="Travila")
                            a.btn.btn-brand-secondary(href="#") View More 
                                svg(width='16', height='16', viewbox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                                    path(d='M8 15L15 8L8 1M15 8L1 8', stroke='', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
                            .phone-activity 
                                p.text-sm-bold 1-800-222-8888
            .col-lg-4
                .card-category.card-category-2.wow.fadeInUp(style="background-image: url(assets/imgs/page/homepage5/journey.png)")
                    .card-image 
                    .card-info 
                        .card-text
                            p.text-lg-bold.color-white.mb-5 Dream Vacation
                            h5.card-title.mb-105.color-white.text-36-merienda Start your  
                                br
                                | JourneyNow
                            a.btn.btn-brand-secondary(href="#") View More 
                                svg(width='16', height='16', viewbox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                                    path(d='M8 15L15 8L8 1M15 8L1 8', stroke='', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
            .col-lg-4
                .card-category.card-category-2.wow.fadeInUp(style="background-image: url(assets/imgs/page/homepage5/book.png)")
                    .card-image 
                    .card-info.text-end  
                        .card-text
                            p.text-lg-bold.color-white.mb-5 Sale Off
                            h5.card-title.mb-40.text-36-merienda.color-white Book and
                                br
                                | Get best 
                                br
                                | Deals now
                            a.btn.btn-brand-secondary(href="#") View More 
                                svg(width='16', height='16', viewbox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                                    path(d='M8 15L15 8L8 1M15 8L1 8', stroke='', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')