section.section-box.box-logos-2.box-logos-3.background-body
    .container 
        .box-swiper.pt-30
            .swiper-container.swiper-group-payment-7.wow.fadeInUp
                .swiper-wrapper
                    .swiper-slide
                        .item-logo-payment 
                            img(src="assets/imgs/page/homepage2/paypal.png", alt="Travila")
                    .swiper-slide
                        .item-logo-payment 
                            img(src="assets/imgs/page/homepage2/stripe.png", alt="Travila")
                    .swiper-slide
                        .item-logo-payment 
                            img(src="assets/imgs/page/homepage2/payoneer.png", alt="Travila")
                    .swiper-slide
                        .item-logo-payment 
                            img(src="assets/imgs/page/homepage2/visa.png", alt="Travila")
                    .swiper-slide
                        .item-logo-payment 
                            img(src="assets/imgs/page/homepage2/cashapp.png", alt="Travila")
                    .swiper-slide
                        .item-logo-payment 
                            img(src="assets/imgs/page/homepage2/bitcoin.png", alt="Travila")
                    .swiper-slide
                        .item-logo-payment 
                            img(src="assets/imgs/page/homepage2/discover.png", alt="Travila")