section.section-box.box-partners.background-body
    .container 
        .row.align-items-center 
            .col-lg-4.mb-20
                .box-authors-partner.wow.fadeInUp 
                    .authors-partner-left
                        img(src="assets/imgs/page/homepage5/author.png", alt="Travila")
                        img(src="assets/imgs/page/homepage5/author2.png", alt="Travila")
                        img(src="assets/imgs/page/homepage5/author3.png", alt="Travila")
                        span.item-author 
                            svg(width='18', height='18', viewbox='0 0 18 18', fill='none', xmlns='http://www.w3.org/2000/svg')
                                rect(x='0.5', y='7.448', width='17', height='2.31818', fill='black')
                                rect(x='7.84082', y='17.1072', width='17', height='2.31818', transform='rotate(-90 7.84082 17.1072)', fill='black')
                    .authors-partner-right
                        p.text-sm.neutral-1000 1684 people used 
                            strong Travila 
                            | in the last 
                            strong 24 hours

            .col-lg-3.mb-20.wow.fadeInUp
                h6.neutral-1000 Partner with
                p.text-xs-medium.neutral-500 We are a trusted partner of airlines, payment gateways, and travel services around the world.
            .col-lg-5.mb-20 
                .payment-method.wow.fadeInUp 
                    .box-swiper.mt-30
                        .swiper-container.swiper-group-payment
                            .swiper-wrapper
                                .swiper-slide
                                    .btn.btn-payment
                                        img(src="assets/imgs/template/icons/paypal.png", alt="Travila")
                                .swiper-slide
                                    .btn.btn-payment
                                        img(src="assets/imgs/template/icons/stripe.png", alt="Travila")
                                .swiper-slide
                                    .btn.btn-payment
                                        img(src="assets/imgs/template/icons/mastercard.png", alt="Travila")
                                .swiper-slide
                                    .btn.btn-payment
                                        img(src="assets/imgs/template/icons/skrill.png", alt="Travila")