section.section-box.box-popular-destinations.box-popular-destinations-2.background-body.pt-50
    .container 
        .text-center.wow.fadeInUp 
            h4.neutral-1000 Travel By Activities
            p.text-xl-medium.neutral-500 Navigate the Globe with Confidence

        .box-swiper.mt-30.wow.fadeInUp
            .swiper-container.swiper-group-8
                .swiper-wrapper
                    -
                        const itemActivities = [
                            {
                                image: "assets/imgs/page/homepage5/activity.png",
                                title: 'Explore Ruins',
                                desc: "356 Tours",

                            },
                            {
                                image: "assets/imgs/page/homepage5/activity2.png",
                                title: 'Beach Snorkel',
                                desc: "356 Tours",

                            },
                            {
                                image: "assets/imgs/page/homepage5/activity3.png",
                                title: 'City Cycling',
                                desc: "356 Tours",

                            },
                            {
                                image: "assets/imgs/page/homepage5/activity4.png",
                                title: 'Mountain Trek',
                                desc: "356 Tours",

                            },
                            {
                                image: "assets/imgs/page/homepage5/activity5.png",
                                title: 'Food Tour',
                                desc: "356 Tours",

                            },
                            {
                                image: "assets/imgs/page/homepage5/activity6.png",
                                title: 'River Cruise',
                                desc: "356 Tours",

                            },
                            {
                                image: "assets/imgs/page/homepage5/activity7.png",
                                title: 'Spa Retreat',
                                desc: "356 Tours",

                            },
                            {
                                image: "assets/imgs/page/homepage5/activity8.png",
                                title: 'Road Trip',
                                desc: "356 Tours",

                            }
                        ]
                    each item in itemActivities
                        .swiper-slide
                            .card-popular-destination.card-popular-destination-type-2
                                .card-image 
                                    img(src= item.image, alt="Travila")
                                .card-info 
                                    a.text-sm-bold(href="activities-detail-2.html")= item.title
                                    p.text-xs.neutral-500= item.desc

        .box-list-activities.mt-65 
            .row
                -
                    const item4Lists = [
                        {
                            image: "assets/imgs/page/homepage5/activity-big.png",
                            title: 'Adventure Activities',
                            link: 'activities-2.html'

                        },
                        {
                            image: "assets/imgs/page/homepage5/activity-big2.png",
                            title: 'Cultural Exploration',
                            link: 'activities-2.html'
                        },
                        {
                            image: "assets/imgs/page/homepage5/activity-big3.png",
                            title: 'Wildlife Experiences',
                            link: 'activities-2.html'
                        },
                        {
                            image: "assets/imgs/page/homepage5/activity-big4.png",
                            title: 'Relaxation Travel',
                            link: 'activities-2.html'

                        },
                        {
                            image: "assets/imgs/page/homepage5/activity-big5.png",
                            title: 'Wellness Tours',
                            link: 'activities-2.html'
                        }
                    ]
                each item in item4Lists
                    .col-xl-4.col-md-6
                        .card-journey-small.card-journey-small-type-2.background-card 
                            .card-image 
                                img(src= item.image, alt="Travila")
                            .card-info 
                                .card-rating 
                                    .card-left 
                                    .card-right 
                                        span.rating.sign.neutral-500 365 Tours

                                .card-title 
                                    a.heading-6.neutral-1000(href= item.link)= item.title 
                                .card-links 
                                    ul 
                                        li 
                                            a(href="activities-2.html") Mountain Hiking
                                        li 
                                            a(href="activities-2.html") Tropical Zip-lining
                                        li 
                                            a(href="activities-2.html") Rock Climbing
                                        li 
                                            a(href="activities-2.html") Coastal Paragliding
                                        li 
                                            a(href="activities-2.html") Rafting Excursion

                .col-xl-4.col-md-6
                    .card-activity 
                        .card-info 
                            p.text-md-bold.mb-5 Save your time!
                            h6 Explore, Book, Soar: Your Journey Awaits!
                            a.btn.btn-brand-secondary(href="activities-2.html") View More
                                svg(width='16', height='16', viewbox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                                    path(d='M8 15L15 8L8 1M15 8L1 8', stroke='black', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
                        .card-image 
                            img(src="assets/imgs/page/homepage5/img-activity.png", alt="Travila")

            .d-flex.justify-content-center
                a.btn.btn-black-lg(href="#") 
                    svg.first(width='25', height='24', viewbox='0 0 25 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M4.5 4H6.5V6H4.5V4Z', stroke='', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
                        path(d='M4.5 18H6.5V20H4.5V18Z', stroke='', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
                        path(d='M18.5 4H20.5V6H18.5V4Z', stroke='', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
                        path(d='M18.5 11H20.5V13H18.5V11Z', stroke='', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
                        path(d='M11.5 11H13.5V13H11.5V11Z', stroke='', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
                        path(d='M4.5 11H6.5V13H4.5V11Z', stroke='', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
                        path(d='M11.5 4H13.5V6H11.5V4Z', stroke='', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
                        path(d='M11.5 18H13.5V20H11.5V18Z', stroke='', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
                        path(d='M18.5 18H20.5V20H18.5V18Z', stroke='', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
                    | Load More Tours