section.box-section.box-banner-destination.box-banner-destination-3.background-body.pb-60
    .container 
        .row 
            .col-md-8
                a.image-gallery(href="assets/imgs/page/destination/banner3.png")
                    img.mb-20(src="assets/imgs/page/destination/banner3.png", alt="Travile")
            .col-md-4
                .row 
                    .col-md-12.col-6
                        a.image-gallery(href="assets/imgs/page/destination/banner4.png")
                            img.mb-20(src="assets/imgs/page/destination/banner4.png", alt="Travile")
                    .col-md-12.col-6
                        a.image-gallery(href="assets/imgs/page/destination/banner5.png")
                            img.mb-20(src="assets/imgs/page/destination/banner5.png", alt="Travile")