.box-search-advance.box-search-advance-3.background-card.wow.fadeInUp 
    .box-bottom-search.background-card 
        .item-search 
            label.text-sm-bold.neutral-500 Location
            .dropdown
                button.btn.btn-secondary.dropdown-toggle.btn-dropdown-search.location-search(type='button', data-bs-toggle='dropdown', aria-expanded='false')
                    | New York, USA
                ul.dropdown-menu
                    li
                        a.dropdown-item(href='#') Sydney, Australia
                    li
                        a.dropdown-item(href='#') London, England
                    li
                        a.dropdown-item(href='#') New York City, USA
        .item-search.item-search-2 
            label.text-sm-bold.neutral-500 Check In
            .box-calendar-date
                input.search-input.datepicker(type="text", placeholder="", value="02 January 2024")
        .item-search.item-search-3 
            label.text-sm-bold.neutral-500 Check Out
            .box-calendar-date
                input.search-input.datepicker(type="text", placeholder="", value="02 January 2024")
        .item-search.bd-none 
            label.text-sm-bold.neutral-500 Guest
            .dropdown
                button.btn.btn-secondary.dropdown-toggle.btn-dropdown-search.passenger-search(type='button', data-bs-toggle='dropdown', aria-expanded='false')
                    | 2 adults, 2 children
                ul.dropdown-menu
                    li
                        a.dropdown-item(href='#') 2 adults, 1 children
                    li
                        a.dropdown-item(href='#') 2 adults, 2 children
                    li
                        a.dropdown-item(href='#') 2 adults, 3 children
        .item-search.bd-none.d-flex.justify-content-end 
            button.btn.btn-black-lg 
                svg(width='20', height='20', viewbox='0 0 20 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                    path(d='M19 19L14.6569 14.6569M14.6569 14.6569C16.1046 13.2091 17 11.2091 17 9C17 4.58172 13.4183 1 9 1C4.58172 1 1 4.58172 1 9C1 13.4183 4.58172 17 9 17C11.2091 17 13.2091 16.1046 14.6569 14.6569Z', stroke='', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
                | Search