.sidebar-left.border-1.background-body 
    .box-filters-sidebar 
        .block-filter.border-1 
            h6.text-lg-bold.item-collapse.neutral-1000 Show on map
            .box-collapse.scrollFilter.mb-15 
                .pt-0
                    .box-map-small 
                        iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5249.611419370571!2d2.3406913487788334!3d48.86191519358772!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e18a5f84801%3A0x6eb5daa624bdebd2!2sLes%20Halles%2C%2075001%20Pa%20ri%2C%20Ph%C3%A1p!5e0!3m2!1svi!2s!4v1711728202093!5m2!1svi!2s', width='100%', height='160', style='border:0;', allowfullscreen='', loading='lazy', referrerpolicy='no-referrer-when-downgrade')

.sidebar-left.border-1.background-body 
    .box-filters-sidebar 
        .block-filter.border-1 
            h6.text-lg-bold.item-collapse.neutral-1000 Filter Price 
            .box-collapse.scrollFilter 
                .pt-20
                    .box-slider-range
                        #slider-range
                        .box-value-price
                            span.text-md-medium.neutral-1000 $0
                            span.text-md-medium.neutral-1000 $500
                        input.value-money(type="hidden")
.sidebar-left.border-1.background-body 
    .box-filters-sidebar 
        .block-filter.border-1 
            h6.text-lg-bold.item-collapse.neutral-1000 Car type
            .box-collapse.scrollFilter
                ul.list-filter-checkbox 
                    li 
                        label.cb-container
                            input(type='checkbox')
                            span.text-sm-medium All 
                            span.checkmark
                        span.number-item 198
                    li 
                        label.cb-container
                            input(type='checkbox')
                            span.text-sm-medium Sedans
                            span.checkmark
                        span.number-item 32
                    li 
                        label.cb-container
                            input(type='checkbox')
                            span.text-sm-medium SUVs 
                            span.checkmark
                        span.number-item 13
                    li 
                        label.cb-container
                            input(type='checkbox')
                            span.text-sm-medium Coupes
                            span.checkmark
                        span.number-item 23
                    li 
                        label.cb-container
                            input(type='checkbox')
                            span.text-sm-medium Hatchbacks
                            span.checkmark
                        span.number-item 35
                    li 
                        label.cb-container
                            input(type='checkbox')
                            span.text-sm-medium Convertibles
                            span.checkmark
                        span.number-item 56
                    li 
                        label.cb-container
                            input(type='checkbox')
                            span.text-sm-medium Trucks
                            span.checkmark
                        span.number-item 76

                .box-see-more.mt-20.mb-25 
                    a.link-see-more(href="#") See more 
                        svg(width='8', height='6', viewbox='0 0 8 6', fill='none', xmlns='http://www.w3.org/2000/svg')
                            path(d='M7.89553 1.02367C7.75114 0.870518 7.50961 0.864815 7.35723 1.00881L3.9998 4.18946L0.642774 1.00883C0.490387 0.86444 0.249236 0.870534 0.104474 1.02369C-0.0402885 1.17645 -0.0338199 1.4176 0.118958 1.56236L3.73809 4.99102C3.81123 5.06036 3.90571 5.0954 3.9998 5.0954C4.0939 5.0954 4.18875 5.06036 4.26191 4.99102L7.88104 1.56236C8.03382 1.41758 8.04029 1.17645 7.89553 1.02367Z', fill='')

.sidebar-left.border-1.background-body 
    .box-filters-sidebar 
        .block-filter.border-1 
            h6.text-lg-bold.item-collapse.neutral-1000 Car Amenities
            .box-collapse.scrollFilter
                ul.list-filter-checkbox 
                    li 
                        label.cb-container
                            input(type='checkbox')
                            span.text-sm-medium All
                            span.checkmark
                        span.number-item 32
                    li 
                        label.cb-container
                            input(type='checkbox')
                            span.text-sm-medium Leather upholstery
                            span.checkmark
                        span.number-item 13
                    li 
                        label.cb-container
                            input(type='checkbox')
                            span.text-sm-medium Heated seats
                            span.checkmark
                        span.number-item 23
                    li 
                        label.cb-container
                            input(type='checkbox')
                            span.text-sm-medium Sunroof/Moonroof
                            span.checkmark
                        span.number-item 23
                    li 
                        label.cb-container
                            input(type='checkbox')
                            span.text-sm-medium Keyless entry/start
                            span.checkmark
                        span.number-item 35
                    li 
                        label.cb-container
                            input(type='checkbox')
                            span.text-sm-medium Heads-up display
                            span.checkmark
                        span.number-item 56
                    li 
                        label.cb-container
                            input(type='checkbox')
                            span.text-sm-medium Adaptive cruise control
                            span.checkmark
                        span.number-item 76
                .box-see-more.mt-20.mb-25 
                    a.link-see-more(href="#") See more 
                        svg(width='8', height='6', viewbox='0 0 8 6', fill='none', xmlns='http://www.w3.org/2000/svg')
                            path(d='M7.89553 1.02367C7.75114 0.870518 7.50961 0.864815 7.35723 1.00881L3.9998 4.18946L0.642774 1.00883C0.490387 0.86444 0.249236 0.870534 0.104474 1.02369C-0.0402885 1.17645 -0.0338199 1.4176 0.118958 1.56236L3.73809 4.99102C3.81123 5.06036 3.90571 5.0954 3.9998 5.0954C4.0939 5.0954 4.18875 5.06036 4.26191 4.99102L7.88104 1.56236C8.03382 1.41758 8.04029 1.17645 7.89553 1.02367Z', fill='')

.sidebar-left.border-1.background-body 
    .box-filters-sidebar 
        .block-filter.border-1 
            h6.text-lg-bold.item-collapse.neutral-1000 Fuel Type
            .box-collapse.scrollFilter
                ul.list-filter-checkbox 
                    li 
                        label.cb-container
                            input(type='checkbox')
                            span.text-sm-medium All
                            span.checkmark
                        span.number-item 32
                    li 
                        label.cb-container
                            input(type='checkbox')
                            span.text-sm-medium Plug-in Hybrid (PHEV)
                            span.checkmark
                        span.number-item 13
                    li 
                        label.cb-container
                            input(type='checkbox')
                            span.text-sm-medium Hybrid (HEV)
                            span.checkmark
                        span.number-item 23
                    li 
                        label.cb-container
                            input(type='checkbox')
                            span.text-sm-medium Electric Vehicle (EV)
                            span.checkmark
                        span.number-item 23
                    li 
                        label.cb-container
                            input(type='checkbox')
                            span.text-sm-medium Diesel
                            span.checkmark
                        span.number-item 35
                    li 
                        label.cb-container
                            input(type='checkbox')
                            span.text-sm-medium Gasoline/Petrol
                            span.checkmark
                        span.number-item 56
                    li 
                        label.cb-container
                            input(type='checkbox')
                            span.text-sm-medium Hydrogen
                            span.checkmark
                        span.number-item 76

.sidebar-left.border-1.background-body 
    .box-filters-sidebar 
        .block-filter.border-1 
            h6.text-lg-bold.item-collapse.neutral-1000 Review Score 
            .box-collapse.scrollFilter
                ul.list-filter-checkbox 
                    li 
                        label.cb-container
                            input(type='checkbox')
                            span.text-sm-medium 
                                img(src="assets/imgs/template/icons/star-yellow.svg", alt="Travila")
                                img(src="assets/imgs/template/icons/star-yellow.svg", alt="Travila")
                                img(src="assets/imgs/template/icons/star-yellow.svg", alt="Travila")
                                img(src="assets/imgs/template/icons/star-yellow.svg", alt="Travila")
                                img(src="assets/imgs/template/icons/star-yellow.svg", alt="Travila")
                            span.checkmark
                    li 
                        label.cb-container
                            input(type='checkbox')
                            span.text-sm-medium 
                                img(src="assets/imgs/template/icons/star-yellow.svg", alt="Travila")
                                img(src="assets/imgs/template/icons/star-yellow.svg", alt="Travila")
                                img(src="assets/imgs/template/icons/star-yellow.svg", alt="Travila")
                                img(src="assets/imgs/template/icons/star-yellow.svg", alt="Travila")
                                img(src="assets/imgs/template/icons/star-grey.svg", alt="Travila")
                            span.checkmark
                    li 
                        label.cb-container
                            input(type='checkbox')
                            span.text-sm-medium 
                                img(src="assets/imgs/template/icons/star-yellow.svg", alt="Travila")
                                img(src="assets/imgs/template/icons/star-yellow.svg", alt="Travila")
                                img(src="assets/imgs/template/icons/star-yellow.svg", alt="Travila")
                                img(src="assets/imgs/template/icons/star-grey.svg", alt="Travila")
                                img(src="assets/imgs/template/icons/star-grey.svg", alt="Travila")
                            span.checkmark
                    li 
                        label.cb-container
                            input(type='checkbox')
                            span.text-sm-medium 
                                img(src="assets/imgs/template/icons/star-yellow.svg", alt="Travila")
                                img(src="assets/imgs/template/icons/star-yellow.svg", alt="Travila")
                                img(src="assets/imgs/template/icons/star-grey.svg", alt="Travila")
                                img(src="assets/imgs/template/icons/star-grey.svg", alt="Travila")
                                img(src="assets/imgs/template/icons/star-grey.svg", alt="Travila")
                            span.checkmark
                    li 
                        label.cb-container
                            input(type='checkbox')
                            span.text-sm-medium 
                                img(src="assets/imgs/template/icons/star-yellow.svg", alt="Travila")
                                img(src="assets/imgs/template/icons/star-grey.svg", alt="Travila")
                                img(src="assets/imgs/template/icons/star-grey.svg", alt="Travila")
                                img(src="assets/imgs/template/icons/star-grey.svg", alt="Travila")
                                img(src="assets/imgs/template/icons/star-grey.svg", alt="Travila")
                            span.checkmark
.sidebar-left.border-1.background-body 
    .box-filters-sidebar 
        .block-filter.border-1 
            h6.text-lg-bold.item-collapse.neutral-1000 Booking Location
            .box-collapse.scrollFilter
                ul.list-filter-checkbox 
                    li 
                        label.cb-container
                            input(type='checkbox')
                            span.text-sm-medium Maldives Haven
                            span.checkmark
                        span.number-item 198
                    li 
                        label.cb-container
                            input(type='checkbox')
                            span.text-sm-medium Santorini Retreat
                            span.checkmark
                        span.number-item 32
                    li 
                        label.cb-container
                            input(type='checkbox')
                            span.text-sm-medium Parisian Plaza
                            span.checkmark
                        span.number-item 13
                    li 
                        label.cb-container
                            input(type='checkbox')
                            span.text-sm-medium Tokyo Tower View
                            span.checkmark
                        span.number-item 23
                    li 
                        label.cb-container
                            input(type='checkbox')
                            span.text-sm-medium Caribbean Cove
                            span.checkmark
                        span.number-item 35
                    li 
                        label.cb-container
                            input(type='checkbox')
                            span.text-sm-medium Swiss Alps Lodge
                            span.checkmark
                        span.number-item 56
                    li 
                        label.cb-container
                            input(type='checkbox')
                            span.text-sm-medium New York Cityscape
                            span.checkmark
                        span.number-item 76
                    li 
                        label.cb-container
                            input(type='checkbox')
                            span.text-sm-medium Dubai Oasis
                            span.checkmark
                        span.number-item 76
                    li 
                        label.cb-container
                            input(type='checkbox')
                            span.text-sm-medium Barcelona Beachfront
                            span.checkmark
                        span.number-item 76
                    li 
                        label.cb-container
                            input(type='checkbox')
                            span.text-sm-medium London Luxe
                            span.checkmark
                        span.number-item 76
                .box-see-more 
                    a.link-see-more(href="#") See more 
                        svg(width='8', height='6', viewbox='0 0 8 6', fill='none', xmlns='http://www.w3.org/2000/svg')
                            path(d='M7.89553 1.02367C7.75114 0.870518 7.50961 0.864815 7.35723 1.00881L3.9998 4.18946L0.642774 1.00883C0.490387 0.86444 0.249236 0.870534 0.104474 1.02369C-0.0402885 1.17645 -0.0338199 1.4176 0.118958 1.56236L3.73809 4.99102C3.81123 5.06036 3.90571 5.0954 3.9998 5.0954C4.0939 5.0954 4.18875 5.06036 4.26191 4.99102L7.88104 1.56236C8.03382 1.41758 8.04029 1.17645 7.89553 1.02367Z', fill='')
                    