.sidebar 
    .sidebar-right.sidebar-search 
        .form-search 
            input.form-control(type="text", placeholder="Search...")
            button.btn.btn-search-black
    .sidebar-right.sidebar-text 
        h5.mb-15 About Us
        p.text-md.neutral-500 Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh. Cras mattis consectetur purus.
        .box-socials-commingsoon.mt-15 
            a.icon-socials.icon-facebook(href='#')
                img(alt='Travila', src='assets/imgs/template/icons/fb.svg')
            a.icon-socials.icon-instagram(href='#')
                img(alt='Travila', src='assets/imgs/template/icons/in.svg')
            a.icon-socials.icon-twitter(href='#')
                img(alt='Travila', src='assets/imgs/template/icons/tw.svg')
            a.icon-socials.icon-be(href='#')
                img(alt='Travila', src='assets/imgs/template/icons/be.svg')
    .sidebar-right.sidebar-posts 
        h5.mb-15 Popular Posts
        ul.list-popular-posts 
            li 
                .card-post.background-card 
                    .card-image 
                        img(alt='Travila', src='assets/imgs/page/blog/post.png')
                    .card-info 
                        a(href="#")
                            h6.text-18-semibold 25 easy step-by-step tutorials to make cool drawings
                        span.date-post 16 October 2024
            li 
                .card-post.background-card 
                    .card-image 
                        img(alt='Travila', src='assets/imgs/page/blog/post2.png')
                    .card-info 
                        a(href="#")
                            h6.text-18-semibold 25 easy step-by-step tutorials to make cool drawings
                        span.date-post 16 October 2024
            li 
                .card-post.background-card 
                    .card-image 
                        img(alt='Travila', src='assets/imgs/page/blog/post3.png')
                    .card-info 
                        a(href="#")
                            h6.text-18-semibold 25 easy step-by-step tutorials to make cool drawings
                        span.date-post 16 October 2024
            li 
                .card-post.background-card 
                    .card-image 
                        img(alt='Travila', src='assets/imgs/page/blog/post4.png')
                    .card-info 
                        a(href="#")
                            h6.text-18-semibold 25 easy step-by-step tutorials to make cool drawings
                        span.date-post 16 October 2024
    .sidebar-right.sidebar-posts 
        h5.mb-15 Categories 
        ul.list-categories 
            li 
                a(href="#") Teamwork (21)
            li 
                a(href="#") Ideas (19)
            li 
                a(href="#") Workspace (16)
            li 
                a(href="#") Coding (7)
            li 
                a(href="#") Meeting (12)
            li 
                a(href="#") Business Tips (14)
    .sidebar-right.sidebar-posts 
        h5.mb-15 Tags 
        .box-tags-sidebar 
            a.btn.btn-neutral-100(href="#") Technology
            a.btn.btn-neutral-100(href="#") Still Life
            a.btn.btn-neutral-100(href="#") Nature
            a.btn.btn-neutral-100(href="#") Blog
            a.btn.btn-neutral-100(href="#") Photography
            a.btn.btn-neutral-100(href="#") Workshop
            a.btn.btn-neutral-100(href="#") Business Day
            a.btn.btn-neutral-100(href="#") Urban
            a.btn.btn-neutral-100(href="#") Macro
            a.btn.btn-neutral-100(href="#") Landscape
    .sidebar-right.sidebar-posts 
        h5.mb-15 Categories 
        ul.list-categories 
            li 
                a(href="#") Teamwork (21)
            li 
                a(href="#") Ideas (19)
            li 
                a(href="#") Workspace (16)
            li 
                a(href="#") Coding (7)
            li 
                a(href="#") Meeting (12)
            li 
                a(href="#") Business Tips (14)
    .box-sidebar-normal
        a(href="#")
            img(src="assets/imgs/page/job/ads.png", alt="Travila")