section.section-box.box-logos.background-body
    .container.wow.fadeInUp 
        .box-swiper.mt-30
            .swiper-container.swiper-group-payment-7
                .swiper-wrapper
                    .swiper-slide
                        .item-logo-payment 
                            img(src="assets/imgs/page/homepage2/paypal.png", alt="Travila")
                    .swiper-slide
                        .item-logo-payment 
                            img(src="assets/imgs/page/homepage2/stripe.png", alt="Travila")
                    .swiper-slide
                        .item-logo-payment 
                            img(src="assets/imgs/page/homepage2/payoneer.png", alt="Travila")
                    .swiper-slide
                        .item-logo-payment 
                            img(src="assets/imgs/page/homepage2/visa.png", alt="Travila")
                    .swiper-slide
                        .item-logo-payment 
                            img(src="assets/imgs/page/homepage2/cashapp.png", alt="Travila")
                    .swiper-slide
                        .item-logo-payment 
                            img(src="assets/imgs/page/homepage2/bitcoin.png", alt="Travila")
                    .swiper-slide
                        .item-logo-payment 
                            img(src="assets/imgs/page/homepage2/discover.png", alt="Travila")