section.section-box.box-payments.box-payments-2.background-body
    .container 
        .row.align-items-center 
            .col-lg-7.mb-30.wow.fadeInUp
                .box-left-payment
                    span.btn.btn-tag Easy payment
                    h2.title-why.mb-25.mt-10.neutral-1000 Discover Dream Destinations with Ease
                    ul.list-check 
                        li Security Assurance
                        li Customer Support
                        li Transparent Policies
                        li Reputable Affiliations
                    .payment-method 
                        .box-swiper.mt-30
                            .swiper-container.swiper-group-payment
                                .swiper-wrapper
                                    .swiper-slide
                                        .btn.btn-payment
                                            img(src="assets/imgs/template/icons/paypal.png", alt="Travila")
                                    .swiper-slide
                                        .btn.btn-payment
                                            img(src="assets/imgs/template/icons/stripe.png", alt="Travila")
                                    .swiper-slide
                                        .btn.btn-payment
                                            img(src="assets/imgs/template/icons/mastercard.png", alt="Travila")
                                    .swiper-slide
                                        .btn.btn-payment
                                            img(src="assets/imgs/template/icons/skrill.png", alt="Travila")
            .col-lg-5.mb-30.text-center.text-lg-end.wow.fadeInUp
                .box-video-payment
                    .dot-payment 
                        img(src="assets/imgs/page/homepage4/dot-payment.png", alt="Travila")
                    .img-sm-payment 
                        img(src="assets/imgs/page/homepage4/img-payment-sm.png", alt="Travila")
                    .review-payment 
                        img.light-mode(src="assets/imgs/page/homepage4/img-review.png", alt="Travila")
                        img.dark-mode(src="assets/imgs/page/homepage4/img-review-dark.png", alt="Travila")
                    .card-video
                        .card-image
                            a.btn.btn-play.popup-youtube(href="https://www.youtube.com/watch?v=JXMWOmuR1hU")
                            img(src="assets/imgs/page/homepage4/img-payment.png", alt="Travila")