extends ../layouts/master.pug

block title
  title 404 - Modern Travel Tour Booking Template

block header
  include ../components/header.pug

block content
  include ../sections/404/content.pug
  include ../sections/homepage6/news.pug
  
block footer
  //- Footer
  include ../components/footer-5.pug

block scripts-custom
