extends ../layouts/master.pug

block title
  title Activities detail 4 - Modern Travel Tour Booking Template

block header
  include ../components/header.pug

block content
  include ../sections/activities-detail/breadcrumb.pug
  include ../sections/activities-detail-4/content.pug
  include ../sections/homepage1/news.pug
  include ../sections/homepage5/media.pug
  
block footer
  //- Footer
  include ../components/footer-5.pug

block scripts-custom
