extends ../layouts/master.pug

block title
  title Become Expert - Modern Travel Tour Booking Template

block header
  include ../components/header.pug

block content
  include ../sections/become/breadcrumb.pug
  include ../sections/become/banner.pug
  include ../sections/become/offer.pug
  include ../sections/become/how-it-work.pug
  include ../sections/become/why-choose-us.pug
  include ../sections/homepage4/install-app.pug
  include ../sections/homepage5/media.pug
  
block footer
  //- Footer
  include ../components/footer-5.pug

block scripts-custom
