extends ../layouts/master.pug

block title
  title Blog - Modern Travel Tour Booking Template

block header
  include ../components/header.pug

block content
  include ../sections/blog/breadcrumb.pug
  include ../sections/blog/next-trip.pug
  include ../sections/blog/blog-slide.pug
  include ../sections/blog/buttons.pug
  include ../sections/blog/news.pug
  include ../sections/blog/recent-post.pug
  include ../sections/homepage1/subscriber.pug
  include ../sections/homepage5/media.pug
  
block footer
  //- Footer
  include ../components/footer-5.pug

block scripts-custom
