extends ../layouts/master.pug

block title
  title Blog detail - Modern Travel Tour Booking Template

block header
  include ../components/header.pug

block content
  include ../sections/blog-detail/breadcrumb.pug
  include ../sections/blog-detail/content.pug
  include ../sections/blog-detail/you-might.pug
  include ../sections/homepage5/media.pug
  
block footer
  //- Footer
  include ../components/footer-5.pug

block scripts-custom
