extends ../layouts/master.pug

block title
  title Contact - Modern Travel Tour Booking Template

block header
  include ../components/header.pug

block content
  include ../sections/contact/breadcrumb.pug
  include ../sections/contact/location.pug
  include ../sections/contact/contact-form.pug
  include ../sections/contact/map.pug
  include ../sections/homepage7/testimonials.pug
  include ../sections/contact/support.pug
  include ../sections/homepage5/media.pug
  
block footer
  //- Footer
  include ../components/footer-5.pug

block scripts-custom
