extends ../layouts/master.pug

block title
  title Destination - Modern Travel Tour Booking Template

block header
  include ../components/header.pug

block content
  include ../sections/destination/breadcrumb.pug
  include ../sections/destination/banner.pug
  include ../sections/destination/best-places.pug
  include ../sections/destination/top-rate-hotel.pug
  include ../sections/destination/featured-tours.pug
  include ../sections/destination/rental-car.pug
  include ../sections/homepage10/skyward.pug
  include ../sections/destination/subscriber.pug
  include ../sections/homepage5/media.pug
  
block footer
  //- Footer
  include ../components/footer-5.pug

block scripts-custom
