extends ../layouts/master.pug

block title
  title Destination 6 - Modern Travel Tour Booking Template

block header
  include ../components/header.pug

block content
  include ../sections/destination-4/breadcrumb.pug
  include ../sections/destination-6/welcome-banner.pug
  include ../sections/destination-6/logos.pug
  include ../sections/destination-6/welcome-paris.pug
  include ../sections/destination-5/must-see.pug
  include ../sections/destination-4/travel-guide.pug
  include ../sections/destination-4/what-to-do.pug
  include ../sections/destination-4/top-hotel-paris.pug
  include ../sections/destination-4/top-activities-paris.pug
  include ../sections/destination-4/rental-car.pug
  include ../sections/homepage5/media.pug
  
block footer
  //- Footer
  include ../components/footer-5.pug

block scripts-custom
