extends ../layouts/master.pug

block title
  title Help Center - Modern Travel Tour Booking Template

block header
  include ../components/header.pug

block content
  include ../sections/help/breadcrumb.pug
  include ../sections/help/location.pug
  include ../sections/help/faq.pug
  include ../sections/help/contact-form.pug
  .pb-90.background-body
  include ../sections/homepage8/testimonials.pug
  .pb-30.background-body
  include ../sections/homepage5/media.pug
  
block footer
  //- Footer
  include ../components/footer-5.pug

block scripts-custom
