extends ../layouts/master.pug

block title
  title Hotel detail - Modern Travel Tour Booking Template

block header
  include ../components/header.pug

block content
  include ../sections/hotel-detail/breadcrumb.pug
  include ../sections/hotel-detail/banner.pug
  include ../sections/hotel-detail/numbers.pug
  include ../sections/hotel-detail/vision.pug
  include ../sections/hotel-detail/best-room.pug
  include ../sections/hotel-detail/how.pug
  include ../sections/hotel-detail/video.pug
  include ../sections/hotel-detail/testimonials.pug
  include ../sections/homepage5/media.pug
  
block footer
  //- Footer
  include ../components/footer-5.pug

block scripts-custom
