extends ../layouts/master.pug

block title
  title Travila - Modern Travel Tour Booking Template

block header
  include ../components/header.pug

block content
  include ../sections/homepage1/filter.pug
  include ../sections/homepage1/your-journey.pug
  include ../sections/homepage1/popular.pug
  include ../sections/homepage1/top-rate.pug
  include ../sections/homepage1/why-choose-us.pug
  include ../sections/homepage1/flight.pug
  include ../sections/homepage1/category.pug
  include ../sections/homepage1/payment.pug
  include ../sections/homepage1/testimonials.pug
  include ../sections/homepage1/news.pug
  include ../sections/homepage1/subscriber.pug
  
block footer
  //- Footer
  include ../components/footer.pug

block scripts-custom
