extends ../layouts/master.pug

block title
  title Home 2 - Modern Travel Tour Booking Template

block header
  include ../components/header.pug

block content
  include ../sections/homepage2/banner.pug
  include ../sections/homepage2/our-featured.pug
  include ../sections/homepage2/top-category.pug
  include ../sections/homepage2/2-banner.pug
  include ../sections/homepage2/top-rated.pug
  include ../sections/homepage2/payment.pug
  include ../sections/homepage2/why-travel.pug
  include ../sections/homepage2/recent-launched-car.pug
  include ../sections/homepage2/testimonials.pug
  include ../sections/homepage1/news.pug
  
block footer
  //- Footer
  include ../components/footer-2.pug

block scripts-custom
