extends ../layouts/master.pug

block title
  title Home 5 - Modern Travel Tour Booking Template

block header
  include ../components/header-3.pug

block content
  include ../sections/homepage5/banner.pug
  include ../sections/homepage5/partner.pug
  include ../sections/homepage5/tour-attractive.pug
  include ../sections/homepage5/travel-by-activities.pug
  include ../sections/homepage5/new-year.pug
  include ../sections/homepage5/why-book.pug
  include ../sections/homepage5/category-grid.pug
  include ../sections/homepage3/flight.pug
  include ../sections/homepage1/testimonials.pug

  include ../sections/homepage5/news.pug
  include ../sections/homepage5/logos.pug
  include ../sections/homepage1/subscriber.pug
  include ../sections/homepage5/media.pug
  
block footer
  //- Footer
  include ../components/footer-5.pug


block scripts-custom
