extends ../layouts/master.pug

block title
  title Home 4 - Modern Travel Tour Booking Template

block header
  include ../components/header-2.pug

block content
  include ../sections/homepage4/banner.pug
  include ../sections/homepage4/logos.pug
  include ../sections/homepage3/popular.pug
  include ../sections/homepage4/our-feature.pug
  include ../sections/homepage4/slide-banner.pug
  include ../sections/homepage4/how-it-work.pug
  include ../sections/homepage4/testimonials.pug
  include ../sections/homepage4/payment.pug
  include ../sections/homepage4/popular-spot.pug

  include ../sections/homepage1/news.pug
  include ../sections/homepage4/install-app.pug
  
block footer
  //- Footer
  include ../components/footer-4.pug


block scripts-custom
