extends ../layouts/master.pug

block title
  title Property detail - Modern Travel Tour Booking Template

block header
  include ../components/header.pug

block content
  include ../sections/property-detail/breadcrumb.pug
  include ../sections/property-detail/banner.pug
  include ../sections/property-detail/features.pug
  include ../sections/property-detail/content.pug
  include ../sections/property-detail/you-might.pug
  include ../sections/homepage5/media.pug
  
block footer
  //- Footer
  include ../components/footer-5.pug

block scripts-custom
