extends ../layouts/master.pug

block title
  title Rental car grid 3 - Modern Travel Tour Booking Template

block header
  include ../components/header.pug

block content
  include ../sections/rental-car/banner.pug
  include ../sections/hotel-grid-4/buttons.pug
  include ../sections/rental-car-3/content.pug
  include ../sections/rental-car-3/slide-logo.pug
  include ../sections/rental-car/our-services.pug
  include ../sections/homepage5/media.pug
  
block footer
  //- Footer
  include ../components/footer-5.pug

block scripts-custom
