extends ../layouts/master.pug

block title
  title Rental car detail - Modern Travel Tour Booking Template

block header
  include ../components/header.pug

block content
  include ../sections/rental-car-detail/breadcrumb.pug
  include ../sections/rental-car-detail/banner.pug
  include ../sections/rental-car-detail/content.pug
  include ../sections/homepage8/how-it-work.pug
  include ../sections/rental-car/our-services.pug
  include ../sections/homepage5/media.pug
  
block footer
  //- Footer
  include ../components/footer-5.pug

block scripts-custom
