extends ../layouts/master.pug

block title
  title Room detail 2 - Modern Travel Tour Booking Template

block header
  include ../components/header.pug

block content
  include ../sections/room-detail/breadcrumb.pug
  include ../sections/room-detail-2/banner.pug
  include ../sections/room-detail-2/features.pug
  include ../sections/room-detail/content.pug
  include ../sections/room-detail/you-might.pug
  include ../sections/homepage5/media.pug
  
block footer
  //- Footer
  include ../components/footer-5.pug

block scripts-custom
