extends ../layouts/master.pug

block title
  title Term - Modern Travel Tour Booking Template

block header
  include ../components/header.pug

block content
  include ../sections/term/breadcrumb.pug
  include ../sections/term/content.pug
  include ../sections/homepage5/media.pug
  
block footer
  //- Footer
  include ../components/footer-5.pug

block scripts-custom
