extends ../layouts/master.pug

block title
  title Tickets list - Modern Travel Tour Booking Template

block header
  include ../components/header.pug

block content
  include ../sections/tickets/banner.pug
  include ../sections/hotel-grid-4/buttons.pug
  include ../sections/tickets-2/content.pug
  include ../sections/tickets/slide-logo.pug
  .pb-90.background-body
  include ../sections/homepage10/how-it-work.pug
  .pb-90.background-body
  include ../sections/homepage5/media.pug
  
block footer
  //- Footer
  include ../components/footer-5.pug

block scripts-custom
