section.section-box.box-our-services.background-body
    .container
        .row.align-items-end
            .col-lg-8.col-md-8.mb-30.text-center.text-lg-start.wow.fadeInUp 
                h2.neutral-1000 Our Services
                p.text-xl-medium.neutral-500 Just 4 easy and quick steps
            .col-lg-4.col-md-4.mb-30.wow.fadeInUp 
                .d-flex.justify-content-center.justify-content-md-end
                    a.btn.btn-black-lg(href="#") View More 
                        svg(width='16', height='16', viewbox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                            path(d='M8 15L15 8L8 1M15 8L1 8', stroke='', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
        .box-list-featured 
            .row
                -
                    const spotsLists = [
                        {
                            index: "1",
                            image: "assets/imgs/page/homepage8/service.png",
                            title: 'Chauffeur Hailing',
                            link: 'rental-detail.html'

                        },
                        {
                            index: "2",
                            image: "assets/imgs/page/homepage8/service2.png",
                            title: 'Airport Transfer',
                            link: 'rental-detail.html'
                        },
                        {
                            index: "3",
                            image: "assets/imgs/page/homepage8/service3.png",
                            title: 'Corporate Fleet',
                            link: 'rental-detail.html'
                        },
                        {
                            index: "1",
                            image: "assets/imgs/page/homepage8/service4.png",
                            title: 'One-Way Rentals',
                            link: 'rental-detail.html'

                        }
                    ]
                each item in spotsLists
                    .col-xl-3.col-lg-4.col-md-6.wow.fadeInDown
                        .card-spot.background-card 
                            .card-image 
                                a(href= item.link)
                                    img(src= item.image, alt="Travila")
                            .card-info.background-card 
                                .card-left
                                    .card-title 
                                        a.text-lg-bold.neutral-1000(href= item.link)= item.title 
                                    .card-desc 
                                        a.text-sm.neutral-500(href="#") 17 services
                                .card-right 
                                    .card-button 
                                        a(href="rental-detail.html") 
                                            svg(width='10', height='10', viewbox='0 0 10 10', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                path(d='M5.00011 9.08347L9.08347 5.00011L5.00011 0.916748M9.08347 5.00011L0.916748 5.00011', stroke='', stroke-linecap='round', stroke-linejoin='round')