section.section-box.box-banner-home2.box-banner-home5-search.background-body
    .box-banner-home5.background-3
        .container 
            .block-banner-home5
                .row.align-items-center 
                    .col-xl-6.col-lg-7.wow.fadeInUp
                        h1.mt-20.mb-35.neutral-1000 
                            span Begin Your 
                            br.d-none.d-lg-block 
                            | Fantastic Travel Experience 
                            span Here
                        h6.heading-6-medium.neutral-500.mb-30 Discover handcrafted travel experiences that blend adventure and luxury, creating memories that last a lifetime
                        .box-buttons-banner 
                            a.btn.btn-brand-secondary(href="#") Discover Now
                            a.btn.btn-how-work.popup-youtube(href="https://www.youtube.com/watch?v=JXMWOmuR1hU")
                                img(src="assets/imgs/page/homepage5/play.svg", alt="Travila")
                                | How It Work?
                        
                .box-image-banner-home5.wow.fadeInUp
                    img(src="assets/imgs/page/homepage5/banner.png", alt="Travila")

    .container 
        include ../../elements/box-search-1.pug