section.section-box.box-banner-home3.background-body
    .container 
        .box-swiper.mt-30
            .swiper-container.swiper-group-1
                .swiper-wrapper
                    .swiper-slide
                        .item-banner-box
                            .item-banner-box-inner 
                                span.btn.btn-brand-secondary Luxury Travel Redefined
                                h2.mt-20.mb-20 Your Passport to 
                                    br.d-none.d-lg-block 
                                    | Global Glamour
                                ul.list-disc 
                                    li Personalized Travel Experiences
                                    li Expert Destination Knowledge
                                    li Exceptional Customer Service
                                .download-apps 
                                    a(href="#")
                                        img(src="assets/imgs/template/googleplay.png", alt="Travila")
                                    a(href="#")
                                        img(src="assets/imgs/template/appstore.png", alt="Travila")
                    .swiper-slide
                        .item-banner-box 
                            .item-banner-box-inner 
                                span.btn.btn-brand-secondary Luxury Travel Redefined
                                h2.mt-20.mb-20 Your Passport to 
                                    br.d-none.d-lg-block 
                                    | Global Glamour
                                ul.list-disc 
                                    li Personalized Travel Experiences
                                    li Expert Destination Knowledge
                                    li Exceptional Customer Service
                                .download-apps 
                                    a(href="#")
                                        img(src="assets/imgs/template/googleplay.png", alt="Travila")
                                    a(href="#")
                                        img(src="assets/imgs/template/appstore.png", alt="Travila")
                    .swiper-slide
                        .item-banner-box 
                            .item-banner-box-inner 
                                span.btn.btn-brand-secondary Luxury Travel Redefined
                                h2.mt-20.mb-20 Your Passport to 
                                    br.d-none.d-lg-block 
                                    | Global Glamour
                                ul.list-disc 
                                    li Personalized Travel Experiences
                                    li Expert Destination Knowledge
                                    li Exceptional Customer Service
                                .download-apps
                                    a(href="#")
                                        img(src="assets/imgs/template/googleplay.png", alt="Travila")
                                    a(href="#")
                                        img(src="assets/imgs/template/appstore.png", alt="Travila")
                .swiper-pagination.swiper-pagination-group-1.swiper-pagination-style-1

        include ../../elements/box-search-2.pug