section.section-box.box-popular-destinations.background-body
    .container 
        .text-center 
            h4.neutral-1000.wow.fadeInUp Popular Destinations
            p.text-xl-medium.neutral-500.wow.fadeInUp Navigate the Globe with Confidence

        .box-swiper.box-swiper-pd.mt-30.wow.fadeInDown
            .swiper-container.swiper-group-8
                .swiper-wrapper
                    -
                        const itemPopLists = [
                            {
                                image: "assets/imgs/page/homepage3/eiffel-tower.png",
                                title: 'Eiffel Tower',
                                desc: "356 Tours",

                            },
                            {
                                image: "assets/imgs/page/homepage3/MachuPicchu.png",
                                title: 'Machu Picchu',
                                desc: "356 Tours",

                            },
                            {
                                image: "assets/imgs/page/homepage3/GreatWall.png",
                                title: 'Great Wall',
                                desc: "356 Tours",

                            },
                            {
                                image: "assets/imgs/page/homepage3/StatueofLiberty.png",
                                title: 'Statue of Liberty',
                                desc: "356 Tours",

                            },
                            {
                                image: "assets/imgs/page/homepage3/TajMahal.png",
                                title: 'Taj Mahal',
                                desc: "356 Tours",

                            },
                            {
                                image: "assets/imgs/page/homepage3/OperaHouse.png",
                                title: 'Opera House',
                                desc: "356 Tours",

                            },
                            {
                                image: "assets/imgs/page/homepage3/Colosseum.png",
                                title: 'Colosseum',
                                desc: "356 Tours",

                            },
                            {
                                image: "assets/imgs/page/homepage3/GrandCanyon.png",
                                title: 'Grand Canyon',
                                desc: "356 Tours",

                            }
                        ]
                    each item in itemPopLists
                        .swiper-slide
                            .card-popular-destination
                                .card-image 
                                    img(src= item.image, alt="Travila")
                                .card-info 
                                    a.text-sm-bold(href="destination.html")= item.title
                                    p.text-xs.neutral-500= item.desc

            .swiper-button-prev.swiper-button-prev-style-1.swiper-button-prev-group-8
                svg(xmlns='http://www.w3.org/2000/svg', width='16', height='16', viewbox='0 0 16 16', fill='none')
                    path(d='M7.99992 3.33325L3.33325 7.99992M3.33325 7.99992L7.99992 12.6666M3.33325 7.99992H12.6666', stroke='', stroke-linecap='round', stroke-linejoin='round')
            .swiper-button-next.swiper-button-next-style-1.swiper-button-next-group-8
                svg(xmlns='http://www.w3.org/2000/svg', width='16', height='16', viewbox='0 0 16 16', fill='none')
                    path(d='M7.99992 12.6666L12.6666 7.99992L7.99992 3.33325M12.6666 7.99992L3.33325 7.99992', stroke='', stroke-linecap='round', stroke-linejoin='round')    