section.section-box.box-section6-home3.background-body
    .container 
        .row.align-items-end 
            .col-xl-3.col-lg-4.col-md-6.wow.fadeInUp
                .card-support 
                    .card-info 
                        h6 24/7 Support
                        p.text-sm-medium We are here to help, before, during, and even after your trip.
                    .card-image 
                        img(src="assets/imgs/page/homepage3/support.png", alt="Travila")
                        img(src="assets/imgs/page/homepage3/support2.png", alt="Travila")
            .col-xl-4.col-lg-4.col-md-6
                .card-bestprice.wow.fadeInUp 
                    .card-info 
                        h6 Best Price
                        p.text-sm-medium Price match within 48 hours of order confirmation
                        a.btn.btn-brand-secondary(href="#") View More
                            svg(width='16', height='16', viewbox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(d='M8 15L15 8L8 1M15 8L1 8', stroke='black', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
                .card-explore.wow.fadeInUp 
                    .card-info 
                        p.text-md-bold Save your time!
                        h6 Explore, Book, Soar: Your Journey Awaits!
                        a.btn.btn-brand-secondary(href="#") View More
                            svg(width='16', height='16', viewbox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(d='M8 15L15 8L8 1M15 8L1 8', stroke='black', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
            .col-xl-5.col-lg-4.wow.fadeInUp
                .card-image-promotion 
                    .card-image 
                        img(src="assets/imgs/page/homepage3/img-travel.png", alt="Travila")
                    .card-info 
                        .box-price
                            .box-price-inner
                                span.text-price-1 SAVE 39%
                                span.text-price-2 $899
                                a.text-price-3(href='#') BOOK NOW
