section.section-box.box-become-video.background-body
    .container 
        .box-mw-824
            .text-center
                h2.mb-30.neutral-1000.wow.fadeInUp Invoice
        .row 
            .col-lg-10.col-md-12.mx-auto
                .invoice-info.border.rounded-4.p-5.neutral-1000
                    .invoice-header.mb-30
                        .row
                            .col-lg-4.col-md-6
                                .logo
                                    a(href='index.html')
                                        img(src='assets/imgs/template/logo.svg' alt='logo')
                                    p.invoice-addr-1.mt-10
                                        strong Invoice Numb:
                                        strong #985632
                                        br
                                        strong Invoice Data:
                                        |  Aug 27, 2024 
                                        br
                                        strong Due Data:
                                        |  Aug 27, 2024
                            .col-lg-4.col-md-6
                                .invoice-number
                                h6.invoice-title-1.mb-10 Invoice To
                                p.invoice-addr-1
                                    strong Travila Inc
                                    br
                                    | 205 North Michigan Avenue, Suite 810
                                    br
                                    | Chicago, 60601, USA
                                    br
                                    abbr(title='Phone') Phone:
                                    |  (+123) 456-7890
                                    br
                                    abbr(title='Email') Email: 
                                    | contact@Travila.com
                                    br
                            .col-lg-4.col-md-6
                                .invoice-number
                                    h6.invoice-title-1.mb-10 Bill To
                                    p.invoice-addr-1
                                        strong Webz Poland
                                        br
                                        | Madalinskiego 8
                                        br
                                        | 1-101 Szczecin, Poland
                                        br
                                        abbr(title='Phone') Phone:
                                        |  +48 444 666 3333
                                        br
                                        abbr(title='Email') Email: 
                                        | nfo@webz.com.pl
                                        br
                    .invoice-center
                        .table-responsive
                            table.table.table-striped.invoice-table
                                thead.bg-active
                                tr
                                    th Item Name
                                    th.text-center Unit Price
                                    th.text-center Quantity
                                    th.text-right Amount
                                tbody
                                tr
                                    td
                                        .item-desc-1
                                            span 1-Hour Bay Cruise by Boat in San Francisco 
                                            small SKU: FWM15VKT
                                    td.text-center $10.99
                                    td.text-center 1
                                    td.text-right $10.99
                                tr
                                    td
                                        .item-desc-1
                                            span New York City: Manhattan Island Helicopter Tour
                                            small SKU: FWM15VKT
                                    td.text-center $20.00
                                    td.text-center 3
                                    td.text-right $60.00
                                tr
                                    td
                                        .item-desc-1
                                            span Oahu: Private Surfing Lesson in Waikiki Beach
                                            small SKU: KVM15VK
                                    td.text-center $640.00
                                    td.text-center 1
                                    td.text-right $640.00
                                tr
                                    td
                                        .item-desc-1
                                            span Top of the Rock Observation Deck Ticket
                                            small SKU: 98HFG
                                    td.text-center $240.00
                                    td.text-center 1
                                    td.text-right $240.00
                                tr
                                    td.text-end.f-w-600(colspan='3') SubTotal
                                    td.text-right $1710.99
                                tr
                                    td.text-end.f-w-600(colspan='3') Tax
                                    td.text-right $85.99
                                tr
                                    td.text-end.f-w-600(colspan='3') Grand Total
                                    td.text-right.f-w-600 $1795.99
                    .invoice-bottom.pb-80
                        .row
                            .col-md-6
                                h6.mb-15 Bank Transfer
                                p.font-sm
                                    strong Account Name:
                                    |  AliThemes
                                    br
                                    strong Account Number:
                                    |  01256398
                                    br
                                    strong Swift Code:
                                    |  BFTV VNVXS
                            .col-md-6.text-end
                                .fw-bold.mb-15 Total Amount
                                h6.mt-0.mb-0 $1795.99
                                p.mb-0.text-muted Taxes Included
                        .row.text-center
                            .hr.mt-30.mb-30
                            p.mb-0
                                strong Note:
                                | This is computer generated receipt and does not require physical signature.