section.section-box.box-top-rated.background-3
    .container 
        .row.align-items-end
            .col-md-9 
                h2.neutral-1000 Top Rated Hotels
                p.text-xl-medium.neutral-500 Quality as judged by customers. Book at the ideal price!
            .col-md-3.position-relative.mb-30
                .box-button-slider.box-button-slider-team.justify-content-end
                    .swiper-button-prev.swiper-button-prev-style-1.swiper-button-prev-animate
                        svg(xmlns='http://www.w3.org/2000/svg', width='16', height='16', viewbox='0 0 16 16', fill='none')
                            path(d='M7.99992 3.33325L3.33325 7.99992M3.33325 7.99992L7.99992 12.6666M3.33325 7.99992H12.6666', stroke='', stroke-linecap='round', stroke-linejoin='round')
                    .swiper-button-next.swiper-button-next-style-1.swiper-button-next-animate
                        svg(xmlns='http://www.w3.org/2000/svg', width='16', height='16', viewbox='0 0 16 16', fill='none')
                            path(d='M7.99992 12.6666L12.6666 7.99992L7.99992 3.33325M12.6666 7.99992L3.33325 7.99992', stroke='', stroke-linecap='round', stroke-linejoin='round')

    .container-slider.box-swiper-padding
        .box-swiper.mt-30
            .swiper-container.swiper-group-animate.swiper-group-journey
                .swiper-wrapper
                    -
                        const item3Lists = [
                            {
                                image: "assets/imgs/page/homepage1/journey2.png",
                                title: 'California Sunset/Twilight Boat Cruise ',
                                location: 'Manchester, England',
                                price: '$48.25',
                                link: 'hotel-detail.html'

                            },
                            {
                                image: "assets/imgs/page/homepage1/journey3.png",
                                title: 'NYC: Food Tastings and Culture Tour',
                                location: 'Manchester, England',
                                price: '$17.32',
                                link: 'hotel-detail.html'
                            },
                            {
                                image: "assets/imgs/page/homepage1/journey4.png",
                                title: 'Grand Canyon Horseshoe Bend  2 days',
                                location: 'Manchester, England',
                                price: '$15.63',
                                link: 'hotel-detail.html'
                            }
                        ]
                    each item in item3Lists
                        .swiper-slide
                            .card-journey-small.background-card 
                                .card-image 
                                    a.wish(href="#")
                                        svg(width='20', height='18', viewbox='0 0 20 18', fill='none', xmlns='http://www.w3.org/2000/svg')
                                            path(d='M17.071 10.1422L11.4141 15.7991C10.6331 16.5801 9.36672 16.5801 8.58568 15.7991L2.92882 10.1422C0.9762 8.1896 0.9762 5.02378 2.92882 3.07116C4.88144 1.11853 8.04727 1.11853 9.99989 3.07116C11.9525 1.11853 15.1183 1.11853 17.071 3.07116C19.0236 5.02378 19.0236 8.1896 17.071 10.1422Z', stroke='', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
                                    img(src= item.image, alt="Travila")
                                .card-info 
                                    .card-rating 
                                        .card-left 
                                        .card-right 
                                            span.rating 4.96 
                                                span.text-sm-medium.neutral-500 (672 reviews)

                                    .card-title 
                                        a.heading-6.neutral-1000(href= item.link)= item.title 
                                    .card-program 
                                        .card-location 
                                            p.text-location.text-md-medium.neutral-500= item.location
                                            p.text-star 
                                                img.light-mode(src="assets/imgs/template/icons/star-black.svg", alt="Travila")
                                                img.light-mode(src="assets/imgs/template/icons/star-black.svg", alt="Travila")
                                                img.light-mode(src="assets/imgs/template/icons/star-black.svg", alt="Travila")
                                                img.light-mode(src="assets/imgs/template/icons/star-black.svg", alt="Travila")
                                                img.light-mode(src="assets/imgs/template/icons/star-black.svg", alt="Travila")
                                                img.dark-mode(src="assets/imgs/template/icons/star-w.svg", alt="Travila")
                                                img.dark-mode(src="assets/imgs/template/icons/star-w.svg", alt="Travila")
                                                img.dark-mode(src="assets/imgs/template/icons/star-w.svg", alt="Travila")
                                                img.dark-mode(src="assets/imgs/template/icons/star-w.svg", alt="Travila")
                                                img.dark-mode(src="assets/imgs/template/icons/star-w.svg", alt="Travila")
                                        .endtime 
                                            .card-price 
                                                h6.heading-6.neutral-1000= item.price
                                                p.text-md-medium.neutral-500 / person
                                            .card-button 
                                                a.btn.btn-gray(href="hotel-detail.html") Book Now
                                