section.section-box.box-flights-type-2.background-body
    .container 
        .text-center.wow.fadeInUp
            h2.neutral-1000.mb-15 Flight Offer Deals
            p.text-xl-medium.neutral-500 Competitive fares for your route-specific searches.

        .block-flights.wow.fadeInDown 
            .container-slider
                .box-swiper.mt-30
                    .swiper-container.swiper-group-2.swiper-group-journey
                        .swiper-wrapper
                            .swiper-slide
                                .card-flight.background-card 
                                    .card-image 
                                        a.wish(href="#")
                                            svg(width='20', height='18', viewbox='0 0 20 18', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                path(d='M17.071 10.1422L11.4141 15.7991C10.6331 16.5801 9.36672 16.5801 8.58568 15.7991L2.92882 10.1422C0.9762 8.1896 0.9762 5.02378 2.92882 3.07116C4.88144 1.11853 8.04727 1.11853 9.99989 3.07116C11.9525 1.11853 15.1183 1.11853 17.071 3.07116C19.0236 5.02378 19.0236 8.1896 17.071 10.1422Z', stroke='', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
                                        img(src="assets/imgs/page/homepage1/flight.png", alt="Travila")
                                    .card-info 
                                        .card-date
                                            span.date-1 09 Jun 2024
                                            span.line
                                            span.date-1 16 Jun 2024
                                        .card-route 
                                            h6.route-name.neutral-1000 Denmark
                                            span.icon-route
                                            h6.route-name.neutral-1000 New York
                                        .card-price 
                                            .card-price-1 
                                                p.text-md-medium Business
                                                h6.neutral-1000 $288.15
                                            .card-price-1 
                                                p.text-md-medium Business
                                                h6.neutral-1000 $288.15
                                        .card-meta 
                                            .card-seats 
                                                p.text-md-medium.neutral-500 18 Seats left
                                            .card-button 
                                                a.btn.btn-gray(href="book-ticket.html") Book Now

                                .card-flight.background-card 
                                    .card-image 
                                        a.wish(href="#")
                                            svg(width='20', height='18', viewbox='0 0 20 18', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                path(d='M17.071 10.1422L11.4141 15.7991C10.6331 16.5801 9.36672 16.5801 8.58568 15.7991L2.92882 10.1422C0.9762 8.1896 0.9762 5.02378 2.92882 3.07116C4.88144 1.11853 8.04727 1.11853 9.99989 3.07116C11.9525 1.11853 15.1183 1.11853 17.071 3.07116C19.0236 5.02378 19.0236 8.1896 17.071 10.1422Z', stroke='', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
                                        img(src="assets/imgs/page/homepage1/flight4.png", alt="Travila")
                                    .card-info 
                                        .card-date
                                            span.date-1 09 Jun 2024
                                            span.line
                                            span.date-1 16 Jun 2024
                                        .card-route 
                                            h6.route-name.neutral-1000 Denmark
                                            span.icon-route
                                            h6.route-name.neutral-1000 New York
                                        .card-price 
                                            .card-price-1 
                                                p.text-md-medium Business
                                                h6.neutral-1000 $288.15
                                            .card-price-1 
                                                p.text-md-medium Business
                                                h6.neutral-1000 $288.15
                                        .card-meta 
                                            .card-seats 
                                                p.text-md-medium.neutral-500 18 Seats left
                                            .card-button 
                                                a.btn.btn-gray(href="book-ticket.html") Book Now

                            .swiper-slide
                                .card-flight.background-card 
                                    .card-image 
                                        a.wish(href="#")
                                            svg(width='20', height='18', viewbox='0 0 20 18', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                path(d='M17.071 10.1422L11.4141 15.7991C10.6331 16.5801 9.36672 16.5801 8.58568 15.7991L2.92882 10.1422C0.9762 8.1896 0.9762 5.02378 2.92882 3.07116C4.88144 1.11853 8.04727 1.11853 9.99989 3.07116C11.9525 1.11853 15.1183 1.11853 17.071 3.07116C19.0236 5.02378 19.0236 8.1896 17.071 10.1422Z', stroke='', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
                                        img(src="assets/imgs/page/homepage1/flight2.png", alt="Travila")
                                    .card-info 
                                        .card-date
                                            span.date-1 09 Jun 2024
                                            span.line
                                            span.date-1 16 Jun 2024
                                        .card-route 
                                            h6.route-name.neutral-1000 Denmark
                                            span.icon-route
                                            h6.route-name.neutral-1000 New York
                                        .card-price 
                                            .card-price-1 
                                                p.text-md-medium Business
                                                h6.neutral-1000 $288.15
                                            .card-price-1 
                                                p.text-md-medium Business
                                                h6.neutral-1000 $288.15
                                        .card-meta 
                                            .card-seats 
                                                p.text-md-medium.neutral-500 18 Seats left
                                            .card-button 
                                                a.btn.btn-gray(href="book-ticket.html") Book Now

                                .card-flight.background-card 
                                    .card-image 
                                        a.wish(href="#")
                                            svg(width='20', height='18', viewbox='0 0 20 18', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                path(d='M17.071 10.1422L11.4141 15.7991C10.6331 16.5801 9.36672 16.5801 8.58568 15.7991L2.92882 10.1422C0.9762 8.1896 0.9762 5.02378 2.92882 3.07116C4.88144 1.11853 8.04727 1.11853 9.99989 3.07116C11.9525 1.11853 15.1183 1.11853 17.071 3.07116C19.0236 5.02378 19.0236 8.1896 17.071 10.1422Z', stroke='', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
                                        img(src="assets/imgs/page/homepage1/flight5.png", alt="Travila")
                                    .card-info 
                                        .card-date
                                            span.date-1 09 Jun 2024
                                            span.line
                                            span.date-1 16 Jun 2024
                                        .card-route 
                                            h6.route-name.neutral-1000 Denmark
                                            span.icon-route
                                            h6.route-name.neutral-1000 New York
                                        .card-price 
                                            .card-price-1 
                                                p.text-md-medium Business
                                                h6.neutral-1000 $288.15
                                            .card-price-1 
                                                p.text-md-medium Business
                                                h6.neutral-1000 $288.15
                                        .card-meta 
                                            .card-seats 
                                                p.text-md-medium.neutral-500 18 Seats left
                                            .card-button 
                                                a.btn.btn-gray(href="book-ticket.html") Book Now

                            .swiper-slide
                                .card-flight.background-card 
                                    .card-image 
                                        a.wish(href="#")
                                            svg(width='20', height='18', viewbox='0 0 20 18', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                path(d='M17.071 10.1422L11.4141 15.7991C10.6331 16.5801 9.36672 16.5801 8.58568 15.7991L2.92882 10.1422C0.9762 8.1896 0.9762 5.02378 2.92882 3.07116C4.88144 1.11853 8.04727 1.11853 9.99989 3.07116C11.9525 1.11853 15.1183 1.11853 17.071 3.07116C19.0236 5.02378 19.0236 8.1896 17.071 10.1422Z', stroke='', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
                                        img(src="assets/imgs/page/homepage1/flight3.png", alt="Travila")
                                    .card-info 
                                        .card-date
                                            span.date-1 09 Jun 2024
                                            span.line
                                            span.date-1 16 Jun 2024
                                        .card-route 
                                            h6.route-name.neutral-1000 Denmark
                                            span.icon-route
                                            h6.route-name.neutral-1000 New York
                                        .card-price 
                                            .card-price-1 
                                                p.text-md-medium Business
                                                h6.neutral-1000 $288.15
                                            .card-price-1 
                                                p.text-md-medium Business
                                                h6.neutral-1000 $288.15
                                        .card-meta 
                                            .card-seats 
                                                p.text-md-medium.neutral-500 18 Seats left
                                            .card-button 
                                                a.btn.btn-gray(href="book-ticket.html") Book Now

                                .card-flight.background-card 
                                    .card-image 
                                        a.wish(href="#")
                                            svg(width='20', height='18', viewbox='0 0 20 18', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                path(d='M17.071 10.1422L11.4141 15.7991C10.6331 16.5801 9.36672 16.5801 8.58568 15.7991L2.92882 10.1422C0.9762 8.1896 0.9762 5.02378 2.92882 3.07116C4.88144 1.11853 8.04727 1.11853 9.99989 3.07116C11.9525 1.11853 15.1183 1.11853 17.071 3.07116C19.0236 5.02378 19.0236 8.1896 17.071 10.1422Z', stroke='', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
                                        img(src="assets/imgs/page/homepage1/flight6.png", alt="Travila")
                                    .card-info 
                                        .card-date
                                            span.date-1 09 Jun 2024
                                            span.line
                                            span.date-1 16 Jun 2024
                                        .card-route 
                                            h6.route-name.neutral-1000 Denmark
                                            span.icon-route
                                            h6.route-name.neutral-1000 New York
                                        .card-price 
                                            .card-price-1 
                                                p.text-md-medium Business
                                                h6.neutral-1000 $288.15
                                            .card-price-1 
                                                p.text-md-medium Business
                                                h6.neutral-1000 $288.15
                                        .card-meta 
                                            .card-seats 
                                                p.text-md-medium.neutral-500 18 Seats left
                                            .card-button 
                                                a.btn.btn-gray(href="book-ticket.html") Book Now
                    .box-button-slider.box-button-slider-team.text-center
                        .swiper-button-prev.swiper-button-prev-style-1.swiper-button-prev-2
                            svg(xmlns='http://www.w3.org/2000/svg', width='16', height='16', viewbox='0 0 16 16', fill='none')
                                path(d='M7.99992 3.33325L3.33325 7.99992M3.33325 7.99992L7.99992 12.6666M3.33325 7.99992H12.6666', stroke='', stroke-linecap='round', stroke-linejoin='round')
                        .swiper-button-next.swiper-button-next-style-1.swiper-button-next-2
                            svg(xmlns='http://www.w3.org/2000/svg', width='16', height='16', viewbox='0 0 16 16', fill='none')
                                path(d='M7.99992 12.6666L12.6666 7.99992L7.99992 3.33325M12.6666 7.99992L3.33325 7.99992', stroke='', stroke-linecap='round', stroke-linejoin='round')