section.section-box.box-video-gallery
    .container 
        .text-center.wow.fadeInUp 
            .justify-content-center.d-flex.mb-5 
                span.btn.btn-brand-secondary Video Gallery
            h3.color-white Journey to the Most 
                br.d-none.d-lg-block
                | Beautiful Places on Earth

        .row.mt-65 
            .col-lg-5.wow.fadeInUp
                .card-video
                    .card-image
                        a.btn.btn-play.popup-youtube(href="https://www.youtube.com/watch?v=JXMWOmuR1hU")
                        img(src="assets/imgs/page/homepage3/video.png", alt="Travila")
            .col-lg-3.wow.fadeInUp
                .card-video.card-video-small
                    .card-image
                        a.btn.btn-play.popup-youtube(href="https://www.youtube.com/watch?v=JXMWOmuR1hU")
                        img(src="assets/imgs/page/homepage3/video2.png", alt="Travila")
                .card-video.card-video-small
                    .card-image
                        a.btn.btn-play.popup-youtube(href="https://www.youtube.com/watch?v=JXMWOmuR1hU")
                        img(src="assets/imgs/page/homepage3/video3.png", alt="Travila")
            .col-lg-4.wow.fadeInUp
                .card-video.card-video-small
                    .card-image
                        a.btn.btn-play.popup-youtube(href="https://www.youtube.com/watch?v=JXMWOmuR1hU")
                        img(src="assets/imgs/page/homepage3/video4.png", alt="Travila")
                .card-video.card-video-small
                    .card-image
                        a.btn.btn-play.popup-youtube(href="https://www.youtube.com/watch?v=JXMWOmuR1hU")
                        img(src="assets/imgs/page/homepage3/video5.png", alt="Travila")

        .d-flex.justify-content-center.mt-35.wow.fadeInUp
            a.btn.btn-brand-secondary(href="#") 
                svg.first(width='25', height='24', viewbox='0 0 25 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                    path(d='M4.5 4H6.5V6H4.5V4Z', stroke='', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
                    path(d='M4.5 18H6.5V20H4.5V18Z', stroke='', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
                    path(d='M18.5 4H20.5V6H18.5V4Z', stroke='', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
                    path(d='M18.5 11H20.5V13H18.5V11Z', stroke='', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
                    path(d='M11.5 11H13.5V13H11.5V11Z', stroke='', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
                    path(d='M4.5 11H6.5V13H4.5V11Z', stroke='', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
                    path(d='M11.5 4H13.5V6H11.5V4Z', stroke='', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
                    path(d='M11.5 18H13.5V20H11.5V18Z', stroke='', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
                    path(d='M18.5 18H20.5V20H18.5V18Z', stroke='', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
                | Load More Tours