section.box-section.box-contact-support.background-body
    .container 
        .box-footer-col-3 
            .footer-col-1
                .box-footer-help
                    img.light-mode(alt='Travila', src='assets/imgs/template/icons/help-w.svg')
                    img.dark-mode(alt='Travila', src='assets/imgs/page/homepage6/help.svg')
                    .box-info-support
                        p.text-md-medium.mb-5.neutral-1000 Need help? Call us
                        a.heading-6.phone-support.neutral-1000(href="tel:1-800-222-8888") 1-800-222-8888
            .footer-col-2
                .box-join
                    img.light-mode(alt='Travila', src='assets/imgs/template/icons/join-w.svg')
                    img.dark-mode(alt='Travila', src='assets/imgs/page/homepage6/join.svg')
                    span.neutral-1000 Join Travila Affiliate Program Today !
            .footer-col-3
                .box-send-message 
                    img.light-mode(alt='Travila', src='assets/imgs/template/icons/send-msg-w.svg')
                    img.dark-mode(alt='Travila', src='assets/imgs/page/homepage6/msg.svg')
                    .box-info-msg
                        p.text-xl-bold.neutral-1000 Send us a message
                        p.text-xs-medium.neutral-1000 Contact our agents about your booking, and we'll reply as soon as possible.