.section-box
    .container 
        .box-list-comments 
            .list-reviews 
                .row 
                    .col-lg-6 
                        .item-review.hover-up 
                            .head-review 
                                .author-review 
                                    img(src="assets/imgs/page/comment/avatar.png", alt="Travila")
                                    .author-info 
                                        p.text-lg-bold Jerome Bell
                                        p.text-sm-medium.neutral-500 December 4, 2024 at 3:12 pm
                                .rate-review 
                                    img(src="assets/imgs/page/comment/star-big.svg", alt="Travila")
                                    img(src="assets/imgs/page/comment/star-big.svg", alt="Travila")
                                    img(src="assets/imgs/page/comment/star-big.svg", alt="Travila")
                                    img(src="assets/imgs/page/comment/star-big.svg", alt="Travila")
                                    img(src="assets/imgs/page/comment/star-big.svg", alt="Travila")
                            .content-review 
                                p.text-sm-medium.neutral-800 The views from The High Roller were absolutely stunning! It's a fantastic way to see the Strip and the surrounding area. The cabins are spacious and comfortable, and the audio commentary adds an extra layer of enjoyment. Highly recommend!
                    .col-lg-6 
                        .item-review.hover-up 
                            .head-review 
                                .author-review 
                                    img(src="assets/imgs/page/comment/avatar2.png", alt="Travila")
                                    .author-info 
                                        p.text-lg-bold Ronald Richards
                                        p.text-sm-medium.neutral-500 December 4, 2024 at 3:12 pm
                                .rate-review 
                                    img(src="assets/imgs/page/comment/star-big.svg", alt="Travila")
                                    img(src="assets/imgs/page/comment/star-big.svg", alt="Travila")
                                    img(src="assets/imgs/page/comment/star-big.svg", alt="Travila")
                                    img(src="assets/imgs/page/comment/star-big.svg", alt="Travila")
                                    img(src="assets/imgs/page/comment/star-big.svg", alt="Travila")
                            .content-review 
                                p.text-sm-medium.neutral-800 The views from The High Roller were absolutely stunning! It's a fantastic way to see the Strip and the surrounding area. The cabins are spacious and comfortable, and the audio commentary adds an extra layer of enjoyment. Highly recommend!
                    .col-lg-6 
                        .item-review.hover-up 
                            .head-review 
                                .author-review 
                                    img(src="assets/imgs/page/comment/avatar3.png", alt="Travila")
                                    .author-info 
                                        p.text-lg-bold Leslie Alexander
                                        p.text-sm-medium.neutral-500 December 4, 2024 at 3:12 pm
                                .rate-review 
                                    img(src="assets/imgs/page/comment/star-big.svg", alt="Travila")
                                    img(src="assets/imgs/page/comment/star-big.svg", alt="Travila")
                                    img(src="assets/imgs/page/comment/star-big.svg", alt="Travila")
                                    img(src="assets/imgs/page/comment/star-big.svg", alt="Travila")
                                    img(src="assets/imgs/page/comment/star-big.svg", alt="Travila")
                            .content-review 
                                p.text-sm-medium.neutral-800 The views from The High Roller were absolutely stunning! It's a fantastic way to see the Strip and the surrounding area. The cabins are spacious and comfortable, and the audio commentary adds an extra layer of enjoyment. Highly recommend!
                    .col-lg-6 
                        .item-review.hover-up 
                            .head-review 
                                .author-review 
                                    img(src="assets/imgs/page/comment/avatar4.png", alt="Travila")
                                    .author-info 
                                        p.text-lg-bold Savannah Nguyen
                                        p.text-sm-medium.neutral-500 December 4, 2024 at 3:12 pm
                                .rate-review 
                                    img(src="assets/imgs/page/comment/star-big.svg", alt="Travila")
                                    img(src="assets/imgs/page/comment/star-big.svg", alt="Travila")
                                    img(src="assets/imgs/page/comment/star-big.svg", alt="Travila")
                                    img(src="assets/imgs/page/comment/star-big.svg", alt="Travila")
                                    img(src="assets/imgs/page/comment/star-big.svg", alt="Travila")
                            .content-review 
                                p.text-sm-medium.neutral-800 The views from The High Roller were absolutely stunning! It's a fantastic way to see the Strip and the surrounding area. The cabins are spacious and comfortable, and the audio commentary adds an extra layer of enjoyment. Highly recommend!
                    .col-lg-6 
                        .item-review.hover-up 
                            .head-review 
                                .author-review 
                                    img(src="assets/imgs/page/comment/avatar5.png", alt="Travila")
                                    .author-info 
                                        p.text-lg-bold Annette Black
                                        p.text-sm-medium.neutral-500 December 4, 2024 at 3:12 pm
                                .rate-review 
                                    img(src="assets/imgs/page/comment/star-big.svg", alt="Travila")
                                    img(src="assets/imgs/page/comment/star-big.svg", alt="Travila")
                                    img(src="assets/imgs/page/comment/star-big.svg", alt="Travila")
                                    img(src="assets/imgs/page/comment/star-big.svg", alt="Travila")
                                    img(src="assets/imgs/page/comment/star-big.svg", alt="Travila")
                            .content-review 
                                p.text-sm-medium.neutral-800 We had a fantastic time on The High Roller. The views were amazing, and the ride was very smooth. It's a great way to see Las Vegas from a different perspective. The staff were friendly and helpful. Definitely worth it! The High Roller was one of the highlights of our Las Vegas trip.
                    .col-lg-6 
                        .item-review.hover-up 
                            .head-review 
                                .author-review 
                                    img(src="assets/imgs/page/comment/avatar6.png", alt="Travila")
                                    .author-info 
                                        p.text-lg-bold Wade Warren
                                        p.text-sm-medium.neutral-500 December 4, 2024 at 3:12 pm
                                .rate-review 
                                    img(src="assets/imgs/page/comment/star-big.svg", alt="Travila")
                                    img(src="assets/imgs/page/comment/star-big.svg", alt="Travila")
                                    img(src="assets/imgs/page/comment/star-big.svg", alt="Travila")
                                    img(src="assets/imgs/page/comment/star-big.svg", alt="Travila")
                                    img(src="assets/imgs/page/comment/star-big.svg", alt="Travila")
                            .content-review 
                                p.text-sm-medium.neutral-800 We had a fantastic time on The High Roller. The views were amazing, and the ride was very smooth. It's a great way to see Las Vegas from a different perspective. The staff were friendly and helpful. Definitely worth it! The High Roller was one of the highlights of our Las Vegas trip.
                    .col-lg-6 
                        .item-review.hover-up 
                            .head-review 
                                .author-review 
                                    img(src="assets/imgs/page/comment/avatar7.png", alt="Travila")
                                    .author-info 
                                        p.text-lg-bold Brooklyn Simmons
                                        p.text-sm-medium.neutral-500 December 4, 2024 at 3:12 pm
                                .rate-review 
                                    img(src="assets/imgs/page/comment/star-big.svg", alt="Travila")
                                    img(src="assets/imgs/page/comment/star-big.svg", alt="Travila")
                                    img(src="assets/imgs/page/comment/star-big.svg", alt="Travila")
                                    img(src="assets/imgs/page/comment/star-big.svg", alt="Travila")
                                    img(src="assets/imgs/page/comment/star-big.svg", alt="Travila")
                            .content-review 
                                p.text-sm-medium.neutral-800 We had a fantastic time on The High Roller. The views were amazing, and the ride was very smooth. It's a great way to see Las Vegas from a different perspective. The staff were friendly and helpful. Definitely worth it! The High Roller was one of the highlights of our Las Vegas trip.
                    .col-lg-6 
                        .item-review.hover-up 
                            .head-review 
                                .author-review 
                                    img(src="assets/imgs/page/comment/avatar8.png", alt="Travila")
                                    .author-info 
                                        p.text-lg-bold Cody Fisher
                                        p.text-sm-medium.neutral-500 December 4, 2024 at 3:12 pm
                                .rate-review 
                                    img(src="assets/imgs/page/comment/star-big.svg", alt="Travila")
                                    img(src="assets/imgs/page/comment/star-big.svg", alt="Travila")
                                    img(src="assets/imgs/page/comment/star-big.svg", alt="Travila")
                                    img(src="assets/imgs/page/comment/star-big.svg", alt="Travila")
                                    img(src="assets/imgs/page/comment/star-big.svg", alt="Travila")
                            .content-review 
                                p.text-sm-medium.neutral-800 Took my family on The High Roller, and we all loved it! The kids were amazed by the views, and the adults enjoyed the experience just as much. It's suitable for all ages and definitely a highlight of our trip to Vegas. Don't miss your chance to see Las Vegas from a whole new perspective and create memories that will last a lifetime!
                    .col-lg-6 
                        .item-review.hover-up 
                            .head-review 
                                .author-review 
                                    img(src="assets/imgs/page/comment/avatar9.png", alt="Travila")
                                    .author-info 
                                        p.text-lg-bold Guy Hawkins
                                        p.text-sm-medium.neutral-500 December 4, 2024 at 3:12 pm
                                .rate-review 
                                    img(src="assets/imgs/page/comment/star-big.svg", alt="Travila")
                                    img(src="assets/imgs/page/comment/star-big.svg", alt="Travila")
                                    img(src="assets/imgs/page/comment/star-big.svg", alt="Travila")
                                    img(src="assets/imgs/page/comment/star-big.svg", alt="Travila")
                                    img(src="assets/imgs/page/comment/star-big.svg", alt="Travila")
                            .content-review 
                                p.text-sm-medium.neutral-800 Took my family on The High Roller, and we all loved it! The kids were amazed by the views, and the adults enjoyed the experience just as much. It's suitable for all ages and definitely a highlight of our trip to Vegas. Don't miss your chance to see Las Vegas from a whole new perspective and create memories that will last a lifetime!
                    .col-lg-6 
                        .item-review.hover-up 
                            .head-review 
                                .author-review 
                                    img(src="assets/imgs/page/comment/avatar9.png", alt="Travila")
                                    .author-info 
                                        p.text-lg-bold Darrell Steward
                                        p.text-sm-medium.neutral-500 December 4, 2024 at 3:12 pm
                                .rate-review 
                                    img(src="assets/imgs/page/comment/star-big.svg", alt="Travila")
                                    img(src="assets/imgs/page/comment/star-big.svg", alt="Travila")
                                    img(src="assets/imgs/page/comment/star-big.svg", alt="Travila")
                                    img(src="assets/imgs/page/comment/star-big.svg", alt="Travila")
                                    img(src="assets/imgs/page/comment/star-big.svg", alt="Travila")
                            .content-review 
                                p.text-sm-medium.neutral-800 Took my family on The High Roller, and we all loved it! The kids were amazed by the views, and the adults enjoyed the experience just as much. It's suitable for all ages and definitely a highlight of our trip to Vegas. Don't miss your chance to see Las Vegas from a whole new perspective and create memories that will last a lifetime!
            include ../../elements/pagination.pug