section.section-box.box-partners.background-body
    .container 
        .row.align-items-center 
            .col-lg-4.mb-20
                .box-authors-partner.background-9.wow.fadeInUp 
                    .authors-partner-left
                        img(src="assets/imgs/page/homepage5/author.png", alt="Travila")
                        img(src="assets/imgs/page/homepage5/author2.png", alt="Travila")
                        img(src="assets/imgs/page/homepage5/author3.png", alt="Travila")
                        span.item-author 
                            svg(width='18', height='18', viewbox='0 0 18 18', fill='none', xmlns='http://www.w3.org/2000/svg')
                                rect(x='0.5', y='7.448', width='17', height='2.31818', fill='black')
                                rect(x='7.84082', y='17.1072', width='17', height='2.31818', transform='rotate(-90 7.84082 17.1072)', fill='black')
                    .authors-partner-right
                        p.text-sm.neutral-1000 1684 people used 
                            strong Travila 
                            | in the last 
                            strong 24 hours

            .col-lg-8.mb-20.wow.fadeInUp
                .box-numbers-home7
                    .list-numbers.wow.fadeInUp 
                        .item-number.hover-up 
                            h3.neutral-1000 45+
                            p.text-lg-bold.neutral-500 Global
                                br
                                | Branches
                        .item-number.hover-up 
                            h3.neutral-1000 29K
                            p.text-lg-bold.neutral-500 Destinations
                                br
                                | Collaboration
                        .item-number.hover-up 
                            h3.neutral-1000 20+
                            p.text-lg-bold.neutral-500 Years
                                br
                                | Experience
                        .item-number.hover-up 
                            h3.neutral-1000 168K
                            p.text-lg-bold.neutral-500 Happy
                                br
                                | Customers