section.section-box.box-picked.background-body
    .container 
        .row.align-items-end
            .col-md-9.mb-30.wow.fadeInUp 
                h2.neutral-1000 Picked by Travila
                p.text-xl-medium.neutral-500 Quality as judged by customers. Book at the ideal price!
            .col-md-3.mb-30.wow.fadeInUp
                .d-flex.justify-content-center.justify-content-md-end
                    a.btn.btn-black-lg(href="activities.html") View More 
                        svg(width='16', height='16', viewbox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                            path(d='M8 15L15 8L8 1M15 8L1 8', stroke='', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')

        .box-videos-small.wow.fadeInUp
            .bg-video.background-2
            .row 
                .col-lg-7 
                    .card-grid-video 
                        .card-image
                            a.btn.btn-play.popup-youtube(href="https://www.youtube.com/watch?v=JXMWOmuR1hU") 
                            img.ml-10(src="assets/imgs/page/homepage7/img-video.png", alt="Travile") 
                        .card-info
                            h4 The Venetian and The Palazzo - Las Vegas, USA
                            p.text-md-medium 8 Resort. 24 rooms
                .col-lg-5
                    .list-videos-small 
                        .item-video-small 
                            .item-image
                                a.btn.btn-play-sm.popup-youtube(href="https://www.youtube.com/watch?v=JXMWOmuR1hU") 
                                img.ml-10(src="assets/imgs/page/homepage7/img-video.png", alt="Travile") 
                            .item-info 
                                a.heading-6(href="activities.html") The Burj Al Arab Dubai, UAE
                                p.text-md-medium.neutral-500 8 Resort. 24 rooms
                        .item-video-small 
                            .item-image
                                a.btn.btn-play-sm.popup-youtube(href="https://www.youtube.com/watch?v=JXMWOmuR1hU") 
                                img.ml-10(src="assets/imgs/page/homepage7/img-video2.png", alt="Travile") 
                            .item-info 
                                a.heading-6(href="activities.html") Wynn Las Vegas Las Vegas, USA
                                p.text-md-medium.neutral-500 8 Resort. 24 rooms
                        .item-video-small 
                            .item-image
                                a.btn.btn-play-sm.popup-youtube(href="https://www.youtube.com/watch?v=JXMWOmuR1hU") 
                                img.ml-10(src="assets/imgs/page/homepage7/img-video3.png", alt="Travile") 
                            .item-info 
                                a.heading-6(href="activities.html") MGM Grand Las Vegas, USA
                                p.text-md-medium.neutral-500 8 Resort. 24 rooms