.box-filters-sidebar 
    .block-filter.border-1 
        h6.text-lg-bold.item-collapse.neutral-1000 Filter Price 
        .box-collapse.scrollFilter 
            .pt-20
                .box-slider-range
                    #slider-range
                    .box-value-price
                        span.text-md-medium.neutral-1000 $0
                        span.text-md-medium.neutral-1000 $500
                    input.value-money(type="hidden")
    .block-filter.border-1 
        h6.text-lg-bold.item-collapse.neutral-1000 By Activities
        .box-collapse.scrollFilter
            ul.list-filter-checkbox 
                li 
                    label.cb-container
                        input(type='checkbox')
                        span.text-sm-medium All 
                        span.checkmark
                    span.number-item 198
                li 
                    label.cb-container
                        input(type='checkbox')
                        span.text-sm-medium City Tours
                        span.checkmark
                    span.number-item 32
                li 
                    label.cb-container
                        input(type='checkbox')
                        span.text-sm-medium Explore Ruins 
                        span.checkmark
                    span.number-item 13
                li 
                    label.cb-container
                        input(type='checkbox')
                        span.text-sm-medium Beach Snorkel 
                        span.checkmark
                    span.number-item 23
                li 
                    label.cb-container
                        input(type='checkbox')
                        span.text-sm-medium Mountain Trek
                        span.checkmark
                    span.number-item 35
                li 
                    label.cb-container
                        input(type='checkbox')
                        span.text-sm-medium Food Tour
                        span.checkmark
                    span.number-item 56
                li 
                    label.cb-container
                        input(type='checkbox')
                        span.text-sm-medium River Cruise
                        span.checkmark
                    span.number-item 76

    .block-filter.border-1 
        h6.text-lg-bold.item-collapse.neutral-1000 By Attractions
        .box-collapse.scrollFilter
            ul.list-filter-checkbox 
                li 
                    label.cb-container
                        input(type='checkbox')
                        span.text-sm-medium Machu Picchu 
                        span.checkmark
                    span.number-item 32
                li 
                    label.cb-container
                        input(type='checkbox')
                        span.text-sm-medium Great Wall
                        span.checkmark
                    span.number-item 13
                li 
                    label.cb-container
                        input(type='checkbox')
                        span.text-sm-medium Eiffel Tower
                        span.checkmark
                    span.number-item 23
                li 
                    label.cb-container
                        input(type='checkbox')
                        span.text-sm-medium Statue of Liberty
                        span.checkmark
                    span.number-item 23
                li 
                    label.cb-container
                        input(type='checkbox')
                        span.text-sm-medium Taj Mahal
                        span.checkmark
                    span.number-item 35
                li 
                    label.cb-container
                        input(type='checkbox')
                        span.text-sm-medium Taj Mahal
                        span.checkmark
                    span.number-item 56
                li 
                    label.cb-container
                        input(type='checkbox')
                        span.text-sm-medium Taj Mahal
                        span.checkmark
                    span.number-item 76
            .box-see-more 
                a.link-see-more(href="#") See more 
                    svg(width='8', height='6', viewbox='0 0 8 6', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M7.89553 1.02367C7.75114 0.870518 7.50961 0.864815 7.35723 1.00881L3.9998 4.18946L0.642774 1.00883C0.490387 0.86444 0.249236 0.870534 0.104474 1.02369C-0.0402885 1.17645 -0.0338199 1.4176 0.118958 1.56236L3.73809 4.99102C3.81123 5.06036 3.90571 5.0954 3.9998 5.0954C4.0939 5.0954 4.18875 5.06036 4.26191 4.99102L7.88104 1.56236C8.03382 1.41758 8.04029 1.17645 7.89553 1.02367Z', fill='')

    .block-filter.border-1 
        h6.text-lg-bold.item-collapse.neutral-1000 By Durations
        .box-collapse.scrollFilter
            ul.list-filter-checkbox 
                li 
                    label.cb-container
                        input(type='checkbox')
                        span.text-sm-medium 0 - 3 hours 
                        span.checkmark
                    span.number-item 98
                li 
                    label.cb-container
                        input(type='checkbox')
                        span.text-sm-medium 5-7 hours
                        span.checkmark
                    span.number-item 23
                li 
                    label.cb-container
                        input(type='checkbox')
                        span.text-sm-medium Full day
                        span.checkmark
                    span.number-item 16
                li 
                    label.cb-container
                        input(type='checkbox')
                        span.text-sm-medium Multi days
                        span.checkmark
                    span.number-item 87
    
    .block-filter.border-1 
        h6.text-lg-bold.item-collapse.neutral-1000 Review Score 
        .box-collapse.scrollFilter
            ul.list-filter-checkbox 
                li 
                    label.cb-container
                        input(type='checkbox')
                        span.text-sm-medium 
                            img(src="assets/imgs/template/icons/star-yellow.svg", alt="Travila")
                            img(src="assets/imgs/template/icons/star-yellow.svg", alt="Travila")
                            img(src="assets/imgs/template/icons/star-yellow.svg", alt="Travila")
                            img(src="assets/imgs/template/icons/star-yellow.svg", alt="Travila")
                            img(src="assets/imgs/template/icons/star-yellow.svg", alt="Travila")
                        span.checkmark
                li 
                    label.cb-container
                        input(type='checkbox')
                        span.text-sm-medium 
                            img(src="assets/imgs/template/icons/star-yellow.svg", alt="Travila")
                            img(src="assets/imgs/template/icons/star-yellow.svg", alt="Travila")
                            img(src="assets/imgs/template/icons/star-yellow.svg", alt="Travila")
                            img(src="assets/imgs/template/icons/star-yellow.svg", alt="Travila")
                            img(src="assets/imgs/template/icons/star-grey.svg", alt="Travila")
                        span.checkmark
                li 
                    label.cb-container
                        input(type='checkbox')
                        span.text-sm-medium 
                            img(src="assets/imgs/template/icons/star-yellow.svg", alt="Travila")
                            img(src="assets/imgs/template/icons/star-yellow.svg", alt="Travila")
                            img(src="assets/imgs/template/icons/star-yellow.svg", alt="Travila")
                            img(src="assets/imgs/template/icons/star-grey.svg", alt="Travila")
                            img(src="assets/imgs/template/icons/star-grey.svg", alt="Travila")
                        span.checkmark
                li 
                    label.cb-container
                        input(type='checkbox')
                        span.text-sm-medium 
                            img(src="assets/imgs/template/icons/star-yellow.svg", alt="Travila")
                            img(src="assets/imgs/template/icons/star-yellow.svg", alt="Travila")
                            img(src="assets/imgs/template/icons/star-grey.svg", alt="Travila")
                            img(src="assets/imgs/template/icons/star-grey.svg", alt="Travila")
                            img(src="assets/imgs/template/icons/star-grey.svg", alt="Travila")
                        span.checkmark
                li 
                    label.cb-container
                        input(type='checkbox')
                        span.text-sm-medium 
                            img(src="assets/imgs/template/icons/star-yellow.svg", alt="Travila")
                            img(src="assets/imgs/template/icons/star-grey.svg", alt="Travila")
                            img(src="assets/imgs/template/icons/star-grey.svg", alt="Travila")
                            img(src="assets/imgs/template/icons/star-grey.svg", alt="Travila")
                            img(src="assets/imgs/template/icons/star-grey.svg", alt="Travila")
                        span.checkmark
            
    .block-filter.border-1 
        h6.text-lg-bold.item-collapse.neutral-1000 By Language 
        .box-collapse.scrollFilter
            ul.list-filter-checkbox 
                li 
                    label.cb-container
                        input(type='checkbox')
                        span.text-sm-medium 0 - 3 hours 
                        span.checkmark
                    span.number-item 98
                li 
                    label.cb-container
                        input(type='checkbox')
                        span.text-sm-medium 5-7 hours
                        span.checkmark
                    span.number-item 23
                li 
                    label.cb-container
                        input(type='checkbox')
                        span.text-sm-medium Full day
                        span.checkmark
                    span.number-item 16
                li 
                    label.cb-container
                        input(type='checkbox')
                        span.text-sm-medium Multi days
                        span.checkmark
                    span.number-item 87
            .box-see-more 
                a.link-see-more(href="#") See more 
                    svg(width='8', height='6', viewbox='0 0 8 6', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M7.89553 1.02367C7.75114 0.870518 7.50961 0.864815 7.35723 1.00881L3.9998 4.18946L0.642774 1.00883C0.490387 0.86444 0.249236 0.870534 0.104474 1.02369C-0.0402885 1.17645 -0.0338199 1.4176 0.118958 1.56236L3.73809 4.99102C3.81123 5.06036 3.90571 5.0954 3.9998 5.0954C4.0939 5.0954 4.18875 5.06036 4.26191 4.99102L7.88104 1.56236C8.03382 1.41758 8.04029 1.17645 7.89553 1.02367Z', fill='')
                