section.section-box.box-become-video.background-body
    .container 
        .row 
            .col-lg-6.col-md-12.mx-auto
                .text-center.neutral-1000
                    img.mr-10(src="assets/imgs/page/pages/confirmation.svg", alt="Travila")           
                    h5.mt-15.mb-15.neutral-1000.wow.fadeInUp Thank you for your purchase
                    p.mb-50 
                        | Thank you for choosing us! Your purchase has been successfully processed, and we're excited to get your order to you soon.
                    .p-5.border.rounded-3 
                        .d-flex.align-items-end.mb-30.text-end.justify-content-end 
                            button.btn.btn-print.d-flex.gap-2                               
                                span Print
                        h6.mb-15.text-start  
                            | Order Information
                        .mt-15.pb-15.border-bottom 
                            .d-flex.w-100.justify-content-between 
                                p Order number
                                p Travila-2024-985EN
                        .mt-15.pb-15.border-bottom 
                            .d-flex.w-100.justify-content-between 
                                p Order date
                                p 24 January 2025
                        .mt-15.pb-15.border-bottom
                            .d-flex.w-100.justify-content-between 
                                p Customer
                                p Steven Jobs

                        h6.mb-15.mt-30.text-start  
                            | Payment Summary
                        .mt-15.pb-15.border-bottom 
                            .d-flex.w-100.justify-content-between 
                                p Total Amount Paid
                                p $4,980.00
                        .mt-15.pb-15.border-bottom 
                            .d-flex.w-100.justify-content-between 
                                p Payment Method
                                p Visa ending in ***6789

                        h6.mb-15.mt-30.text-start  
                            | Billing Details
                        .mt-15.pb-15.border-bottom 
                            .d-flex.w-100.justify-content-between 
                                p Billing Name
                                p Steven Jobs
                        .mt-15.pb-15.border-bottom 
                            .d-flex.w-100.justify-content-between 
                                p Billing Address
                                p.w-50.text-end 123 Maple Street, Apartment 5B, New York, NY 10001, USA
                        .mt-15.pb-15.border-bottom
                            .d-flex.w-100.justify-content-between 
                                p Billing Email
                                p johndoe@example.com
                        .mt-15.pb-15.border-bottom
                            .d-flex.w-100.justify-content-between 
                                p Billing Phone
                                p +1 555-123-4567
