section.section-box.box-blog-slide.background-body 
    .box-slide-blogs 
        .box-swiper
            .swiper-container.swiper-group-center-4
                .swiper-wrapper
                    .swiper-slide
                        .card-blog
                            .card-image
                                img(src="assets/imgs/page/blog/blog.png", alt="Travila")
                            .card-info
                                .card-info-blog
                                    a.btn.btn-label-tag(href="blog-grid-2.html") Cultural
                                    a.card-title.heading-5(href="blog-detail.html") Savoring Life’s Palette: Art, Food, and Beyond
                                    .card-meta-user
                                        .box-author-small 
                                            img(src="assets/imgs/page/homepage1/avatar.png", alt="Travilla")
                                            p.text-sm-bold By Jimmy Dave
                                        .date-post 
                                            p.text-sm-medium 12 January 2024
                    .swiper-slide
                        .card-blog
                            .card-image
                                img(src="assets/imgs/page/blog/blog2.png", alt="Travila")
                            .card-info
                                .card-info-blog
                                    a.btn.btn-label-tag(href="blog-grid-2.html") Wanderlust
                                    a.card-title.heading-5(href="") Savoring Life’s Palette: Art, Food, and Beyond
                                    .card-meta-user
                                        .box-author-small 
                                            img(src="assets/imgs/page/homepage1/avatar.png", alt="Travilla")
                                            p.text-sm-bold By Jimmy Dave
                                        .date-post 
                                            p.text-sm-medium 12 January 2024
                    .swiper-slide
                        .card-blog
                            .card-image
                                img(src="assets/imgs/page/blog/blog3.png", alt="Travila")
                            .card-info
                                .card-info-blog
                                    a.btn.btn-label-tag(href="blog-grid-2.html") Adventure
                                    a.card-title.heading-5(href="blog-detail.html") Canvas and Keyboard: An Art-Tech Affair
                                    .card-meta-user
                                        .box-author-small 
                                            img(src="assets/imgs/page/homepage1/avatar.png", alt="Travilla")
                                            p.text-sm-bold By Jimmy Dave
                                        .date-post 
                                            p.text-sm-medium 12 January 2024
                    .swiper-slide
                        .card-blog
                            .card-image
                                img(src="assets/imgs/page/blog/blog4.png", alt="Travila")
                            .card-info
                                .card-info-blog
                                    a.btn.btn-label-tag(href="#") Cultural
                                    a.card-title.heading-5(href="blog-detail.html") Wanderlust Whispers: My Global Gastronomic Odyssey
                                    .card-meta-user
                                        .box-author-small 
                                            img(src="assets/imgs/page/homepage1/avatar.png", alt="Travilla")
                                            p.text-sm-bold By Jimmy Dave
                                        .date-post 
                                            p.text-sm-medium 12 January 2024
                    .swiper-slide
                        .card-blog
                            .card-image
                                img(src="assets/imgs/page/blog/blog.png", alt="Travila")
                            .card-info
                                .card-info-blog
                                    a.btn.btn-label-tag(href="blog-grid-2.html") Cultural
                                    a.card-title.heading-5(href="blog-detail.html") Fashion Forward, Tech Savvy: My Lifestyle Fusion
                                    .card-meta-user
                                        .box-author-small 
                                            img(src="assets/imgs/page/homepage1/avatar.png", alt="Travilla")
                                            p.text-sm-bold By Jimmy Dave
                                        .date-post 
                                            p.text-sm-medium 12 January 2024