section.section-box.box-banner-home2.box-banner-tour-detail-2.background-body
    .box-banner-tour-detail-2-inner
        .container-top 
            .container
        .container-banner 
            .banner-main
                .banner-slide
                    .banner-image
                .banner-slide
                    .banner-image
                .banner-slide
                    .banner-image
                .banner-slide
                    .banner-image

            .slider-thumnail 
                .slider-nav-thumbnails
                    .banner-slide
                        img(src="assets/imgs/page/tour-detail/banner-thumb.png", alt="Travila")
                    .banner-slide
                        img(src="assets/imgs/page/tour-detail/banner-thumb2.png", alt="Travila")
                    .banner-slide
                        img(src="assets/imgs/page/tour-detail/banner-thumb3.png", alt="Travila")
                    .banner-slide
                        img(src="assets/imgs/page/tour-detail/banner-thumb2.png", alt="Travila")
