section.box-section.box-banner-destination.background-body.mb-60
    .block-banner-destination 
        .box-swiper
            .swiper-container.swiper-group-1
                .swiper-wrapper
                    .swiper-slide
                        .block-banner-destination-inner
                            img(src="assets/imgs/page/destination/banner2.png", alt="Travila")
                    .swiper-slide
                        .block-banner-destination-inner
                            img(src="assets/imgs/page/destination/banner2.png", alt="Travila")
            .swiper-button-prev.swiper-button-prev-style-1.swiper-button-prev-group-1
                svg(xmlns='http://www.w3.org/2000/svg', width='16', height='16', viewbox='0 0 16 16', fill='none')
                    path(d='M7.99992 3.33325L3.33325 7.99992M3.33325 7.99992L7.99992 12.6666M3.33325 7.99992H12.6666', stroke='', stroke-linecap='round', stroke-linejoin='round')
            .swiper-button-next.swiper-button-next-style-1.swiper-button-next-group-1
                svg(xmlns='http://www.w3.org/2000/svg', width='16', height='16', viewbox='0 0 16 16', fill='none')
                    path(d='M7.99992 12.6666L12.6666 7.99992L7.99992 3.33325M12.6666 7.99992L3.33325 7.99992', stroke='', stroke-linecap='round', stroke-linejoin='round')
    .container 
        include ../../elements/box-search-4.pug