.box-form-add {
    padding: 45px;
    background-color: var(--bs-background-body);
    border: 1px solid var(--bs-border-color);
    border-radius: 8px;
    margin-bottom: 31px;
    .form-group {
        margin-bottom: 30px;
    }
}
.item-upload-image {
    border: 1px dashed var(--bs-warning);
    background-color: var(--bs-background-9);
    width: 100%;
    height: 183px;
    border-radius: 8px;
    line-height: 183px;
    position: relative;
    input {
        opacity: 0;
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        z-index: 123;
    }
    .upload-info {
        line-height: 26px;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        width: 100%;
        .icon-upload {
            margin-bottom: 8px;
        }
        svg {
            fill: var(--bs-neutral-1000);
        }
    }
}
.list-image-upload {
    display: flex;
    align-items: center;
    margin: 0px -6px;
    .box-upload-image {
        padding: 0px 6px;
        width: 25%;
    }
    .preview-images {
        width: 75%;
        padding: 0px 6px;
        .list-preview {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin: 0px -6px;
            .image-preview {
                width: 33.33%;
                padding: 0px 6px;
                .box-image-preview {
                    overflow: hidden;
                    position: relative;
                    border-radius: 8px;
                    max-height: 183px;
                    img {
                        display: block;
                        width: 100%;
                    }
                    .btn-delete-image {
                        position: absolute;
                        bottom: 9px;
                        right: 7px;
                        z-index: 123;
                        background-color: var(--bs-neutral-0);
                        border-radius: 4px;
                        padding: 6px 9px;
                        svg {
                            stroke: var(--bs-neutral-1000);
                        }
                    }
                }
            }
        }
    }
}
.box-border-bottom {
    padding: 0px 0px 40px 0px;
    margin-bottom: 30px;
    border-bottom: 1px solid var(--bs-border-color);
}
.mb-12 {
    margin-bottom: 12px;
}
.lbl-checkbox {
    margin-bottom: 7px;
    input {
        float: left;
        margin: 5px 7px 0px 0px;
    }
}
.box-extra-services {
    .item-extra-service {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
        .item-extra-1 {
            width: 50%;
            padding-right: 12px;
        }
        .item-extra-2 {
            width: 50%;
            padding-right: 12px;
        }
        .item-extra-3 {
            min-width: 32px;
            max-width: 32px;
            svg {
                stroke: var(--bs-neutral-1000);
                &:hover {
                    stroke: var(--bs-danger);
                }
            }
        }
    }
}
.box-button-search {
    padding-bottom: 45px;
    .dropdown {
        display: inline-block;
    }
}
@media (min-width: 1490px) {
    .tour-list-dashboard {
        .row {
            .col-xxl-3 {
                flex: 0 0 auto;
                width: 20%;
            }
        }
    }
}
.box-form-search {
    display: inline-block;
    vertical-align: top;
    .form-search {
        display: flex;
        align-items: center;
    }
    .form-control {
        background-color: transparent;
        border: 1px solid var(--bs-border-color);
        height: 38px;
        margin-right: 4px;
    }
    .btn-black-sm {
        padding: 9px 20px;
        background-color: var(--bs-neutral-1000);
        color: var(--bs-neutral-0);
        &:hover {
            background-color: var(--bs-neutral-500);
            color: var(--bs-neutral-0);
        }
    }
}