section.section-box.box-become-video.background-body
    .container 
        .text-center
            .d-flex.justify-content-center
                span.btn.btn-brand-secondary.wow.fadeInUp 
                    img.mr-10(src="assets/imgs/page/homepage4/earth.svg", alt="Travila") 
                    | Work With Us
            h2.mt-15.mb-15.neutral-1000.wow.fadeInUp Become Local Expert
            p.text-xl-medium.neutral-1000.mb-55.wow.fadeInUp Anywhere you choose, you have the potential to become a Local Expert in anything
        .box-image-video.mb-0 
            img.bdrd-16(src="assets/imgs/page/pages/banner2.png", alt="Travilla")
            a.btn-play-video.popup-youtube(href="https://www.youtube.com/watch?v=JXMWOmuR1hU")