section.box-section.box-banner-tour-detail.background-body
    .block-banner-tour-detail 
        .row    
            .col-xl-4.col-lg-6
                .row 
                    .col-lg-12.col-sm-6
                        .banner-detail-1 
                            img(src="assets/imgs/page/tour-detail/banner.png", alt="Travila")
                    .col-lg-12.col-sm-6    
                        .banner-detail-2 
                            img(src="assets/imgs/page/tour-detail/banner2.png", alt="Travila")
            .col-xl-4.col-lg-12
                .banner-detail-3 
                    img(src="assets/imgs/page/tour-detail/banner3.png", alt="Travila")
            .col-xl-4.col-lg-12
                .row 
                    .col-sm-6
                        .banner-detail-4 
                            img(src="assets/imgs/page/tour-detail/banner4.png", alt="Travila")
                    .col-sm-6
                        .banner-detail-5 
                            img(src="assets/imgs/page/tour-detail/banner5.png", alt="Travila")
                .banner-detail-6 
                    img(src="assets/imgs/page/tour-detail/banner6.png", alt="Travila")