section.box-section.block-banner-tourlist.block-banner-car 
    .container 
        .text-center 
            h3.mb-15 Rent Your Perfect Ride Anytime, Anywhere
            h6.heading-6-medium Search and find your best car rental with easy way

        include ../../elements/box-search-3.pug