section.box-section.box-numbers-2.background-body 
    .container 
        .list-numbers.border-1.wow.fadeInUp 
            .item-number 
                .d-inline-block.text-start
                    h3.neutral-1000 45+
                    p.text-lg-bold.neutral-500 Global
                        br
                        | Branches
            .item-number 
                .d-inline-block.text-start
                    h3.neutral-1000 29K
                    p.text-lg-bold.neutral-500 Destinations
                        br
                        | Collaboration
            .item-number 
                .d-inline-block.text-start
                    h3.neutral-1000 20+
                    p.text-lg-bold.neutral-500 Years
                        br
                        | Experience
            .item-number 
                .d-inline-block.text-start
                    h3.neutral-1000 168K
                    p.text-lg-bold.neutral-500 Happy
                        br
                        | Customers