section.section-box.box-testimonials-2.box-testimonials-6.background-body
    .container 
        .text-center.wow.fadeInUp
            .d-flex.justify-content-center
                .box-author-testimonials 
                    img(src="assets/imgs/page/homepage1/testimonial.png", alt="Travila")
                    img(src="assets/imgs/page/homepage1/testimonial2.png", alt="Travila")
                    img(src="assets/imgs/page/homepage1/testimonial3.png", alt="Travila")
                    | Testimonials
            h4.mt-8.mb-5.neutral-1000 What Our Clients Say

        .box-img-test-1 
            img(src="assets/imgs/page/homepage10/img-test.png", alt="Travila")
        .box-img-test-2
            img(src="assets/imgs/page/homepage10/img-test2.png", alt="Travila")
        .box-img-test-3 
            img(src="assets/imgs/page/homepage10/img-test3.png", alt="Travila")
        .box-img-test-4 
            img(src="assets/imgs/page/homepage10/img-test4.png", alt="Travila")
        .row.align-items-center.wow.fadeInUp 
            .col-lg-2
            .col-lg-8.mb-30
                .box-swiper
                    .swiper-container.swiper-group-1.swiper-group-journey.pb-0
                        .swiper-wrapper
                            -
                                const itemTestLists = [
                                    {
                                        image: "assets/imgs/page/homepage1/author.png",
                                        title: 'The best booking system',
                                        desc: "I've been using the hotel booking system for several years now, and it's become my go-to platform for planning my trips. The interface is user-friendly, and I appreciate the detailed information and real-time availability of hotels.",
                                        author: 'Sara Mohamed',
                                        position: 'Jakatar'

                                    },
                                    {
                                        image: "assets/imgs/page/homepage1/author2.png",
                                        title: 'The best booking system',
                                        desc: "I've been using the hotel booking system for several years now, and it's become my go-to platform for planning my trips. The interface is user-friendly, and I appreciate the detailed information and real-time availability of hotels.",
                                        author: 'Atend John',
                                        position: 'Califonia'
                                    },
                                    {
                                        image: "assets/imgs/page/homepage1/author.png",
                                        title: 'The best booking system',
                                        desc: "I've been using the hotel booking system for several years now, and it's become my go-to platform for planning my trips. The interface is user-friendly, and I appreciate the detailed information and real-time availability of hotels.",
                                        author: 'Sara Mohamed',
                                        position: 'Jakatar'
                                    },
                                    {
                                        image: "assets/imgs/page/homepage1/author2.png",
                                        title: 'The best booking system',
                                        desc: "I've been using the hotel booking system for several years now, and it's become my go-to platform for planning my trips. The interface is user-friendly, and I appreciate the detailed information and real-time availability of hotels.",
                                        author: 'Sara Mohamed',
                                        position: 'Jakatar'
                                    }
                                ]
                            each item in itemTestLists
                                .swiper-slide
                                    .card-testimonial.card-testimonial-2
                                        .card-top
                                            .card-author 
                                                .card-image 
                                                    img(src= item.image, alt="Travila")
                                                .card-info 
                                                    p.text-lg-bold.neutral-1000= item.author
                                            .card-rate 
                                                img(src="assets/imgs/template/icons/star.svg", alt="Travila")
                                                img(src="assets/imgs/template/icons/star.svg", alt="Travila")
                                                img(src="assets/imgs/template/icons/star.svg", alt="Travila")
                                                img(src="assets/imgs/template/icons/star.svg", alt="Travila")
                                                img(src="assets/imgs/template/icons/star.svg", alt="Travila") 
                                        .card-info 
                                            p.neutral-1000.text-md= item.desc
                                        .card-bottom 
                                            p.text-sm-bold.neutral-1000 --- Budget Explorer ---

                    .swiper-pagination.swiper-pagination-group-1.swiper-pagination-style-3

            .col-lg-2